<section id="free-your-inbox">
  <div class="container">
    <div class="section-text cta-section">
      <h2 class="cta-heading">{{ _('<span class="txt-gradient">Free</span> Your Inbox') }}</h2>
      <h4 class="cta-sub-heading">{{ _('Are you ready to love email again?') }}</h4>
    </div>
    <div class="cta">
      <div class="download-button">
        {{ download_thunderbird(force_direct=true, alt_copy=_('Download'), section="homepage-bottom",  button_class="btn-download btn-white-bg") }}
      </div>
    </div>
  </div>
</section>