// ========================================================================
// Only the necessary variables and mixins needed to compile site-nav.less
@import '../common/site-nav-variables.less';
@import '../common/site-nav-mixins.less';

@import '../new/components/site-nav.less';
// ========================================================================

// For the language select drop-down
@import '../new/components/forms.less';

// Shared styles
@import "../common/fonts.less";
@import "../common/breakpoints.less";
@import "../common/space.less";
@import "../common/fonts.less";
@import "../common/tab-navigation-bar.less";
@import "../common/common-footer.less";
@import "../common/tb-footer.less";


// Variables
:root {
    --colour-primary-default: #58c9ff;
    --colour-text-icon-base: #eeeef0;
    --colour-surface-base: #1a202c;
    --colour-surface-border: #3d4d67;
}



// Additional styles for the language select drop down
.fill-current {
  display: none;
}


// This is to make the body full height and roughly align with
// what's on www.
// Lifted from layout.less
body {

    font-size: var(--font-body);
    line-height: 1.5;
    font-weight: 300;
    background: var(--bg);
    color: var(--txt);
    position: relative;
    scroll-padding-top: var(--nav-height);
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.site-nav {
    // outline: 1px solid red;

}


// TODO: move footer support styles to
// Additional styles needed to make the footer work




// From /assets/less/new/layout.less

.site-links {
  font-size: var(--font-md);
  display: grid;
  gap: 30px;
  width: 100%;
  grid-template:
                "a c d e" 30px
                "b c d e";

  .site-link-section {
    display: flex;
    flex-direction: column;
    height: 180px;

    h4 {
      margin-top: 0;
      margin-bottom: 1rem;
      padding-left: 40px;
    }

    .home {
      font-weight: 600;
    }

    ul {
      list-style: none;
      margin: 0;
    }

    li {
      margin-bottom: 0.5rem;
    }

    // Help our grid template pick the correct b...
    &:nth-child(2) {
      grid-area: b;
    }
  }

  @media (max-width: @md) {
    display: flex;
    flex-direction: column;

    .site-link-section {
      height: auto;
    }
  }
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-inline: 1rem;
    padding-block: clamp(1rem, 5.469vw, 4.375rem); // 4.375rem~
    margin-inline: auto;
    max-width: 1280px;
    overflow: hidden;

    // For the product pages
    &.container-tight {
        max-width: 1040px;
    }

    &.no-gap {
        gap: 0;
    }

    @media (max-width: @md) {
        // Give them some space to breath
        width: calc(100% - 1rem);
        box-sizing: border-box;
    }
}

.logo {
    max-height: 100%;
    min-width: 250px;
    max-width: 250px;
    height: 60px;
    width: auto;
    transition: color .2s;
}

.logo:hover,
.mozilla-logo:hover {
    color: var(--accent);
    transform: none;
}

svg {
    max-height: 100%;
    max-width: 100%;
}


// actual roadmap styles
main {
    margin-top: 122px; // TODO: change this to a calculation.
    outline: 1px solid green;

    height: 100%;
    flex: 1 1 auto;
}

#main-content {
    padding-block: 1.5rem;
    padding-inline: 1rem;
    // Page heading
    h1 {
        .brand-headline-h1-sm();
        margin: 0;
        padding: 0;
        @media (max-width: @md) {

        }

    }

    // The paragraph immediately following
    h1 + p {
        .web-body-default();
        margin-top: 1rem;
        @media (max-width: @md) {

        }
    }


    // Card styles
    ul, li {
        margin: 0;
        padding: 0;
    }

    li + li {
        margin-top: 0.5rem;
    }

    .card {

        background-color: var(--colour-surface-base);
        list-style: none;
        position: relative;

        display: grid;
        grid-template-rows: auto 1fr auto;
        column-gap: 1rem;
        row-gap: 0.5rem;

        padding-block: 0.75rem 1rem;
        padding-inline: 0.75rem;

        // The rest of the content is not wrapped in a tag.
        .web-body-small();
        line-height: 1.075rem;

        strong {
            .web-title-small();
            display: block;
        }

        &, a {
            color: var(--colour-text-icon-base);
            text-decoration: none;
        }

        // Note: this is probably from bolt.
        a {
            border: 1px solid var(--colour-primary-default);
            border-radius: 0.5rem;
            display: inline-block;
            justify-self: start;
            margin-top: 0.25rem;
            padding-block: 0.84375rem;
            padding-inline: 1rem;

        }
    }

    .card-icon {
        grid-template-columns: 1rem 1fr;
        &::before {
            content: "*";
            color: var(--colour-primary-default);
            font-size: 24px;
            display: block;
            grid-column: 1;
            grid-row: 1 / span 3;
            align-self: start;
            justify-self: center;
        }
    }

}
