.page-donations-help {
  .section-text {
    text-align: left;
    font-family: 'Inter', sans-serif !important;
    padding-bottom: 0;

    @media (max-width: @md) {
      max-inline-size: 100%;
      padding-inline: 0;
    }
  }
  .intro {
    font-size: var(--font-body);
  }
  .container {
    gap: 1rem;

    @media (max-width: @md) {
      padding-block: 0;
      display: flex;
      flex-direction: column;
    }
  }

  .wFormHeader {
    display: none;
  }

  .wFormContainer {
    .btn {
      // override form assembly theme
      padding: .5em 3em !important;
      // give it some space
      margin-top: 1rem;
    }
  }

  @media (max-width: @md) {
    .wFormContainer .wForm form {
      padding: 0;
    }
  }
}


