.page-donations-help {
  .section-text {
    text-align: left;
    font-family: 'Inter', sans-serif !important;
  }
  .intro {
    font-size: var(--font-body);
  }
  .container {
    gap: 1rem;
  }
}


