.page-index {
  #masthead,
  header {
    display: grid;
    place-items: center;
    min-height: 80vh;
    background-color: black;
    background-image: url('../img/thunderbird/new/hero/hero.png'),
    linear-gradient(to top, var(--color-ink-90), black 80%);
    background-size: auto 80vh, 100%;
    background-position: bottom center, center;
    background-repeat: no-repeat;
    color: var(--color-gray-20);
    padding-top: var(--nav-size);
    isolation: isolate;
  }

  // Override logo colours
  .logo {
    --accent: var(--color-blue-20);
  }

  .logo:hover,
  .mozilla-logo:hover {
    color: var(--accent);
  }

  .site-nav {
    background: var(--nav-bg);
    color: var(--nav-txt);

    --hamburger-background-inactive: var(--color-black);
    --hamburger-foreground-inactive: var(--color-gray-30);
    --hamburger-background-active: var(--color-white);
    --hamburger-foreground-active: var(--color-black);
  }

  .section-text {
    max-inline-size: 50%;

    @media (max-width: @md) {
      max-inline-size: 100%;
    }
  }

  .section-text :where(h2) {
    font-size: 2.75rem;
    font-weight: 800;
    margin: 0;
  }

  .section-text :where(h3) {
    font-size: 1.4rem;
    font-weight: 300;
    margin: 0;
    margin-bottom: 2em;
  }

  .testimonials {
    @media (max-width: @lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}