.page-index {
  #masthead,
  header {
    --bg-hero-gradient: linear-gradient(to top, var(--color-ink-90), black 80%);
    --bg-hero: url('/media/img/thunderbird/new/hero/hero.png');
    --bg-hero-set: image-set(url('/media/img/thunderbird/new/hero/hero.avif') type('image/avif'),
    url('/media/img/thunderbird/new/hero/hero.webp') type('image/webp'),
    var(--bg-hero) type('image/png'));

    display: grid;
    place-items: center;
    min-height: 80vh;
    background-color: black;
    background-image: var(--bg-hero), var(--bg-hero-gradient);
    background-image: var(--bg-hero-set), var(--bg-hero-gradient);

    background-size: auto 80vh, 100%;
    background-position: bottom center, center;
    background-repeat: no-repeat;
    color: var(--color-gray-20);
    padding-top: var(--nav-size);
    isolation: isolate;
  }

  // Override logo colours
  .logo {
    --accent: var(--color-blue-20);
  }

  .logo:hover,
  .mozilla-logo:hover {
    color: var(--accent);
  }

  .site-nav {
    color: var(--nav-txt);

    --hamburger-background-inactive: var(--color-black);
    --hamburger-foreground-inactive: var(--color-gray-30);
    --hamburger-background-active: var(--color-white);
    --hamburger-foreground-active: var(--color-black);
  }

  .section-text {
    max-inline-size: 50%;

    @media (max-width: @md) {
      max-inline-size: 100%;
    }
  }


  .section-heading {
    font-size: 2.75rem;
    font-weight: 800;
    margin: 0;
  }

  .testimonials {
    @media (max-width: @lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  #free-from-manipulation {
    background-image: linear-gradient(to top, color-mix(in srgb, var(--color-purple-10) 50%, transparent), transparent 20%);
    background-position: bottom center;
    background-repeat: no-repeat;
    overflow: hidden;

    .container {
      margin-bottom: 400px;
    }

    .cta {
      margin-top: 1.5rem;
    }
  }

  .planets {
    position: absolute;
    inset: 0;
    z-index: -1;
    max-width: 1900px;

    display: flex;
    justify-content: center;
    margin: auto;
  }

  .planet-thunderbird {
    position: absolute;
    inset-inline: 0;
    bottom: 0;
    filter: drop-shadow(0 0 50px var(--color-blue-20));

    left: -11.25%;

    picture, img {
      max-width: 110%;
      width: 110%;
    }
  }

  .planet-firefox {
    position: absolute;
    right: 7%;
    bottom: 25%;
    height: 200px;
    width: 200px;
    filter: drop-shadow(0 0 50px var(--color-orange-30));
  }


  #free-your-inbox {
    .cta {
      --btn-bg: color-mix(in srgb, var(--bg) 90%, transparent);
      display: grid;
      place-items: center;
      gap: 9px;
    }

    .mask {
      --bg: black;
    }
  }


  @media (max-width: @md) {
    #free-from-manipulation {
      .container {
        margin-bottom: 100px;
      }
    }

    .planet-thunderbird {
      // Cover up a gap!
      margin-bottom: -10px;
    }

    .planet-firefox {
      display: none;
    }
  }

  @media (max-width: @sm) {
    #free-from-manipulation {
      .container {
        margin-bottom: 50px;
      }
    }
  }
}