.page-release-notes {
  .header-section {
    margin-top: 6rem;
    margin-bottom: 2rem;

    &:first-child {
      margin-top: 0;
    }
  }

  .note-container {
    display: flex;
    align-items: start;
    flex-direction: row;
    margin-bottom: 1rem;
    gap: 3rem;
  }

  .note-line {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-transform: capitalize;
  }

  .note-icon {
    width: 1.5rem;
    color: var(--color-blue-70);
  }

  .note-entry {
    margin: 0;
  }

  .note-text {
    text-align: left;
    font-weight: 500;
    p {
      margin: 0;
    }
  }
}