.page-releases {
  .release-list {
    width: 100%;
  }

  .release-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    border-bottom: var(--border-size) solid;
    border-color: var(--border-color);
    padding-top: 2rem;
    padding-bottom: 2rem;
    @media (max-width: @md) {
      flex-direction: column;
    }
    &:last-child {
      border: none;
    }
  }

  .release-major {
    font-size: 150%;
    min-width: 15%;
    margin-top: 0;
    text-align: left;
  }

  .release-minors {
    width: 100%;
  }

  .release-minors ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));

    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 0.5rem;
    align-items: start;
    list-style: none;
    line-height: 1.5;
    margin: auto;
  }


  .two-columns {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: auto;
    justify-content: center;
    text-align: left;
  }

  .atom-feed {
    display: flex;
    width: 4rem;
    text-align: right;
    align-items: center;
  }

  @media (max-width: @sm) {
    .release-minors ul {
      padding: 0;
      max-height: none;
    }
  }
}