.page-system-requirements {
  ul {
    .styled-list();
  }
  li {
    p {
      display: inline-block;
      margin-left: 0.5rem;
    }
  }

  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .section-text {
    text-align: left;
  }
}