/****************************************************************************/
/****************************************************************************/
.space #wrapper {
  background-repeat: no-repeat;
  background-position: 0 180px;
  background-image: url('/media/img/firefox/releasenotes/aurora_bg_800.png');
}
.notes-head {
  zoom: 1;
  margin-bottom: 40px;
}
.notes-head:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.notes-head h1,
.notes-head h2,
.notes-head p {
  float: left;
  width: 540px;
  margin: 0 10px;
}
.notes-head h1 {
  margin-bottom: .15em;
}
.notes-head h2 {
  font-size: 1.428em;
  letter-spacing: normal;
  margin-bottom: .75em;
}
.notes-head p {
  margin-bottom: 1em;
}
.space .notes-head {
  background-repeat: no-repeat;
  background-position: top left;
  background-image: url('/media/img/firefox/releasenotes/aurora_small.png');
  background-size: 150px auto;
  padding: 10px 0 0 150px;
}
.blueprint .notes-head h1,
.blueprint .notes-head h2,
.blueprint .notes-head p {
  float: left;
  width: 620px;
  margin: 0 10px;
}
.blueprint .notes-head h1 {
  margin-bottom: .15em;
}
.blueprint .notes-head h2 {
  margin-bottom: .75em;
}
#platform {
  float: right;
  overflow: hidden;
}
#platform a {
  color: #fff;
}
#platform h4 {
  font-size: 15px;
  font-size: 0.9375rem;
  margin: 0 0 6px 0;
  padding: 0;
}
#platform ul {
  margin: 0;
  padding: 3px;
  float: left;
  box-shadow: 0 3px 3px rgba(126, 137, 147, 0.5) inset, 0 1px rgba(185, 197, 204, 0.5);
  border-radius: 9px;
  background: #b1becc;
  background: rgba(207, 218, 230, 0.25);
}
#platform li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
}
#platform a {
  border-bottom: 1px solid rgba(43, 58, 153, 0.5);
  box-shadow: 0 -2px rgba(0, 0, 0, 0.2) inset;
  background-color: #2e4e99;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(top, #7ca9f4 0%, #4b79c6 3%, #2e4e99 100%);
  /* Chrome10+,Safari5.1+ */
  background-image: linear-gradient(to bottom, #7ca9f4 0%, #4b79c6 3%, #2e4e99 100%);
  /* the standard */
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
}
#platform span {
  color: #506aa1;
  border-bottom: 1px solid #22366d;
  box-shadow: 0 2px 1 px #0b1b41 inset;
  background-color: #254d90 95%;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(top, #1a2f5a 14%, #254d90 95%);
  /* Safari 5.1+, Chrome 10+ */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a2f5a 14%', endColorstr='#254d90 95%', GradientType=0)";
  /* IE8+ */
  background-image: linear-gradient(to bottom, #1a2f5a 14%, #254d90 95%);
  /* the standard */
  border-radius: 0 6px 6px 0;
  text-shadow: 0 1px rgba(28, 54, 112, 0.35);
}
#platform li:first-child {
  padding-right: 1px;
}
#platform li:first-child a,
#platform li:first-child span {
  border-radius: 6px 0 0 6px;
}
#platform a,
#platform span {
  display: block;
  padding: 12px 16px;
  font-family: 'Open Sans', X-LocaleSpecific, sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0 6px 6px 0;
}
.space #platform ul {
  box-shadow: 0 0 10px rgba(72, 23, 95, 0.35) inset, 0 -1px 0 rgba(134, 80, 168, 0.5) inset;
}
.space #platform a {
  background-color: #c63;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(top, #f2a279 0%, #f28047 3%, #c63 100%);
  /* Chrome10+,Safari5.1+ */
  background-image: linear-gradient(to bottom, #f2a279 0%, #f28047 3%, #c63 100%);
  /* the standard */
}
.space #platform span {
  color: #d79676;
  background-color: #ac5022 95%;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(top, #7b3816 14%, #ac5022 95%);
  /* Safari 5.1+, Chrome 10+ */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#7b3816 14%', endColorstr='#ac5022 95%', GradientType=0)";
  /* IE8+ */
  background-image: linear-gradient(to bottom, #7b3816 14%, #ac5022 95%);
  /* the standard */
}
a.go:after,
.sidebar a:after {
  content: " »";
  white-space: nowrap;
}
article {
  zoom: 1;
}
article:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.notes-section {
  box-shadow: 0 0 0 1px #fff inset;
  background: #fff;
  border-bottom: 1px solid #ddd;
  margin: 0 -20px 20px;
  padding: 20px 20px;
}
.blueprint .notes-section {
  background: #111;
  background: rgba(9, 68, 121, 0.1);
  border: 1px solid rgba(25, 93, 153, 0.5);
  box-shadow: 0 0 10px rgba(9, 68, 121, 0.36) inset;
}
.space .notes-section {
  background: #303;
  background: rgba(40, 6, 57, 0.25);
  border: 1px solid rgba(80, 27, 91, 0.5);
  box-shadow: 0 0 10px rgba(72, 23, 95, 0.36) inset, 0 -1px 0 rgba(134, 80, 168, 0.5) inset;
}
.section-items {
  list-style: none;
  margin: 0;
}
.section-items > li {
  border-top: 1px solid #d6d6d6;
  margin: 0;
  padding: .714rem 0 .5rem;
  position: relative;
}
.section-items h4 {
  font-size: 18px;
  font-size: 1.125rem;
  margin: 0 0 .25em;
}
.section-items p {
  margin: 0 0 .25em;
}
.section-items .note {
  font-size: 12px;
  font-size: 0.75rem;
  color: #484848;
  margin: 0 0 .25em;
}
.space .section-items > li {
  border-top-color: #522853;
}
.blueprint .section-items > li {
  border-top-color: #173e62;
}
.section-items.tagged > li {
  padding-left: 160px;
}
.section-items.tagged > li.untagged {
  padding-left: 0;
}
.section-items.tagged .tag {
  background: #f3f3f3 url('/media/img/firefox/releasenotes/tags.png') 0 0 no-repeat;
  border-right: 3px solid #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), 0 -1px 0 rgba(0, 0, 0, 0.05) inset;
  color: #333;
  display: inline-block;
  font-size: 11px;
  font-size: 0.6875rem;
  font-style: normal;
  line-height: 14px;
  padding: 4px 2px 4px 33px;
  position: absolute;
  top: .714rem;
  left: 0;
  text-shadow: 1px 1px 0 #fff;
  text-transform: uppercase;
  width: 102px;
}
.section-items.tagged .tag-new {
  background-color: #ffedcf;
  background-position: 0 -50px;
  border-color: #f90;
}
.section-items.tagged .tag-changed {
  background-color: #e9cfff;
  background-position: 0 -100px;
  border-color: #8106e0;
}
.section-items.tagged .tag-fixed {
  background-color: #f0ffe1;
  background-position: 0 -150px;
  border-color: #5ba622;
}
.section-items.tagged .tag-html5 {
  background-color: #f8dfd8;
  background-position: 0 -200px;
  border-color: #d85027;
}
.section-items.tagged .tag-resolved {
  background-color: #dcf6ff;
  background-position: 0 -250px;
  border-color: #038fc0;
}
.section-items.tagged .tag-unresolved {
  background-color: #ffc8c8;
  background-position: 0 -300px;
  border-color: #c00;
}
.section-items.tagged .tag-developer {
  background-color: #e7e7e7;
  background-position: 0 -350px;
  border-color: #999;
}
.sidebar section {
  border-bottom: 1px dotted #bdbdbd;
  margin-bottom: 20px;
}
.sidebar section h3 {
  font-size: 22px;
  font-size: 1.375rem;
}
.space .sidebar section {
  border-bottom-color: #522853;
}
.blueprint .sidebar section {
  border-bottom-color: #173e62;
}
#try {
  box-shadow: 0 0 0 1px #fff inset;
  background: #fff;
  border-bottom: 1px solid #ddd;
  margin: 0 -20px 20px;
  padding: 20px 20px;
}
#try ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
#try li {
  font-size: 18px;
  font-size: 1.125rem;
  margin: 0;
  padding: .5em 0 .5em 40px;
  position: relative;
}
#try li:before {
  display: block;
  width: 1.25em;
  height: 1.5em;
  padding: 0 .15em;
  background: #09c;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -0.75em;
  text-align: center;
  line-height: 1.5em;
  vertical-align: middle;
  border-radius: 50%;
}
#try li.try1:before {
  content: '1';
}
#try li.try2:before {
  content: '2';
}
#try li.try3:before {
  content: '3';
}
#try li.try4:before {
  content: '4';
}
.space #try {
  background: #003;
  background: rgba(165, 165, 165, 0.08);
  border: 1px solid rgba(80, 80, 80, 0.25);
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.36) inset, 0 -1px 0 rgba(153, 153, 153, 0.25) inset;
}
.space #try li:before {
  background: #c63;
}
#problems li {
  margin: 0 0 .5em 20px;
}
#other p + p {
  margin-top: -0.5em;
}
/* Tablet Layout: 760px */
@media only screen and (min-width: 760px) and (max-width: 1000px) {
  .space #wrapper {
    background-size: 650px;
  }
  .notes-head h1,
  .notes-head h2,
  .notes-head p {
    float: left;
    width: 400px;
    margin: 0 10px;
  }
  .blueprint .notes-head h1,
  .blueprint .notes-head h2,
  .blueprint .notes-head p {
    float: none;
    width: auto;
    margin: 0 10px;
  }
  .blueprint .notes-head h1 {
    margin-bottom: .15em;
  }
  .blueprint .notes-head h2 {
    margin-bottom: .75em;
  }
  .space .notes-head p {
    float: left;
    width: 340px;
    margin: 0 10px;
  }
}
/* Mobile Layout: 320px */
@media only screen and (max-width: 760px) {
  .space #wrapper {
    background-size: 320px;
  }
  .notes-head h1,
  .blueprint .notes-head h1,
  .notes-head h2,
  .blueprint .notes-head h2,
  .notes-head p,
  .blueprint .notes-head p {
    float: none;
    width: auto;
    margin: 0 10px;
  }
  .notes-head h1,
  .blueprint .notes-head h1 {
    margin-bottom: .15em;
  }
  .notes-head h2,
  .blueprint .notes-head h2 {
    margin-bottom: .75em;
  }
  .space .notes-head {
    background-image: none;
    padding: 0;
  }
  #platform {
    float: none;
    margin: 20px 10px;
  }
  .section-items.tagged > li {
    padding-left: 0;
    display: block;
    word-wrap: break-word;
    width: auto;
  }
  .section-items.tagged > li span {
    word-wrap: break-word;
  }
  .section-items.tagged .tag {
    position: static;
    display: block;
    width: auto;
    margin: 0 0 .75em;
  }
}

/****************************************************************************/
/****************************************************************************/
/* Top Level Menu Items */
#nav-main-menu {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0;
}
#nav-main-menu li {
  position: relative;
}
#nav-main-menu li.hover a {
  outline: 0;
}
#nav-main-menu li.hover a[aria-haspopup="true"] {
  background-image: url("/media/img/sandstone/menu-point.png");
  background-repeat: no-repeat;
  background-position: center 2.75em;
}
/* Second-level Menu Items */
#masthead nav .sublink {
  text-transform: none;
}
.js #nav-main li.hover .submenu {
  left: 0;
  opacity: 1;
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
#nav-main .submenu,
#nav-main .submenu li {
  height: auto;
  border: 0;
  float: none;
  display: block;
}
#nav-main .submenu {
  position: absolute;
  z-index: 100;
  left: -999em;
  top: 43px;
  opacity: 0;
  width: 190px;
  text-shadow: 1px 1px 0 #fff, 0 0 5px #fff;
  background: #fff;
  padding: 1px 0;
  border-bottom: 1px solid #ddd;
}
#nav-main .submenu li,
#nav-main .submenu li.hover {
  background-image: none;
}
#nav-main .submenu li a,
#nav-main .submenu li.hover a,
#nav-main .submenu li a:link,
#nav-main .submenu li.hover a:link,
#nav-main .submenu li a:visited,
#nav-main .submenu li.hover a:visited,
#nav-main .submenu li span,
#nav-main .submenu li.hover span {
  overflow: hidden;
  padding: 7px 10px;
  margin: 0;
  height: auto;
  float: none;
  display: block;
  font-size: 11px;
  font-size: 0.6875rem;
  border: 0;
  background: none;
  position: relative;
  -moz-transition: background 0.1s ease-in;
  -webkit-transition: background 0.1s ease-in;
  transition: background 0.1s ease-in;
}
#nav-main .submenu li a,
#nav-main .submenu li.hover a,
#nav-main .submenu li a:hover,
#nav-main .submenu li.hover a:hover,
#nav-main .submenu li a:focus,
#nav-main .submenu li.hover a:focus,
#nav-main .submenu li a:active,
#nav-main .submenu li.hover a:active {
  background: #e3ebf4;
  background: rgba(152, 178, 201, 0.2);
  -moz-transition: background 0.1s ease-out;
  -webkit-transition: background 0.1s ease-out;
  transition: background 0.1s ease-out;
}
#nav-main .submenu hr {
  height: 5px;
  margin: 0 auto 5px;
  width: 170px;
}
/* Bug 925995 */
html[dir="rtl"] #nav-main .submenu {
  left: 999em;
}
/* Currently active menu items */
#nav-mail ul li.current span,
#nav-mail ul li.current a,
#nav-mail ul li.current a:link,
#nav-mail ul li.current a:visited {
  background: #fbfdff;
  padding-right: 30px;
  padding-bottom: 15px;
}
#nav-mail ul li.current ul span,
#nav-mail ul li.current ul a,
#nav-mail ul li.current ul a:link,
#nav-mail ul li.current ul a:visited {
  background: none;
  height: auto;
  padding: 8px 10px;
}
/* {{{ Dark Background Header */
.darkbg #nav-main ul li a,
.darkbg #nav-main ul li a:link,
.darkbg #nav-main ul li a:visited,
.darkbg #nav-main ul li span {
  color: #fff;
  border-color: #555;
}
.darkbg #nav-main ul li li a,
.darkbg #nav-main ul li li a:link,
.darkbg #nav-main ul li li a:visited,
.darkbg #nav-main ul li li span {
  color: #484848;
}
.darkbg #nav-main ul li a:hover,
.darkbg #nav-main ul li:hover a,
.darkbg #nav-main ul li .hover a,
.darkbg #nav-main ul li .hover a:link,
.darkbg #nav-main ul li .hover a:visited {
  background: #ccc;
  color: #484848;
}
/* }}} */
/* Mobile Layout: 320px */
@media only screen and (max-width: 760px) {
  #nav-main-menu {
    margin: 15px 0 0 -10px;
  }
  #nav-main-menu li.hover a[aria-haspopup="true"] {
    background-image: none;
  }
  #nav-main-menu .submenu,
  .js #nav-main li.hover .submenu {
    left: -999em;
    top: auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
    opacity: 1;
    padding: 0;
  }
  #nav-main-menu .submenu a,
  #nav-main-menu .submenu a:link,
  #nav-main-menu .submenu a:visited {
    -moz-transition: none 0s;
    -webkit-transition: none 0s;
    transition: none 0s;
  }
}
