/****************************************************************************/
/****************************************************************************/
#main-feature h2 {
  line-height: 1.3;
}
#email-providers main > section {
  margin-top: 0;
}
[role="directory"] ul {
  display: block;
  overflow: hidden;
  margin: 0;
  border-bottom: 1px solid #d6d6d6;
  padding: 10px;
  background-color: #FFF;
  font-size: 16px;
  font-size: 1rem;
  text-align: center;
  list-style-type: none;
}
[role="directory"] ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 10px;
  padding: 0;
}
main > section {
  margin-top: 40px;
  border-bottom: 1px solid #d6d6d6;
  padding: 0 20px;
  background-color: #FFF;
}
main h2 {
  margin: 0;
  padding: 30px 10px;
}
main section section {
  overflow: hidden;
  padding: 30px 0;
  background: url('/media/img/thunderbird/features/thin-stripe.png') repeat-x center top;
}
main p {
  line-height: 1.7;
}
main p:last-child {
  margin-bottom: 0;
}
main .row {
  overflow: hidden;
}
main .col {
  float: left;
  width: 460px;
  margin: 0 10px;
}
main .col.full {
  float: none;
  width: auto;
  margin: 0 10px;
  overflow: hidden;
}
main img {
  vertical-align: top;
}
[dir="ltr"] main .col {
  float: left;
}
[dir="rtl"] main .col {
  float: right;
}
[dir="ltr"] main .col.full img.first {
  float: left;
  margin-right: 20px;
}
[dir="ltr"] main .col.full img.last {
  float: right;
  margin-left: 20px;
}
[dir="rtl"] main .col.full img.first {
  float: right;
  margin-left: 20px;
}
[dir="rtl"] main .col.full img.last {
  float: left;
  margin-right: 20px;
}
/* Tablet and Desktop */
@media only screen and (min-width: 760px) {
  #main-feature h1 {
    font-size: 64px;
    font-size: 4rem;
  }
  main h2 {
    font-size: 48px;
    font-size: 3rem;
  }
}
/* Tablet Layout: 760px */
@media only screen and (min-width: 760px) and (max-width: 1000px) {
  main .col {
    float: left;
    width: 340px;
    margin: 0 10px;
  }
  main .col.full {
    float: none;
    width: auto;
    margin: 0 10px;
  }
}
/* Mobile layout: 320px */
@media only screen and (max-width: 760px) {
  #main-feature h2 {
    font-size: 24px;
    font-size: 1.5rem;
  }
  [role="directory"] ul li {
    display: block;
  }
  main > section {
    margin-top: 20px;
    padding: 0 20px;
  }
  main h2 {
    padding: 30px 0;
  }
  main section section,
  main .row {
    overflow: visible;
  }
  main .col {
    float: none;
    width: auto;
    margin: 0 10px;
    margin: 0;
  }
  main .col.full {
    overflow: visible;
    margin: 0;
  }
  [dir="ltr"] main .col,
  [dir="rtl"] main .col,
  [dir="ltr"] main .col.full img.first,
  [dir="ltr"] main .col.full img.last,
  [dir="rtl"] main .col.full img.first,
  [dir="rtl"] main .col.full img.last {
    float: none;
    margin: 0;
  }
  img + h3 {
    margin-top: 12px;
  }
}

/****************************************************************************/
/****************************************************************************/
/* Top Level Menu Items */
#nav-main-menu {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0;
}
#nav-main-menu li {
  position: relative;
}
#nav-main-menu li.hover a {
  outline: 0;
}
#nav-main-menu li.hover a[aria-haspopup="true"] {
  background-image: url("/media/img/sandstone/menu-point.png");
  background-repeat: no-repeat;
  background-position: center 2.75em;
}
/* Second-level Menu Items */
#masthead nav .sublink {
  text-transform: none;
}
.js #nav-main li.hover .submenu {
  left: 0;
  opacity: 1;
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
#nav-main .submenu,
#nav-main .submenu li {
  height: auto;
  border: 0;
  float: none;
  display: block;
}
#nav-main .submenu {
  position: absolute;
  z-index: 100;
  left: -999em;
  top: 43px;
  opacity: 0;
  width: 190px;
  text-shadow: 1px 1px 0 #fff, 0 0 5px #fff;
  background: #fff;
  padding: 1px 0;
  border-bottom: 1px solid #ddd;
}
#nav-main .submenu li,
#nav-main .submenu li.hover {
  background-image: none;
}
#nav-main .submenu li a,
#nav-main .submenu li.hover a,
#nav-main .submenu li a:link,
#nav-main .submenu li.hover a:link,
#nav-main .submenu li a:visited,
#nav-main .submenu li.hover a:visited,
#nav-main .submenu li span,
#nav-main .submenu li.hover span {
  overflow: hidden;
  padding: 7px 10px;
  margin: 0;
  height: auto;
  float: none;
  display: block;
  font-size: 11px;
  font-size: 0.6875rem;
  border: 0;
  background: none;
  position: relative;
  -moz-transition: background 0.1s ease-in;
  -webkit-transition: background 0.1s ease-in;
  transition: background 0.1s ease-in;
}
#nav-main .submenu li a,
#nav-main .submenu li.hover a,
#nav-main .submenu li a:hover,
#nav-main .submenu li.hover a:hover,
#nav-main .submenu li a:focus,
#nav-main .submenu li.hover a:focus,
#nav-main .submenu li a:active,
#nav-main .submenu li.hover a:active {
  background: #e3ebf4;
  background: rgba(152, 178, 201, 0.2);
  -moz-transition: background 0.1s ease-out;
  -webkit-transition: background 0.1s ease-out;
  transition: background 0.1s ease-out;
}
#nav-main .submenu hr {
  height: 5px;
  margin: 0 auto 5px;
  width: 170px;
}
/* Bug 925995 */
html[dir="rtl"] #nav-main .submenu {
  left: 999em;
}
/* Currently active menu items */
#nav-mail ul li.current span,
#nav-mail ul li.current a,
#nav-mail ul li.current a:link,
#nav-mail ul li.current a:visited {
  background: #fbfdff;
  padding-right: 30px;
  padding-bottom: 15px;
}
#nav-mail ul li.current ul span,
#nav-mail ul li.current ul a,
#nav-mail ul li.current ul a:link,
#nav-mail ul li.current ul a:visited {
  background: none;
  height: auto;
  padding: 8px 10px;
}
/* {{{ Dark Background Header */
.darkbg #nav-main ul li a,
.darkbg #nav-main ul li a:link,
.darkbg #nav-main ul li a:visited,
.darkbg #nav-main ul li span {
  color: #fff;
  border-color: #555;
}
.darkbg #nav-main ul li li a,
.darkbg #nav-main ul li li a:link,
.darkbg #nav-main ul li li a:visited,
.darkbg #nav-main ul li li span {
  color: #484848;
}
.darkbg #nav-main ul li a:hover,
.darkbg #nav-main ul li:hover a,
.darkbg #nav-main ul li .hover a,
.darkbg #nav-main ul li .hover a:link,
.darkbg #nav-main ul li .hover a:visited {
  background: #ccc;
  color: #484848;
}
/* }}} */
/* Mobile Layout: 320px */
@media only screen and (max-width: 760px) {
  #nav-main-menu {
    margin: 15px 0 0 -10px;
  }
  #nav-main-menu li.hover a[aria-haspopup="true"] {
    background-image: none;
  }
  #nav-main-menu .submenu,
  .js #nav-main li.hover .submenu {
    left: -999em;
    top: auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
    opacity: 1;
    padding: 0;
  }
  #nav-main-menu .submenu a,
  #nav-main-menu .submenu a:link,
  #nav-main-menu .submenu a:visited {
    -moz-transition: none 0s;
    -webkit-transition: none 0s;
    transition: none 0s;
  }
}
