/****************************************************************************/
/****************************************************************************/
.sky #outer-wrapper {
  background: #eaeff2;
  background: -webkit-gradient(radial, center center, 0, center center, 60%, color-stop(0%, rgba(234, 239, 242, 0.9)), color-stop(60%, rgba(212, 221, 228, 0.5))), -webkit-linear-gradient(top, #cae1f4 0%, rgba(125, 185, 232, 0) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #eaeff2 0%, rgba(212, 221, 228, 0.4) 60%), -webkit-linear-gradient(top, #cae1f4 0%, rgba(125, 185, 232, 0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, #eaeff2 0%, rgba(212, 221, 228, 0.5) 60%), -ms-linear-gradient(top, #cae1f4 0%, rgba(125, 185, 232, 0) 100%);
  background: radial-gradient(ellipse at center, #eaeff2 0%, rgba(212, 221, 228, 0.5) 50%), linear-gradient(to bottom, #cae1f4 0%, rgba(125, 185, 232, 0) 100%);
}
.sky #outer-wrapper:after {
  z-index: 0;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: url('/media/img/thunderbird/landing/bg-noise.png');
}
#wrapper {
  width: 980px;
  padding: 0 10px;
  z-index: 1;
}
#main-feature {
  margin-top: 14px;
  padding-bottom: 20px;
}
#main-feature img {
  display: none;
}
#main-feature h1.large {
  margin: 12px 0;
  font-size: 60px;
  font-size: 3.75rem;
  text-align: center;
}
#main-feature p.large {
  margin: 12px 50px;
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.3;
  text-align: center;
}
.download-button-wrapper {
  margin: 50px auto 0;
  width: 260px;
  text-align: center;
}
.download-button-wrapper .unsupported-download,
.download-button-wrapper .linux-arm-download {
  text-align: center;
}
.sky #main-feature .download-button {
  position: static;
  /* override oldIE.css */
}
/* Unsupported platforms */
html.windows.arm .download-button .unsupported-download,
html.oldwin .download-button .unsupported-download,
html.oldmac .download-button .unsupported-download,
html.android .download-button .unsupported-download,
html.ios .download-button .unsupported-download {
  display: block;
  margin: 32px 0 0;
}
#thunderbird-screenshot {
  margin: 40px 20px 0;
  text-align: center;
}
#thunderbird-screenshot .platform-img {
  vertical-align: bottom;
}
#colophon {
  z-index: 1;
}
/* Tablet Layout: 760px */
@media only screen and (min-width: 760px) and (max-width: 1000px) {
  #wrapper {
    width: 760px;
    padding: 0;
  }
  #main-feature h1.large {
    margin: 12px 50px;
  }
  #main-feature p.large {
    font-size: 24px;
    font-size: 1.5rem;
  }
}
/* Mobile layout: 320px */
@media only screen and (max-width: 760px) {
  #wrapper {
    width: 320px;
    padding: 0;
  }
  #masthead h2 {
    display: none;
  }
  #main-feature {
    margin: 20px 10px 40px;
    padding: 0;
  }
  #main-feature img {
    display: block;
    margin: 0 auto;
  }
  #main-feature h1.large {
    margin: 12px 0;
    font-size: 36px;
    font-size: 2.25rem;
    letter-spacing: -1px;
  }
  #main-feature p.large {
    margin: 12px 0;
    font-size: 20px;
    font-size: 1.25rem;
  }
  #thunderbird-screenshot {
    display: none;
  }
}
