// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNS-Light"), local(".SFNSText-Light"), local("Segoe UI Light"), local("Ubuntu Light");
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 300;
  src: local(".SFNS-LightItalic"), local(".SFNSText-LightItalic"), local("Segoe UI Light Italic"), local("Ubuntu Light Italic");
}

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 400;
  src: local(".SFNS-Regular"), local(".SFNSText-Regular"), local("Segoe UI"), local("Ubuntu");
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 400;
  src: local(".SFNS-Italic"), local(".SFNSText-Italic"), local("Segoe UI Italic"), local("Ubuntu Italic");
}

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 500;
  src: local(".SFNS-Medium"), local(".SFNSText-Medium"), local("Segoe UI Semibold"), local("Ubuntu Medium");
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 500;
  src: local(".SFNS-MediumItalic"), local(".SFNSText-MediumItalic"), local("Segoe UI Semibold Italic"), local("Ubuntu Medium Italic");
}

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 700;
  src: local(".SFNS-Bold"), local(".SFNSText-Bold"), local("Segoe UI Bold"), local("Ubuntu Bold");
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 700;
  src: local(".SFNS-BoldItalic"), local(".SFNSText-BoldItalic"), local("Segoe UI Bold Italic"), local("Ubuntu Bold Italic");
}

:root {
  --bg: #f9f9fa;
  --bg-gradient: linear-gradient(-45deg, #F9F9FA, #EDEDF0);
  --bg-warning: rgba(237, 0, 181, 0.05);

  --beta-gradient: linear-gradient(-270deg, #E217B6, #BD058A);
  --logo-wireframe: url('/media/svg/logo-wireframe-light.svg');

  --list-dot-inner: #B5007F;
  --list-dot-outer: #FCD2F5;

  --text: #333;
  --text-logo: #0a84ff;
  --text-donate: #ff0039;
  --text-connect: #9400ff;
  --text-support: #0a84ff;
  --text-get-involved: #ed00b5;
  --text-bug: #058B00;
  --text-crash: #008EA4;
  --text-warning: #B5007F;

  --shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #2F2F33;
    --bg-gradient: linear-gradient(-45deg, #2F2F33, #3A3A3D);
    --bg-warning: rgba(181, 0, 127, 0.05);

    --beta-gradient: linear-gradient(-270deg, #FF83EA, #FF1AD9);
    --logo-wireframe: url('/media/svg/logo-wireframe-dark.svg');

    --list-dot-inner: #FFB6F3;
    --list-dot-outer: #76175B;

    --text: #F9F9FA;
    --text-logo: #85C2FF;
    --text-donate: #F99298;
    --text-connect: #D9A8FF;
    --text-support: #85C2FF;
    --text-get-involved: #FFB6F3;
    --text-bug: #ABF69B;
    --text-crash: #B0FFFF;
    --text-warning: #FFB6F3;

    --shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  }
}

html {
  font-family: system-ui, Open Sans, sans-serif;
  background-color: var(--bg);
  background-image: var(--bg-gradient);
  font-size: 1rem;
}

body {
  background-image: var(--logo-wireframe);
  background-position: bottom right;
  background-repeat: no-repeat;
  color: var(--text);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  max-width: 100%;
  line-height: 1.6;
}

main {
  display: grid;
  gap: 2rem;
  padding: 1rem;
  margin: 0 auto;
  max-width: 100ch;
}

header {
  display: grid;
  gap: 2rem;
}

.header-top {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.logo-img {
  background-image: url('/media/svg/logo.svg');
}

html[data-channel="earlybird"] .logo-img {
  background-image: url('/media/img/thunderbird/logos/earlybird-100.png');
}

html[data-channel="beta"] .logo-img {
  background-image: url('/media/svg/logo-beta.svg');
}

html[data-channel="daily"] .logo-img {
  background-image: url('/media/svg/logo-daily.svg');
}

.logo-img {
  display: inline-block;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
  width: 75px;
  height: 75px;
  align-self: center;
  filter: drop-shadow(var(--shadow));
}

.title {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.title-text {
  font-size: 1rem;
  font-weight: 300;
}

.tb-text {
  font-size: 2rem;
  font-weight: 400;
  color: var(--text-logo);
  line-height: 1;
}

.beta-text {
  color: transparent;
  background: var(--beta-gradient);
  background-clip: text;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
}

.donate {
  display: grid;
  gap: .25rem;
  justify-self: end;
  text-align: right;
}

.donate-btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  justify-self: end;
  background-color: #ff0039;
  background-image: linear-gradient(#FF555F, #D70022);
  border-radius: .12rem;
  color: white;
  padding: .25rem .75rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  box-shadow: var(--shadow);
  letter-spacing: .075rem;
}

.warning-panel {
  display: grid;
  place-items: center;
  background: var(--bg-warning);
  color: var(--text-warning);
  border: 1px solid var(--text-warning);
  border-radius: .5rem;
  padding: 0.5rem 1rem;
}

.uppercase {
  text-transform: uppercase;
}

.beta-thanks {
  font-size: 1.25rem;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.warning-panel ul {
  padding-left: 2.5rem;
  list-style: none;
}

.warning-panel ul li {
  position: relative;
  margin-left: 10px;
}

.warning-panel ul li:before {
  position: absolute;
  content: '';
  width: 3px;
  height: 3px;
  top: 0.5rem;
  left: -20px;
  border-radius: 50%;
  border: 4px solid var(--list-dot-outer);
  background: var(--list-dot-inner);
}

.warning-panel a,
.main-content a {
  text-decoration: none;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  gap: 3px;
}

.warning-panel a:hover,
.main-content a:hover,
.warning-panel a:focus,
.main-content a:focus {
  text-decoration: underline;
}

p.warning svg {
  vertical-align: middle;
}

.content-sections {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-heading {
  margin-bottom: 0;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.donate {
  color: var(--text-donate);
}

.warning {
  color: var(--text-warning);
}

.connect {
  color: var(--text-connect);
}

.support {
  color: var(--text-support);
}

.get-involved {
  color: var(--text-get-involved);
}

.bug {
  color: var(--text-bug);
}

.crash {
  color: var(--text-crash);
}

@media (max-width: 800px) {
  .main-content {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .beta-thanks {
    margin-bottom: 0;
  }
}

@media (max-width: 500px) {
  .title-text {
    display: none;
  }
}

@media (max-width: 268px) {
  .header-top {
    grid-template-columns: 1fr;
    gap: 1rem;
    place-items: center;
  }

  .donate {
    place-self: center;
    text-align: center;
  }
}
