{# Version: 20121001 #}

{% extends "firefox/whatsnew.html" %}

{% l10n whatsnew_feature %}
<p id="ru-search">
    <img src="/media/img/firefox/whatsnew/ru-search.png">
    Вы можете легко выбрать свою любимую поисковую систему. Чтобы сменить текущую поисковую систему, нажмите на значок стрелки вниз рядом со значком поисковой системы, и выберите новую поисковую систему. <a href="https://support.mozilla.org/ru/kb/stroka-poiska#w_ouj-liaijksiuau-laiajahoi-aiaaiko">Подробнее.</a>
  </p>
{% endl10n %}
