{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "_base-resp.html" %}

{% block channel %}release{% endblock %}
{% block title %}{{ _('Welcome to Freedom – Thunderbird') }}{% endblock %}

{% block main %}
<div id="start-page">
{% block channel_link %}
  <a id="release-channel" href="#">{{ _('ESR Channel') }}</a>
{% endblock %}
<a id="donate-top" href="{{ redirect_donate_url(content='paragraph_text', source='start_page_tb_release', location='thunderbird.donate', show_donation_modal=False) }}">
  {{ svg('donate-btn-heart') }} {{ _('Donate') }}
</a>
  <header>
    <div id="logo" class="logo-img">{{ svg('logo') }}</div>
    <h1>{{ _('Welcome to <span class="gradient-text">Freedom</span>') }}</span></h1>
    <p class="tagline">{{ _('Thunderbird is a gift from thousands of people like you. We hope you\'ll enjoy the productivity, privacy, and freedom they make possible and we invite you to become part of that gift to others.') }}</p>
    <div class="btn-set">
      <a class="btn" href="https://www.thunderbird.net/participate/">{{ svg('base/icons/menu/participate') }} {{ _('Participate') }}</a>
      <a class="btn" href="{{ redirect_donate_url(content='paragraph_text', source='start_page_tb_release', location='thunderbird.donate', show_donation_modal=False) }}">{{ svg('donate-heart') }} {{ _('Donate') }}</a>
      <a class="btn" href="https://support.mozilla.org/questions/new/thunderbird">{{ svg('handshake') }} {{ _('Get Help') }}</a>
    </div>
  </header>

  <section class="features">
    <div class="feature-box">
      <h3>{{ _('Free and Open Source') }}</h3>
      <p class="subhead">{{ _('Thunderbird is now yours forever.') }}</p>
      <p>{{ _('Thunderbird is developed openly and distributed freely. Our software license protects your right to use, modify, and share Thunderbird. Our mission is to protect your privacy and freedom.') }}</p>
    </div>
    <div class="feature-box">
      <h3>{{ _('Powered by Community') }}</h3>
      <p class="subhead">{{ _('You can become part of our story.') }}</p>
      <p>{{ _('Anyone can contribute to Thunderbird. By donating, translating, answering questions, suggesting features, reporting bugs, and more, you make Thunderbird better for yourself and the world.') }}</p>
    </div>
  </section>

  <footer>
    {% block footer_content %}
      {{ _('Want new features sooner? Learn about <a href="%(release_url)s"><strong>Thunderbird Release</strong></a>.') | format(release_url='#') }}
    {% endblock %}
  </footer>
</div>
{% endblock %}
