{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "includes/base-resp.html" %}

{% block page_title %}{{ _('Thunderbird Release Notes') }}{% endblock %}
{% block page_desc %}{{ _('Release notes for each version of Thunderbird.') }}{% endblock %}
{% block extrahead %}<link rel="alternate" type="application/atom+xml" href="{{ settings.CANONICAL_URL + url('thunderbird.releases.atom') }}" title="Release Notes Atom Feed" />{% endblock %}

{% block header_content %}
  <section class="text-left text-white flex flex-col items-start xl:w-full max-w-6xl mx-auto pl-8 pr-8">
    <h1 class="font-4xl md:font-hero font-thin md:mt-10 mb-8">{{ self.page_title() }}</h1>
    <p class="font-lg md:font-xl tracking-wide leading-relaxed max-w-4xl mb-10 mt-0">
      {{ _('Thunderbird release notes are specific to each version of the application. Select your version from the list below to see the release notes for it. There\'s also a <a href="%(feed)s">Atom feed available</a>.')|format(feed=url('thunderbird.releases.atom')) }}
    </p>
  </section>
{% endblock %}

{% block content %}

  <section class="mt-10 pt-10 pb-10 w-full bg-calendar">
    <section class="flex justify-between items-center max-w-6xl mx-auto mb-10 pr-8 pl-8">
      <h3 class="subheader-section">{{ _('Release notes for each version of Thunderbird.') }}</h3>
    </section>
  </section>

  <section class="pb-10 w-full bg-grey-lighter">
    <section class="flex max-w-6xl mx-auto pl-8 pr-8">
      <aside class="flex flex-col w-full pr-8 pl-8">
        {% for int_version, versions in releases -%}
          <aside class="flex flex-col lg:flex-row flex-wrap items-center bg-white shadow-md mb-4 rounded">
            <h4 class="font-2xl font-bold m-0 p-3 lg:w-24">
              {{ get_link(int_version, versions.major) }}
            </h4>
            {% if versions.minor -%}
            <aside class="flex-1 p-3">
              {% for version in versions.minor -%}
                {{ get_link(int_version, version, true) }}
              {% endfor -%}
            </aside>
            {% endif -%}
          </aside>
        {% endfor -%}

        <aside class="flex flex-col lg:flex-row flex-wrap items-center bg-white shadow-md mb-4 rounded">
          <h4 class="font-2xl font-bold m-0 p-3 lg:w-24">
            <a href="http://website-archive.mozilla.org/www.mozilla.org/thunderbird_releasenotes/en-US/thunderbird/releases/0.1.html" class="inline-link text-blue-dark font-bold no-underline">0.1</a>
          </h4>
          <aside class="flex-1 p-3">
            <a href="http://website-archive.mozilla.org/www.mozilla.org/thunderbird_releasenotes/en-US/thunderbird/releases/0.2.html" class="inline-link text-blue-dark font-bold no-underline btn-body btn-secondary btn-release">0.2</a>
            <a href="http://website-archive.mozilla.org/www.mozilla.org/thunderbird_releasenotes/en-US/thunderbird/releases/0.3.html" class="inline-link text-blue-dark font-bold no-underline btn-body btn-secondary btn-release">0.3</a>
            <a href="http://website-archive.mozilla.org/www.mozilla.org/thunderbird_releasenotes/en-US/thunderbird/releases/0.4.html" class="inline-link text-blue-dark font-bold no-underline btn-body btn-secondary btn-release">0.4</a>
            <a href="http://website-archive.mozilla.org/www.mozilla.org/thunderbird_releasenotes/en-US/thunderbird/releases/0.5.html" class="inline-link text-blue-dark font-bold no-underline btn-body btn-secondary btn-release">0.5</a>
            <a href="http://website-archive.mozilla.org/www.mozilla.org/thunderbird_releasenotes/en-US/thunderbird/releases/0.6.html" class="inline-link text-blue-dark font-bold no-underline btn-body btn-secondary btn-release">0.6</a>
            <a href="http://website-archive.mozilla.org/www.mozilla.org/thunderbird_releasenotes/en-US/thunderbird/releases/0.7.html" class="inline-link text-blue-dark font-bold no-underline btn-body btn-secondary btn-release">0.7</a>
            <a href="http://website-archive.mozilla.org/www.mozilla.org/thunderbird_releasenotes/en-US/thunderbird/releases/0.8.html" class="inline-link text-blue-dark font-bold no-underline btn-body btn-secondary btn-release">0.8</a>
            <a href="http://website-archive.mozilla.org/www.mozilla.org/thunderbird_releasenotes/en-US/thunderbird/releases/0.9.html" class="inline-link text-blue-dark font-bold no-underline btn-body btn-secondary btn-release">0.9</a>
          </aside>
        </aside>
      </aside>
    </section>
  </section>

  {% include 'includes/site-prefooter.html' %}

{% endblock %}

{% macro get_link(int_version, version, point_release = false) %}
  {% set class = ' btn-body btn-secondary btn-release' if point_release else '' %}
  {%- if int_version < 2 -%}
    <a href="http://website-archive.mozilla.org/www.mozilla.org/thunderbird_releasenotes/en-US/thunderbird/releases/{{ version }}.html" class="inline-link text-blue-dark font-bold no-underline{{ class }}">{{ version }}</a>
  {%- elif version == '2.0' -%}
    <a href="http://website-archive.mozilla.org/www.mozilla.org/thunderbird_releasenotes/en-US/thunderbird/2.0.0.0/releasenotes/" class="inline-link text-blue-dark font-bold no-underline{{ class }}">{{ version }}</a>
  {%- elif version == '17.0.9' -%}
    <a href="http://website-archive.mozilla.org/www.mozilla.org/thunderbird_releasenotes/en-US/thunderbird/17.0.9esr/releasenotes/" class="inline-link text-blue-dark font-bold no-underline{{ class }}">{{ version }}</a>
  {%- elif version == '17.0.10' -%}
    <a href="http://website-archive.mozilla.org/www.mozilla.org/thunderbird_releasenotes/en-US/thunderbird/17.0.10esr/releasenotes/" class="inline-link text-blue-dark font-bold no-underline{{ class }}">{{ version }}</a>
  {%- elif int_version < 31 -%}
    <a href="http://website-archive.mozilla.org/www.mozilla.org/thunderbird_releasenotes/en-US/thunderbird/{{ version }}/releasenotes/" class="inline-link text-blue-dark font-bold no-underline{{ class }}">{{ version }}</a>
  {%- else -%}
    <a href="../../../en-US/thunderbird/{{ version }}/releasenotes/" class="inline-link text-blue-dark font-bold no-underline{{ class }}">{{ version }}</a>
  {%- endif -%}
{% endmacro %}
