{% extends "includes/base/product-or-service.html" %}
{% block roadmap_content %}
<div class="product-roadmap-header">
<h1>{{ _('Android Roadmap') }}</h1>
<p>{{ _('Thunderbird for Android. Follow the roadmap from active work to to future ideas. Timelines may shift as we learn and iterate.') }}</p>
<p style="font-size: 16px;">{{ _('Last updated July 23, 2026') }}</p>
<p><a href="https://www.thunderbird.net/en-US/thunderbird/all/#select-download-mobile">{{ _('Download Thunderbird for Android') }}</a></p>
</div>
<h2><i class="ph ph-pulse"></i>{{ _('Active') }}</h2>
<ul>
<li><strong>{{ _('Rearchitecture and Core Maintenance') }}</strong>{{ _('Modernize the source code that we inherited from K9, tackle the most glaring maintenance and stability issues, and restructure the core architecture for faster and easier development.') }}</li>
<li><strong>{{ _('Notifications &amp; Synchronization') }}</strong>{{ _('Broken out from the rearchitecture program to prioritize this specific effort, because many of the low ratings are because of this and we are listening to what our community wants.') }}</li>
</ul>
<h2><i class="ph ph-calendar-blank"></i>{{ _('Planned') }}</h2>
<ul>
<li><strong>{{ _('Message List Improvements') }}</strong>{{ _('Users spend most of their time on the message list, waiting for messages to load, scrolling to find messages, and quickly interacting with them through swipe actions. This effort is aimed at improving this primary view and addressing all major concerns.') }}</li>
<li><strong>{{ _('JMAP Support Exploration') }}</strong>{{ _('Exploring JMAP integration, learning what it means to add a new protocol on Android, and ensuring future proofing against proprietary protocols.') }}</li>
<li><strong>{{ _('Message View Improvements - Phase 2') }}</strong>{{ _('Modernize the message view to address the most glaring issues like attachment handling, message loading, zoom, remove images, and so on. Making the experience comparable to the competition.') }}</li>
</ul>
<h2><i class="ph ph-rocket-launch"></i>{{ _('Shipped') }}</h2>
<ul>
<li><strong>{{ _('CASA Approval') }}</strong>{{ _('Complete the Cloud Application Security Assessment (CASA)') }}<div class="date-badge">{{ _('March 2025') }}</div></li>
<li><strong>{{ _('Thundermail Integration - QR Code Login') }}</strong>{{ _('Added and prioritized due to the Thundermail release. Implemented one-click OAuth on the first screen and implemented QR code scanning for Thundermail (from web) for easy account setup.') }}<div class="date-badge">{{ _('June 2026') }}</div></li>
<li><strong>{{ _('Message View Improvements - Phase 1') }}</strong>{{ _('We added a message header indicator as well as an attachment button. Now attachments are shown in-line as well as at the bottom of the message. We also improved text rendering and tackled the worst HTML and CSS rendering bug reports, to mitigate the most glaring issues.') }}<div class="date-badge">{{ _('June 2026') }}</div></li>
</ul>{{ super() }}

{% endblock %}