.site-nav {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  inset-inline: 0;
  display: flex;
  padding-inline: 1rem;
  padding-block: 12px;
  background: var(--nav-bg);
  color: var(--txt);
  border-bottom: 1px solid transparent;
  box-shadow: none;
  height: var(--nav-height);
  backdrop-filter: blur(32px);
  transition: height .2s;
  z-index: 100000;
}

.site-nav .btn-donate::before,
.site-nav .btn-donate-lg::before,
.site-nav .btn-download-inline::before,
.site-nav .btn-download-link::before,
.site-nav .download-link.btn-download::before,
.site-nav a.btn::before,
.site-nav button::before {
  display: none;
}

.scrolled-nav {
  --nav-height: 60px;
  border-color: rgba(255, 255, 255, .25);
  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, .25);
  background-color: rgba(0, 0, 0, .8);
  backdrop-filter: blur(24px) saturate(120%);
  transition: all .5s;
  z-index: 100000;
}

.scrolled-nav .nav-ln,
.scrolled-nav button,
.scrolled-nav a.btn {
  transition: font-size .2s;
  font-size: 1rem;
}

.scrolled-nav .nav-ln:hover {
  font-size: 1rem;
}

.nav-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;

  // Pt1. Provide a larger hover area
  margin-top: 0;

  .nav-entry {
    position: relative;

    // Pt2. Provide a larger hover area
    cursor: pointer;
    padding-top: 18px;


    // Pop-over menu
    .sub-nav-container {
      display: none;
      position: absolute;
      margin-left: -2rem;
      min-width: 500px;

      // Actual physical panel
      .sub-nav-panel {
        background-color: var(--bg);
        color: var(--txt);
        border-radius: 12px;

        // Add a large shadow to help the panel contrast against
        box-shadow: var(--shadow-2xl);

        // This clashes a little too much with white backgrounds for my liking.
        // So let's help high-contrast users with a small border around the area.
        @media (prefers-contrast: more) {
          border: 2px solid var(--color-ink-70);
        }

        // Make sure they have some space to move their cursor over any gaps!
        margin: 1rem 1rem 1rem 0;
        padding: 1rem 2rem;

        .nav-icon {
          display: flex;
          margin: 0.5rem;
          min-width: 48px;
          height: 100%;
          justify-content: center;

          svg {
            width: 100%;
          }
        }

        .nav-text {
          h2, h6 {
            margin: 0;
          }

          h6 {
            font-weight: 500;
          }

          padding-right: 2rem;
        }

        li {
          cursor: pointer;
          list-style: none;
          padding-top: 1rem;

          &:hover,
          &:focus-within {
            h2 {
              &:extend(.txt-gradient);
            }
          }
        }

        li > a {
          display: flex;
          min-height: 4rem;
          padding-bottom: 1rem;
          border-bottom: 2px var(--color-gray-30) solid;
          text-decoration: none;
        }

        li:last-child > a {
          border: none;
        }
      }
    }

    // Make sub-nav pop-up on hover, or on focus-within (needed for keyboard users)
    &:hover,
    &:focus-within {
      .sub-nav-container {
        display: block;
      }
    }
  }

  // Make sub-nav pop-up on focus (tab)
  .nav-ln:focus + .sub-nav-container {
    display: block;
  }

  // One day we'll have a previous sibling selector, until then there's this lol.
  // Select nav-ln::after that have a hover or focus-within sub-nav-container state.
  .nav-ln:has(+ .sub-nav-container:hover)::after,
  .nav-ln:has(+ .sub-nav-container:focus-within)::after {
    // For that sweet underline.
    width: 100%;
  }
}