{% extends "includes/base/page.html" %}
{% block content %}
<p>Welcome to the <strong>Thunderbird for iOS</strong> client roadmap!</p>
<h1>🏗️ Active</h1>
<ul>
<li><strong>Account Creation Flow</strong> - Implement a full automated and manual setup, including autodiscovery and OAuth.</li>
<li><strong>IMAP Support</strong> - Implement the IMAP protocol first as it's the most widespread protocol currently in use.</li>
<li><strong>Full Email Writing and Reading Experience</strong> - Implement the full reading and writing email experience on mobile, including initial support for encrypted messages (OpenPGP and S/MIME with existing libraries).</li>
</ul>
<h1>📋 Planned</h1>
<ul>
<li><strong>JMAP Support</strong> - Support the JMAP protocol as one of the first extra protocols we ship with by default outside of IMAP.</li>
<li><strong>HTML Signatures</strong> - A long time requested feature that alongside Sync will strengthen the continuity between our apps and the first step towards a working ecosystem.</li>
</ul>
<h1>🚀 Launched</h1>
<ul>
<li><strong>Architecture</strong> - Establish a robust and scalable architecture to begin the Thunderbird for iOS project and create the backend. This architecture will include strategies for code sharing across platforms, taking into account the Android and Desktop clients.</li>
<li><strong>Autoconfiguration</strong> - Add DNS MX lookup to autoconfig feature library and move SRV record lookup into autoconfig feature library and delete Autodiscover core library</li>
</ul>
<h1>🗃️ Backlog</h1>
<ul>
<li><strong>Swipe Actions</strong> - Implement the most common swipe actions to interact with the message list.</li>
<li><strong>Calendar Exploration</strong> - Emails and Calendars go hand in hand and we can start exploring the implementation of CalDav support and plan for a proper calendar integration on iOS.</li>
</ul>{{ super() }}

{% endblock %}