{% extends "includes/base/product-or-service.html" %}
{% block roadmap_content %}
<div class="product-roadmap-header">
<h1>{{ _('iOS Roadmap') }}</h1>
<p>{{ _('Thunderbird for iOS. Follow the roadmap from active work to future ideas. Timelines may shift as we learn and iterate.') }}</p>
<p style="font-size: 16px;">{{ _('Last updated March 31, 2026') }}</p>
<p><a href="https://testflight.apple.com/join/ER3hRBSz">{{ _('Download TestFlight app') }}</a></p>
</div>
<h2><i class="ph ph-pulse"></i>{{ _('Active') }}</h2>
<ul>
<li><strong>{{ _('iOS Create Protocol, Database, &amp; Framework') }}</strong>{{ _('Implement the IMAP protocol first as it\'s the most widespread protocol currently in use.') }}</li>
<li><strong>{{ _('Full Email Writing and Reading Experience') }}</strong>{{ _('Implement the full reading and writing email experience on mobile, including initial support for encrypted messages (OpenPGP and S/MIME with existing libraries).') }}</li>
</ul>
<h2><i class="ph ph-calendar-blank"></i>{{ _('Planned') }}</h2>
<ul>
<li><strong>{{ _('JMAP Support') }}</strong>{{ _('Support the JMAP protocol as one of the first extra protocols we ship with by default outside of IMAP.') }}</li>
</ul>
<h2><i class="ph ph-rocket-launch"></i>{{ _('Shipped') }}</h2>
<ul>
<li><strong>{{ _('Account Creation Flow') }}</strong>{{ _('Implement a full automated and manual setup, including autodiscovery and OAuth.') }}<div class="date-badge">{{ _('March 2026') }}</div></li>
<li><strong>{{ _('Architecture') }}</strong>{{ _('Establish a robust and scalable architecture to begin the Thunderbird for iOS project and create the backend. This architecture will include strategies for code sharing across platforms, taking into account the Android and Desktop clients.') }}<div class="date-badge">{{ _('July 2025') }}</div></li>
<li><strong>{{ _('Autoconfiguration') }}</strong>{{ _('Add DNS MX lookup to autoconfig feature library and move SRV record lookup into autoconfig feature library and delete Autodiscover core library') }}<div class="date-badge">{{ _('September 2025') }}</div></li>
</ul>{{ super() }}

{% endblock %}