{% extends "includes/base/product-or-service.html" %}
{% block roadmap_content %}
<div class="product-roadmap-header">
<h1>{{ _('iOS Roadmap') }}</h1>
<p>{{ _('Thunderbird for iOS. Follow the roadmap from active work to future ideas. Timelines may shift as we learn and iterate.') }}</p>
<p style="font-size: 16px;">{{ _('Last updated July 23, 2026') }}</p>
<p><a href="https://testflight.apple.com/join/ER3hRBSz">{{ _('Download TestFlight app') }}</a></p>
</div>
<h2><i class="ph ph-pulse"></i>{{ _('Active') }}</h2>
<ul>
<li><strong>{{ _('Full Email Writing and Reading Experience') }}</strong>{{ _('Implement the full reading and writing email experience on mobile, including initial support for encrypted messages (OpenPGP and S/MIME with existing libraries). WYSIWYG is now wrapping up. The next piece is to connect the protocol and database to render email.') }}</li>
<li><strong>{{ _('JMAP Support - Exploration') }}</strong>{{ _('Already 80% finished. The intention is to implement the full protocol with all the basic infrastructure in place.') }}</li>
</ul>
<h2><i class="ph ph-calendar-blank"></i>{{ _('Planned') }}</h2>
<ul>
<li><strong>{{ _('JMAP Support - Complete Implementation') }}</strong>{{ _('Support the JMAP protocol as one of the first extra protocols we ship with by default outside of IMAP. Currently we are prioritizing IMAP and a first user release.') }}</li>
<li><strong>{{ _('Database') }}</strong>{{ _('We’re changing how we cache the email to be able to consume the UI faster, and moving the database work for after the first version is out to the users.') }}</li>
</ul>
<h2><i class="ph ph-rocket-launch"></i>{{ _('Shipped') }}</h2>
<ul>
<li><strong>{{ _('Architecture') }}</strong>{{ _('Establish a robust and scalable architecture to begin the Thunderbird for iOS project and create the backend. This architecture will include strategies for code sharing across platforms, taking into account the Android and Desktop clients.') }}<div class="date-badge">{{ _('July 2025') }}</div></li>
<li><strong>{{ _('Autoconfiguration') }}</strong>{{ _('Add DNS MX lookup to autoconfig feature library and move SRV record lookup into autoconfig feature library and delete Autodiscover core library') }}<div class="date-badge">{{ _('September 2025') }}</div></li>
<li><strong>{{ _('Account Creation Flow') }}</strong>{{ _('Implement a full automated and manual setup, including autodiscovery and OAuth.') }}<div class="date-badge">{{ _('March 2026') }}</div></li>
<li><strong>{{ _('iOS Create Protocol &amp; Framework') }}</strong>{{ _('Implement the IMAP protocol first as it\'s the most widespread protocol currently in use. We completed the protocol work and basic framework.') }}<div class="date-badge">{{ _('June 2026') }}</div></li>
</ul>{{ super() }}

{% endblock %}