Babel==2.12.1
docopt==0.6.2
feedparser==6.0.10
flake8==6.0.0
icalendar==5.0.7
iniconfig==2.0.0
Jinja2==3.1.4
Markdown==3.4.3
MarkupSafe==2.1.2
mccabe==0.7.0
packaging==23.1
pluggy==1.0.0
polib==1.2.0
pycodestyle==2.10.0
pyflakes==3.0.1
pytest==7.3.1
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
sgmllib3k==1.0.0
six==1.16.0
watchdog==3.0.0
webassets==2.0
WebOb==1.8.7
