{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "_new-base-resp.html" %}

{% block channel %}daily{% endblock %}
{% block title %}{{ _('Welcome to <div class="tb-text">Thunderbird <small class="daily-text">Daily</small></div>') }}{% endblock %}

{% block main %}
      <header>
        <div class="header-top">
          <div class="title">
            <div class="logo-img"></div>
            <h1 class="title-text">{{ self.title() }}</h1>
          </div>

          <div class="donate">
            {{ _('Support us!') }}
            {{ '<a href="%(donate)s" class="donate-btn" data-donate-btn data-donate-redirect="donate" data-donate-content="paragraph_text" data-donate-source="start_page_tb_daily">'|format(donate=redirect_donate_url(content='paragraph_text', source='start_page_tb_daily', location='thunderbird.donate', make_full_url=True, show_donation_modal=False)) }}
              {{ svg('donate-btn-heart') }}
              {{ _('Donate') }}
            </a>
          </div>
        </div>
        <div class="warning-panel">
          <div>
            <p class="warning">
              {{ svg('beta-warning') }}
              <strong class="uppercase">{{ _('Warning!') }}</strong>
              {{ _('Daily can be unstable, and there is potential to lose data.') }}
            </p>
            <p>
                {{ _('Stay informed about any new features, or breaking changes.') }}
                <a href="https://discuss.thunderbird.net/groups/daily" class="warning">
                  {{ _('Daily Forum') }}
                  {{ svg('external-link') }}
                </a>
            </p>
          </div>
        </div>
        <p class="main-thanks">{{ _('You are using the daily version of Thunderbird, which means you get to experience the absolute newest Thunderbird - fresh out of the build system! But with great power comes great responsibility, we hope you’ll take the time to report bugs and provide feedback on your experience using the daily version and help make the next Thunderbird release as awesome as possible.') }}</p>
      </header>

      <div class="main-content">

        <div class="content-sections">
          <section id="support">
            <h2 class="section-heading support">
              {{ svg('support') }}
              {{ _('Get Support') }}
            </h2>
            <p>{{ _('The Daily release of Thunderbird can be unstable. If you need help setting up an account or learning to do something else in Thunderbird - you can check out our support page.') }}</p>
            <a href="https://support.mozilla.org/questions/new/thunderbird" class="support">
              {{ _('Support Page') }}
              {{ svg('external-link') }}
            </a>
          </section>

          <section id="crash">
            <h2 class="section-heading crash">
              {{ svg('info') }}
              {{ _('Crashed?') }}
            </h2>
            <p>{{ _('If Crash Reporter appeared (when Thunderbird crashes), please provide more details to help developers') }}</p>
            <ul>
              <li>{{ _('In Thunderbird do Help > More Troubleshooting Information, scroll to "Crash Reports", click a recent report link to open the crash report page.') }}</li>
              <li>{{ _('Click the Bugzilla tab, then click on an existing bug report under "Related Bugs" and add a comment to the bug, or click "Thunderbird" to submit a new bug report.') }}</li>
            </ul>
            <a href="https://support.mozilla.org/en-US/kb/mozilla-crash-reporter-tb" class="crash">
              {{ _('Crash Reporter') }}
              {{ svg('external-link') }}
            </a>
          </section>
        </div>

        <div class="content-sections">
          <section id="bug">
            <h2 class="section-heading bug">
              {{ svg('bug') }}
              {{ _('Report') }}
            </h2>
            <p>{{ _('Think you’ve found a new problem or rough edge? Create a bug report so we can make sure it gets solved, resulting in a better Thunderbird experience for all.') }}</p>
            <a href="https://bugzilla.mozilla.org/describecomponents.cgi?product=Thunderbird" class="bug">
              {{ _('Report a Bug') }}
              {{ svg('external-link') }}
            </a>
          </section>

          <section id="get-involved">
            <h2 class="section-heading get-involved">
              {{ svg('handshake') }}
              {{ _('Contribute') }}
            </h2>
            <p>{{ _('Curious about helping?  You don’t need to be an expert to help other users or offer suggestions about improving the experience! Join us in this open source project where anyone can participate in the Thunderbird community (You don’t need to be an expert, and you don’t need to know how to code).') }}</p>
            <a href="https://www.thunderbird.net/en-US/get-involved/" class="get-involved">
              {{ _('Get Involved') }}
              {{ svg('external-link') }}
            </a>
          </section>

        </div>

      </div>
{% endblock %}

