.page-index #masthead, header {
    --bg-hero: url('/media/img/l10n/fr/thunderbird/base/home/banner-high-res.png');
    --bg-hero-set: image-set(url('/media/img/l10n/fr/thunderbird/base/home/banner-high-res.avif') type('image/avif'),
    url('/media/img/l10n/fr/thunderbird/base/home/banner-high-res.webp') type('image/webp'),
    var(--bg-hero) type('image/png'));
}

/* Donation appeal button */
.page-appeal-dec24 .donate-banner #donate-banner-left {
    padding: 0.6875rem 0.75rem;
}
.donate-banner #donate-banner-right > b {
    font-size: 1.4rem;
}
