{# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "_includes/base-resp.html" %}

{% block page_title %}{{ _('Work with Us') }}{% endblock %}
{% block page_desc %}{{ _('Come work with the Thunderbird team on the most popular open source desktop email client in the world. We are a distributed team comprised of people spread across the globe working on decentralized communication technology based on open standards.') }}{% endblock %}

{% block header_content %}
  <section class="text-left text-white flex flex-col items-start xl:w-full max-w-6xl mx-auto pl-8 pr-8">
    <h1 class="font-4xl md:font-hero font-thin md:mt-10 mb-8">{{ self.page_title() }}</h1>
    <p class="font-lg md:font-xl tracking-wide leading-relaxed max-w-6xl mb-10 mt-0">
      {{ self.page_desc() }}
    </p>
  </section>
{% endblock %}

{% block content %}
  <section class="pt-20 pb-0 flex justify-between items-center pr-8 pl-8 overflow-hidden">
    <section class="flex flex-col justify-between mx-auto w-full max-w-6xl">
        <h3 class="header-section">
          <span>{{ svg('envelope') }}</span>
          <aside class="flex flex-col">
            {{ _('What is Thunderbird?')}}
            <small class="font-normal font-md tracking-normal normal-case">
              {{ _('Software made to make email easier.') }}
            </small>
          </aside>
        </h3>
        <p class="font-lg tracking-wider leading-loose mb-6">
          {{ _('Thunderbird is a free and open source email, newsfeed, chat, and calendaring client, that’s easy to set up and customize. One of the core principles of Thunderbird is the use and promotion of open standards - this focus is a rejection of our world of closed platforms and services that can’t communicate with each other. We want our users to have freedom and choice in how they communicate.') }}
        </p>
    </section>
  </section>

  <section id="getstarted" class="mt-20 mb-14 flex max-w-6xl mx-auto justify-center items-center pl-8 pr-8">
    <span class="header-line flex-1"></span>
    <h2 class="header-section pl-4 pr-4 mb-0 text-center">{{ _('Open Positions')}}</h2>
    <span class="header-line flex-1"></span>
  </section>

  <section class="pt-10 pb-10 flex flex-col max-w-6xl mx-auto justify-between pl-8 pr-8">
    <aside>
      <h3 class="header-section" id="senior-software-engineer">
        <a class="anchor" aria-hidden="true" href="#senior-software-engineer">
          {{ svg('link') }}
        </a>
        <span>{{ svg('developer') }}</span>
        <aside class="flex flex-col">
          {{ _('Senior Software Engineer')}}
          <small class="font-normal font-md tracking-normal normal-case">
            {{ _('Full Time / Remote') }}
          </small>
        </aside>
      </h3>
      <p class="font-lg tracking-wider leading-loose mb-5 p-links-blue">
        {{ _('Thunderbird is looking to hire a senior software engineer to join the team. You will help modernize the codebase and design new features for this already very popular cross platform email client. We’re committed to moving the code base over to using primarily web technologies, and you’ll be part of this effort. Contrary to many opportunities elsewhere, you have the opportunity to directly utilize the most cutting edge developments in the browser engine.') }}
      </p>
      <p class="font-lg tracking-wider leading-loose mb-6 p-links-blue">
        {{ _('As an engineer at Thunderbird, you will be working with existing staff and community members from all over the globe. We work very much in the open, and you’ll be able to show your skills to the world both on the code level and as a concrete result in improvements on the product.') }}
      </p>
      <p class="font-lg tracking-wider leading-loose mb-10 p-links-blue">
        {{ _('This is a <strong>remote</strong>, <strong>full time</strong> position. You are expected to have excellent written communication skills and coordinate your work over email, video conferencing, Matrix, and Bugzilla.') }}
      </p>
    </aside>
    <aside>
      <h4 class="subheader-section">{{ _('You could end up working on:') }}</h4>
      <ul class="font-md tracking-wider leading-loose mb-10 p-links-blue">
        <li>
          {{ _('Rewriting the address book.') }}
        </li>
        <li>
          {{ _('Modernizing the compose pipeline.') }}
        </li>
        <li>
          {{ _('Creating tests for operational performance, and address performance bottlenecks.') }}
        </li>
        <li>
          {{ _('Integrating some of the best parts of the more popular add-ons into core.') }}
        </li>
        <li>
          {{ _('...and <a href="http://lists.thunderbird.net/pipermail/maildev_lists.thunderbird.net/2019-November/002024.html">much more</a>.') }}
        </li>
      </ul>
    </aside>
    <aside>
      <h4 class="subheader-section">{{ _('We’re looking for someone with:') }}</h4>
      <ul class="font-md tracking-wider leading-loose mb-10 p-links-blue">
        <li>
          {{ _('Passion for open source, and open standards.') }}
        </li>
        <li>
          {{ _('A mission of making a concrete positive impact on the day to day communication experience for tens of millions of users.') }}
        </li>
        <li>
          {{ _('Solid understanding of web technologies.') }}
        </li>
        <li>
          {{ _('At least five years experience developing with JavaScript/HTML/CSS.') }}
        </li>
        <li>
          {{ _('Knowledge of C/C++.') }}
        </li>
        <li>
          {{ _('Good problem solving skills.') }}
        </li>
        <li>
          {{ _('Familiarity with add-ons and previous open source engagement is a plus.') }}
        </li>
      </ul>
      <a href="#apply" class="btn-join self-start">{{ _('How to Apply')}}</a>
    </aside>
  </section>

  <section class="pt-10 pb-10 flex flex-col max-w-6xl mx-auto justify-between pl-8 pr-8">
    <aside>
      <h3 class="header-section" id="software-engineer">
        <a class="anchor" aria-hidden="true" href="#software-engineer">
          {{ svg('link') }}
        </a>
        <span>{{ svg('developer') }}</span>
        <aside class="flex flex-col">
          {{ _('Software Engineer')}}
          <small class="font-normal font-md tracking-normal normal-case">
            {{ _('Full Time / Remote') }}
          </small>
        </aside>
      </h3>
      <p class="font-lg tracking-wider leading-loose mb-5 p-links-blue">
        {{ _('The Thunderbird team is expanding and wants to hire a passionate engineer to work with us on ongoing maintenance work as well as feature development.') }}
      </p>
      <p class="font-lg tracking-wider leading-loose mb-6 p-links-blue">
        {{ _('We’re committed to moving the code base over to using primarily web technologies, and you’ll be part of this effort. Contrary to many opportunities elsewhere, you’ll have the opportunity to utilize the most cutting edge developments in the browser engine.') }}
      </p>
      <p class="font-lg tracking-wider leading-loose mb-6 p-links-blue">
        {{ _('As an engineer at Thunderbird, you’ll be working with existing staff and community members from all over the globe. We work very much in the open, and you’ll be able to show your skills to the world both on the code level and as a concrete results in improvements on the product.') }}
      </p>
      <p class="font-lg tracking-wider leading-loose mb-10 p-links-blue">
        {{ _('This is a <strong>remote</strong>, <strong>full time</strong> position. You are expected to have excellent written communication skills and coordinate your work over email, video conferencing, Matrix, and Bugzilla.') }}
      </p>
    </aside>
    <aside>
      <h4 class="subheader-section">{{ _('You could end up working on:') }}</h4>
      <ul class="font-md tracking-wider leading-loose mb-10 p-links-blue">
        <li>
          {{ _('Localization, moving Thunderbird to using Fluent.') }}
        </li>
        <li>
          {{ _('The ongoing effort of converting the user interface from using XUL to HTML.') }}
        </li>
        <li>
          {{ _('Converting filtering code implementation to JavaScript, and async operation.') }}
        </li>
        <li>
          {{ _('Compose pipeline modernization.') }}
        </li>
        <li>
          {{ _('Integrating some of the best parts of the more popular add-ons into core.') }}
        </li>
        <li>
          {{ _('...and <a href="http://lists.thunderbird.net/pipermail/maildev_lists.thunderbird.net/2019-November/002024.html">much more</a>.') }}
        </li>
      </ul>
    </aside>
    <aside>
      <h4 class="subheader-section">{{ _('We’re looking for someone with:') }}</h4>
      <ul class="font-md tracking-wider leading-loose mb-10 p-links-blue">
        <li>
          {{ _('Passion for open source, and open standards.') }}
        </li>
        <li>
          {{ _('Good understanding of web technologies.') }}
        </li>
        <li>
          {{ _('Proven experience developing with JavaScript/HTML/CSS.') }}
        </li>
        <li>
          {{ _('Knowledge of C/C++.') }}
        </li>
        <li>
          {{ _('Good problem solving skills.') }}
        </li>
      </ul>
      <a href="#apply" class="btn-join self-start">{{ _('How to Apply')}}</a>
    </aside>
  </section>

  <section class="pt-20 pb-20 w-full bg-calendar">
    <section class="flex flex-wrap max-w-6xl mx-auto pl-8 pr-8">
      <aside class="flex flex-col w-full">
        <h3 id="apply" class="header-section">
          <a class="anchor" aria-hidden="true" href="#apply">
            {{ svg('link') }}
          </a>
          <span>{{ svg('check') }}</span>
          <aside class="flex flex-col">
            {{ _('How to Apply')}}
          </aside>
        </h3>
        <p class="font-lg tracking-wider leading-loose mb-6 p-links-blue">
          {{ _('If a position sounds like a good fit for you, please send us your resume with a cover letter to <a href="mailto:%(jobs_email)s">jobs@thunderbird.net</a>. In the subject of the email, please state the title of the position that you’re applying for, e.g. <strong>“Application for the Thunderbird Software Engineer position”</strong>.')|format(jobs_email='jobs@thunderbird.net') }}
        </p>
        <p class="font-lg tracking-wider leading-loose mb-6 p-links-blue">
          {{ _('A cover letter is essential to your application! Tell us about why you’re passionate about Thunderbird and this position. Also include samples of your work, either directly or as a link. If you contribute to any open source software, or maintain a blog we’d love to hear about it!') }}
        </p>
        <p class="font-lg tracking-wider leading-loose mb-6 p-links-blue">
          {{ _('The successful applicant will be hired through the third-party service Upwork. Your work will be directed through the Thunderbird project’s technical manager. By applying for this job, you are agreeing to have your application reviewed by Thunderbird contractors and volunteers who are a part of the hiring committee as well as by staff members at the Mozilla Foundation and companies under its umbrella.') }}
        </p>
        <p class="font-lg tracking-wider leading-loose mb-6 p-links-blue">
          {{ _('We are an equal opportunity employer and value diversity. We do not discriminate on the basis of race, religion, color, national origin, gender, sexual orientation, age, marital status, veteran status, or disability status.') }}
        </p>
      </aside>
    </section>
  </section>

  {% include '_includes/site-prefooter.html' %}

{% endblock %}

