{# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "includes/base-resp.html" %}

{% block page_title %}{{ _('Work with Us') }}{% endblock %}
{% block page_desc %}{{ _('Come work with the Thunderbird team on the most popular open source desktop email client in the world. We are a distributed team comprised of people spread across the globe working on decentralized communication technology based on open standards.') }}{% endblock %}

{% block header_content %}
  <section class="text-left text-white flex flex-col items-start xl:w-full max-w-6xl mx-auto pl-8 pr-8">
    <h1 class="font-4xl md:font-hero font-thin md:mt-10 mb-8">{{ self.page_title() }}</h1>
    <p class="font-lg md:font-xl tracking-wide leading-relaxed max-w-6xl mb-10 mt-0">
      {{ self.page_desc() }}
    </p>
  </section>
{% endblock %}

{% block content %}
  <section class="pt-20 pb-0 flex justify-between items-center pr-8 pl-8 overflow-hidden">
    <section class="flex flex-col justify-between mx-auto w-full max-w-6xl">
        <h3 class="header-section">
          <span>{{ svg('envelope') }}</span>
          <aside class="flex flex-col">
            {{ _('What is Thunderbird?')}}
            <small class="font-normal font-md tracking-normal normal-case">
              {{ _('Software made to make email easier.') }}
            </small>
          </aside>
        </h3>
        <p class="font-lg tracking-wider leading-loose mb-6">
          {{ _('Thunderbird is a free and open source email, newsfeed, chat, and calendaring client, that’s easy to set up and customize. One of the core principles of Thunderbird is the use and promotion of open standards - this focus is a rejection of our world of closed platforms and services that can’t communicate with each other. We want our users to have freedom and choice in how they communicate.') }}
        </p>
        <p class="font-lg tracking-wider leading-loose mb-6">
          {{ _('We are a fully remote and distributed team. You will work with staff and community members from all over the globe. We are key contributors to open source, allowing you to show your skills to the world and learn from a diverse community.') }}
        </p>
    </section>
  </section>

  <section class="pt-20 pb-20 w-full bg-calendar">
    <section class="flex flex-wrap max-w-6xl mx-auto pl-8 pr-8">
      <aside class="flex flex-col w-full">
        <h3 id="apply" class="header-section">
          <a class="anchor" aria-hidden="true" href="#apply">
            {{ svg('link') }}
          </a>
          <span>{{ svg('check') }}</span>
          <aside class="flex flex-col">
            {{ _('How to Apply')}}
          </aside>
        </h3>
        <p class="font-lg tracking-wider leading-loose mb-6 p-links-blue">
          {{ _('If a position sounds like a good fit for you, apply on the <a href="https://www.mozilla.org/careers/listings/">Mozilla career portal</a> using the "Apply Here" button below each position. All Thunderbird jobs appear under the Mozilla Foundation and will include Thunderbird in the job title.') }}
        </p>
        <p class="font-lg tracking-wider leading-loose mb-6 p-links-blue">
          {{ _('A cover letter is essential to your application! Tell us about why you’re passionate about Thunderbird and this position. Also include samples of your work, either directly or as a link. If you contribute to any open source software, or maintain a blog we’d love to hear about it!') }}
        </p>
        <p class="font-lg tracking-wider leading-loose mb-6 p-links-blue">
          {{ _('The successful applicant will be hired through MZLA Technologies Corporation, a subsidiary of the Mozilla Foundation. By applying to our jobs, you are agreeing to have your application reviewed by Thunderbird contractors and volunteers who are a part of the hiring committee as well as by staff members at the Mozilla Foundation and companies under its umbrella.') }}
        </p>
      </aside>
    </section>
  </section>

  {% include 'includes/site-prefooter.html' %}

{% endblock %}

