{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "_includes/base-resp.html" %}

{% block page_title %}{{ _('Lightning Calendar') }}{% endblock %}
{% block page_desc %}{{ _('Organize your life — it&rsquo;s about time!') }}{% endblock %}

{% block header_content %}
  <section class="text-left text-white flex flex-col items-start w-full max-w-6xl mx-auto pl-8 pr-8">
    <h1 class="font-hero font-thin mt-10 mb-16">{{ self.page_title() }}</h1>
  </section>
{% endblock %}

{% block content %}
  <section class="pt-10 pb-10 flex justify-between items-center pl-20">
    <aside class="flex flex-col w-2/5 ml-16 mr-16">
      <h3 class="header-section">
        <span>{{ svg('calendar') }}</span>
        <aside class="flex flex-col">
          {{ _('Lightning Calendar')}}
          <small class="font-normal font-md tracking-normal normal-case">
            {{ _('Organize your life &mdash; it&rsquo;s about time!') }}
          </small>
        </aside>
      </h3>
      <p class="font-lg tracking-wider leading-loose mb-6">
        {{ _('Organize your schedule and life&rsquo;s important events in a calendar that&rsquo;s fully integrated with your Thunderbird or Seamonkey email. Manage multiple calendars, create your daily to do list, invite friends to events, and subscribe to public calendars.') }}
      </p>
      <aside class="ml-0 mr-0 self-start text-left text-blue font-semibold">
        <a href="https://addons.thunderbird.net/addon/lightning/" class="btn-join self-start" target="_blank">
          {{_('Free Download')}}
        </a>
        <p class="font-sm mt-0 text-blue font-semibold self-start">
          <a href="https://addons.thunderbird.net/addon/lightning/versions/" class="small-link text-blue"
            target="_blank">{{ _('Other Systems &amp; Versions') }}</a>
        </p>
      </aside>
    </aside>

    <aside class="w-3/5">
      {{ platform_img('thunderbird/calendar/screenshot.png', {'alt': _('Lightning Calendar screenshot'), 'high-res': True, 'l10n': True, 'platforms': ('windows', 'linux', 'mac')}) }}
    </aside>
  </section>

  <section class="pt-20 pb-20 w-full bg-calendar">
    <section class="flex flex-wrap max-w-6xl mx-auto pl-8 pr-8">

      <aside class="flex flex-col w-1/3">
        <a href="https://developer.mozilla.org/en/Calendar/Calendar_Versions"
          class="flex flex-col btn-block-white m-2" target="_blank">
          <h4 class="header-section mb-0">
            <span>{{ svg('information') }}</span>
            <aside class="flex flex-col font-lg">
              {{ _('Compatibility Information')}}
              <small class="font-normal font-regular tracking-normal normal-case">
                {{ _('Thunderbird, Seamonkey, what version?') }}
              </small>
            </aside>
          </h4>
        </a>
      </aside>

      <aside class="flex flex-col w-1/3">
        <a href="https://support.mozilla.org/products/thunderbird/calendar"
          class="flex flex-col btn-block-white m-2" target="_blank">
          <h4 class="header-section mb-0">
            <span>{{ svg('help') }}</span>
            <aside class="flex flex-col font-lg">
              {{ _('Get Support')}}
              <small class="font-normal font-regular tracking-normal normal-case">
                {{ _('Need help with Lightning?') }}
              </small>
            </aside>
          </h4>
        </a>
      </aside>

      <aside class="flex flex-col w-1/3">
        <a href="holidays/" class="flex flex-col btn-block-white m-2" target="_blank">
          <h4 class="header-section mb-0">
            <span>{{ svg('calendar') }}</span>
            <aside class="flex flex-col font-lg">
              {{ _('Holiday Calendars')}}
              <small class="font-normal font-regular tracking-normal normal-case">
                {{ _('Need a break? Now you know when!') }}
              </small>
            </aside>
          </h4>
        </a>
      </aside>

      <aside class="flex flex-col w-1/3">
        <a href="https://developer.mozilla.org/en/Calendar/"
          class="flex flex-col btn-block-white m-2" target="_blank">
          <h4 class="header-section mb-0">
            <span>{{ svg('developer') }}</span>
            <aside class="flex flex-col font-lg">
              {{ _('Developer Tools')}}
              <small class="font-normal font-regular tracking-normal normal-case">
                {{ _('Dive into development.') }}
              </small>
            </aside>
          </h4>
        </a>
      </aside>

      <aside class="flex flex-col w-1/3">
        <a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Calendar"
          class="flex flex-col btn-block-white m-2" target="_blank">
          <h4 class="header-section mb-0">
            <span>{{ svg('warning') }}</span>
            <aside class="flex flex-col font-lg">
              {{ _('Bugzilla')}}
              <small class="font-normal font-regular tracking-normal normal-case">
                {{ _('Found a bug? Let us know!') }}
              </small>
            </aside>
          </h4>
        </a>
      </aside>

      <aside class="flex flex-col w-1/3">
        <a href="https://codetribute.mozilla.org/projects/calendar"
          class="flex flex-col btn-block-white m-2" target="_blank">
          <h4 class="header-section mb-0">
            <span>{{ svg('report') }}</span>
            <aside class="flex flex-col font-lg">
              {{ _('Bugs Ahoy!')}}
              <small class="font-normal font-regular tracking-normal normal-case">
                {{ _('Want to make a difference? Fix a bug that fits your interests.') }}
              </small>
            </aside>
          </h4>
        </a>
      </aside>

    </section>
  </section>

  {% include '_includes/site-prefooter.html' %}
{% endblock %}

{% block js %}
  <script type="text/javascript" src="/media/js/calendar.js" charset="utf-8"></script>
{% endblock %}


