/* Donation appeal button */
.page-appeal-dec24 .donate-banner #donate-banner-left {
    padding: 0.6875rem 0.75rem;
}
.donate-banner #donate-banner-left > b {
    font-size: 1.9rem;
}
.donate-banner #donate-banner-right {
    font-size: 1.4rem;
}
.donate-banner #donate-banner-right > b {
    font-size: 1.4rem;
}