/* Donation appeal button */
.donate-banner #donate-banner-left > b {
    font-size: 2rem;
}
.donate-banner #donate-banner-right {
    font-size: 1.4rem;
}
.donate-banner #donate-banner-right > b {
    font-size: 1.4rem;
}