{# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "includes/base/page.html" %}
{% from 'includes/macros/right-arrow-submit-button.html' import right_arrow_submit_button %}

{% set wait_list_success_message = _('Thank you for joining the waitlist for Thunderbird Pro Early Bird. We\'ll be in touch soon!') %}
{% set wait_list_error_message =_('An error occurred. Please try again.') %}


{% block extra_css %}
<link href="{{ static('css/waitlist.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block masthead %}
<h1>Join the Waitlist</h1>
{% endblock %}

{% block overview %}
<div class="top-level primary-block">
  <div id="waitlist-form">
    <h2 id="form-header">{{ _('Join the Waitlist') }}</h2>
    <div id="waitlist-welcome">
      <p>{{ _('Thunderbird Pro is currently in a closed Early Bird release and available by invitation only.
        Join the waitlist to stay informed on our progress and get early access as we expand availability.') }}</p>
    </div>
    <div class="form-container">
      <form action="https://thunderbird.us12.list-manage.com/subscribe/post?u=f8051cc8637cf3ff79661f382&amp;id=a508104cf8&amp;f_id=00caaae0f0"
            method="post"
            id="mc-embedded-subscribe-form"
            name="mc-embedded-subscribe-form"
            class="validate"
            target="_self"
            >

        <div class="form-elements">
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="hidden" name="tags" value="10526643">
            <input type="text" name="b_f8051cc8637cf3ff79661f382_a508104cf8" tabindex="-1" value="">
          </div>

          <label class="wrapper" for="mce-EMAIL">
            <span class="label">{{ _('Email address')}}
              <span class="required">*</span>
            </span>
            <span class="tbpro-input-wrapper">
              <input type="email" name="EMAIL" class="tbpro-input-element" id="mce-EMAIL" value="" autofocus="" required="">
            </span>
          </label>

          <label class="wrapper" for="mce-FNAME">
            <span class="label">{{ _('First name') }}</span>
            <span class="tbpro-input-wrapper">
              <input class="tbpro-input-element" type="text" id="mce-FNAME" name="FNAME">
            </span>
          </label>
          <label class="wrapper" for="mce-LNAME">
            <span class="label">{{ _('Last name')}}</span>
            <span class="tbpro-input-wrapper">
              <input class="tbpro-input-element" type="text" id="mce-LNAME" name="LNAME">
            </span>
          </label>

          <div class="buttons">
            {{ right_arrow_submit_button(_('Submit'), 'cta-button') }}
          </div>

        </div>

      </form>
      <div id="waitlist-message" class="hidden"></div>
    </div>
  </div>
</div>
{% endblock %}


{% block extra_js %}
<script src="{{ static('js/wait-list-bundle.js') }}"></script>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const form = document.getElementById('mc-embedded-subscribe-form');
  const messageDiv = document.getElementById('waitlist-message');
  const welcomeDiv = document.getElementById('waitlist-welcome');

  form.addEventListener('submit', (event) => {
    event.preventDefault();

    // Clear out previous messages.
    messageDiv.classList.add('hidden');
    messageDiv.textContent = '';

    // Modify URL so we can send JSONP to MC.
    const actionUrl = form.action.replace('/post?', '/post-json?');

    // Using jQuery, since fetch does not let us do JSONP.
    $.ajax({
      url: actionUrl,
      type: 'GET',
      data: $(form).serialize(),
      dataType: 'jsonp',
      jsonp: 'c', // Mailchimp specifically requires 'c' as the callback param.
      success: (data) => {
        if (data.result === 'success') {
          form.classList.add('hidden');
          messageDiv.textContent = "{{ wait_list_success_message }}";
        } else {
          // Mailchimp often returns errors in data.msg
          // But ignoring that message, as we cannot translate it ahead of time.
          messageDiv.innerHTML = "{{ wait_list_error_message }}";
        }
        messageDiv.classList.remove('hidden');
      },
      error: (err) => {

        messageDiv.innerHTML = "{{ wait_list_error_message }}";
        messageDiv.classList.remove('hidden');
      }
    });
  });
});

</script>
{% endblock %}
