{# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% set active_page = "privacy-policy" %}
{% extends "includes/base/page.html" %}

{% block page_title %}{{ _('Thunderbird Privacy Policy') }}{% endblock %}
{% block category %}{{ _('About') }}{% endblock %}

{% block content %}
<section>
  <div class="container">
    <div class="section-text">
    {# This is downloaded from build-site.py but should be checked into the repo. #}
    {% include 'includes/privacy/privacy-desktop.html' %}
    </div>
  </div>
</section>
{% endblock %}
