{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "_includes/base-resp.html" %}

{% block page_title %}{{ _('New in Thunderbird 78') }}{% endblock %}

{% block header_content %}
  <section class="text-left text-white flex flex-col items-start lg:w-full max-w-6xl mx-auto pl-8 pr-8">
    <h1 class="font-4xl md:font-hero font-thin md:mt-10 mb-8">{{ self.page_title() }}</h1>
    <p class="font-lg md:font-xl tracking-wide leading-relaxed max-w-4xl mb-16 mt-0 p-links">
      {{ _('This article describes some of the major changes visible to users in Thunderbird version 78. Full details of all the changes can be found in the <a href="%(release)s">Thunderbird release notes from 78.0 - 78.2.2</a>.')|format(release=url('thunderbird.releases.index')) }}
      </p>
  </section>
{% endblock %}

{% block content %}
  <section class="pt-20 pb-20 flex justify-center bg-calendar">
    <aside class="flex flex-col flex-1 max-w-6xl ml-16 mr-16">
      <!-- Add half screenshot of dark theme -->
      <img class="w-full h-auto mb-10 max-w-lg self-center shadow-lg" src="{{ static('/media/img/thunderbird/whatsnew/78/Dark-Mode.png') }}" alt="Thunderbird Dark Mode screenshot">
      <h3 class="header-section">
        <span>{{ svg('customize') }}</span>
        {{ _('Dark mode')}}
      </h3>
      <p class="font-lg tracking-wider leading-loose mb-10">
        {{ _('There is now a dark mode in Thunderbird, making late-night email easier on the eyes. To enable, Thunderbird will use your operating system settings to see if you have enabled dark mode OS-wide.') }}
      </p>
    </aside>
  </section>

  <section class="pb-10 flex flex-col lg:flex-row max-w-6xl mx-auto justify-between pl-8 pr-8">
    <aside class="flex flex-col flex-1 lg:max-w-lg">
      <img class="w-full h-auto mb-10 max-w-lg self-center shadow-lg" src="{{ static('/media/img/thunderbird/whatsnew/78/account-setup.png') }}" alt="New Account Setup and Account Central screenshot.">
      <h3 class="header-section">
        <span>{{ svg('link') }}</span>
        {{ _('Account Setup & Account Central Updated')}}
      </h3>
      <p class="font-lg tracking-wider leading-loose mb-8 mt-0">
        {{ _('The Account Setup window and the Account Central tab have both been updated. The Account Central tab appears when you do not have an account setup, or when you select an existing account in the folder tree.') }}
      </p>
      <p class="font-lg tracking-wider leading-loose mb-8 mt-0 flex-1 p-links-blue">
        {{ _('The layout and dialogues have been improved to make it easier to understand the information displayed and to find relevant settings. The Account Central tab also has new information about the Thunderbird project and displays the version you are using.') }}
      </p>
    </aside>

    <aside class="flex flex-col flex-1 lg:max-w-lg mt-10 lg:mt-0">
      <img class="w-full h-auto mb-10 max-w-lg self-center shadow-lg" src="{{ static('/media/img/thunderbird/whatsnew/78/compose-window.png') }}" alt="Screenshot showing various updates to the compose window for 78.">
      <h3 class="header-section">
        <span>{{ svg('settings') }}</span>
        {{ _('Redesigned Compose Window')}}
      </h3>
      <p class="font-lg tracking-wider leading-loose mb-8 mt-0">
        {{ _('The compose window has been reworked to make composing a message faster, easier and more straightforward. The compose window now also takes up less space with recipients listed in “pills” instead of an entire line for each address.') }}
      </p>
      <p class="font-lg tracking-wider leading-loose mb-8 mt-0 flex-1">
        {{ _('The redesigned compose window makes it easier to manage many email recipients, and the new intuitive layout helps users to discover its features.') }}
      </p>
    </aside>
  </section>

  <section class="pt-20 pb-20 flex justify-center bg-calendar">
    <aside class="flex flex-col flex-1 max-w-6xl ml-16 mr-16">
      <!-- Add half screenshot of dark theme -->
      <img class="w-full h-auto mb-10 max-w-lg self-center shadow-lg" src="{{ static('/media/img/thunderbird/whatsnew/78/e2eprefs.png') }}" alt="Screenshot of the PGP preferences window.">
      <h3 class="header-section">
        <span>{{ svg('customize') }}</span>
        {{ _('End-to-End Encrypted Email Support')}}
      </h3>
      <p class="font-lg tracking-wider leading-loose mb-10">
        {{ _('End-to-end encryption for email can be used to ensure that only the sender and the recipients of a message can read the contents. Without this protection it is easy for network administrators, email providers and government agencies to read your messages. If you would like to learn more about how end-to-end encryption in Thunderbird works, check out our article: <a href="%(encryption)s">Introduction to End-to-end encryption in Thunderbird</a>.')|format(encryption='https://support.mozilla.org/kb/introduction-to-e2e-encryption') }}
      </p>
    </aside>
  </section>

  <section class="pt-20 pb-20 flex justify-center bg-calendar pr-8 pl-8">
    <aside class="flex flex-col flex-1 lg:max-w-6xl lg:ml-16 lg:mr-16">
      <h3 class="header-section">
        <span>{{ svg('news') }}</span>
        {{ _('Other Notable Changes')}}
      </h3>
      <p class="font-lg tracking-wider leading-loose mb-6">
        {{ _('There are many other big changes that make Thunderbird 78 a very large release including: calendar and tasks are now integrated into Thunderbird, folder icons are now updated and their colors are customizable, the preferences are now searchable, and minimize to tray is now supported on Windows.') }}
      </p>
      <p class="font-lg tracking-wider leading-loose mb-10 p-links-blue">
        {{ _('There are many other updates in this release, you can see them in the release notes for <a href="%(release)s">Thunderbird 78.0 - 78.2.2</a>.')|format(release=url('thunderbird.releases.index')) }}
      </p>
    </aside>
  </section>

  {% include '_includes/donate-mailing-list.html' %}

{% endblock %}
