{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "_includes/base-resp.html" %}

{% block page_title %}{{ _('Thunderbird Features') }}{% endblock %}

{% block page_desc %}
  {% if LANG.startswith('en-') %}
    Thunderbird makes email better for you, bringing together speed, privacy and the latest technologies.
  {% else %}
    {{ _('It’s all yours. It’s now easier to upgrade to Thunderbird.') }}
  {% endif %}
{% endblock %}

{% block header_content %}
  <section class="text-left text-white flex flex-col items-start xl:w-full max-w-6xl mx-auto pl-8 pr-8">
    <h1 class="font-4xl md:font-hero font-thin md:mt-10 mb-8">{{ self.page_title() }}</h1>
    <p class="font-lg md:font-xl tracking-wide leading-relaxed max-w-4xl mb-10 mt-0">
      {{ self.page_desc() }}
    </p>
  </section>
  <nav role="directory" class="text-left text-white flex justify-center w-full max-w-6xl mx-auto bg-black-25 rounded mb-10">
    <ul class="list-none p-0 flex flex-wrap justify-around flex-1 m-0">
      <li class="ml-2 mr-2">
        <a href="#getstarted" class="btn-link">{{ _('Easier to Get Started') }}</a>
      </li>
      <li class="ml-2 mr-2">
        <a href="#tabssearch" class="btn-link">{{ _('Tabs and Search') }}</a>
      </li>
      <li class="ml-2 mr-2">
        <a href="#customize-email" class="btn-link">{{ _('Customize Your Email Experience') }}</a>
      </li>
      <li class="ml-2 mr-2">
        <a href="#secureprotect" class="btn-link">{{ _('Secure and Protect Your Email') }}</a>
      </li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
  <section id="getstarted" class="mt-20 mb-14 flex max-w-6xl mx-auto justify-center items-center pl-8 pr-8">
    <span class="header-line flex-1"></span>
    <h2 class="header-section pl-4 pr-4 mb-0 text-center">{{ _('Easier to Get Started')}}</h2>
    <span class="header-line flex-1"></span>
  </section>

  <section class="mb-20 flex flex-col lg:flex-row flex-wrap max-w-6xl mx-auto justify-between pl-8 pr-8">
    <aside class="flex flex-col md:flex-row lg:flex-col lg:w-1/3 lg:max-w-xs mb-10 lg:mb-0">
      <img class="w-full h-auto mb-10 max-w-sm self-center shadow-lg"
        src="{{ static('img/thunderbird/features/mail-account-setup.png') }}" alt="">
      <aside class="ml-0 md:ml-8 lg:ml-0">
        <h3 class="subheader-section">{{ _('Mail Account Setup Wizard')}}</h3>
        <p class="font-md tracking-wider leading-loose mb-8 mt-0">
          {{ _('Prior to this feature you had to know your IMAP, SMTP, and SSL/TLS settings. Now all you need to provide is your name, email address, and password and the email account set up wizardry will check our database and find the email settings for you.') }}
        </p>
      </aside>
    </aside>

    <aside class="flex flex-col md:flex-row lg:flex-col lg:w-1/3 lg:max-w-xs mb-10 lg:mb-0">
      <img class="w-full h-auto mb-10 max-w-sm self-center shadow-lg"
        src="{{ static('img/thunderbird/features/address-book.png') }}" alt="">
      <aside class="ml-0 md:ml-8 lg:ml-0">
        <h3 class="subheader-section">{{ _('One-click Address Book')}}</h3>
        <p class="font-md tracking-wider leading-loose mb-8 mt-0">
          {{ _('One-click Address Book is a quick and easy way to add people to your address book. Add people by simply clicking on the star icon in the message you receive. Two clicks and you can add more details like a photo, birthday, and other contact information.') }}
        </p>
      </aside>
    </aside>

    <aside class="flex flex-col md:flex-row lg:flex-col lg:w-1/3 lg:max-w-xs">
      <img class="w-full h-auto mb-10 max-w-sm self-center shadow-lg"
        src="{{ static('img/thunderbird/features/attachment-reminder.png') }}" alt="">
      <aside class="ml-0 md:ml-8 lg:ml-0">
        <h3 class="subheader-section">{{ _('Attachment Reminder')}}</h3>
        <p class="font-md tracking-wider leading-loose mb-8 mt-0">
          {{ _('The attachment reminder looks for the word attachment (and other words like file types) in the body of your message and reminds you to add an attachment before hitting send.') }}
        </p>
      </aside>
    </aside>

    <!-- # Leaving this out until we have a better chat story.
    <section class="flex w-full justify-center items-center mt-10">
      <aside class="flex flex-col w-1/2 max-w-md">
        <h3 class="subheader-section">{{ _('Multiple-channel chat')}}</h3>
        <p class="font-md tracking-wider leading-loose mb-8 mt-0">
          {{ _('Enjoy real-time conversation with your contacts, right from your favorite messaging application, with multiple supported networks. Thunderbird makes it easy to search through both past conversations and received emails.') }}
        </p>
      </aside>
      <aside class="flex flex-col w-1/2 max-w-md">
        <img class="w-full h-auto mb-10 max-w-sm self-center shadow-lg"
          src="{{ static('img/thunderbird/features/chatnetworks.png') }}" alt="">
      </aside>
    </section> -->
  </section>

  <section id="tabssearch" class="mt-20 mb-14 flex max-w-6xl mx-auto justify-center items-center pl-8 pr-8">
    <span class="header-line flex-1"></span>
    <h2 class="header-section pl-4 pr-4 mb-0 text-center">{{ _('Tabs and Search')}}</h2>
    <span class="header-line flex-1"></span>
  </section>

  <section class="bg-body w-full">
    <section class="mb-20 flex flex-col lg:flex-row flex-wrap max-w-6xl mx-auto justify-between pl-8 pr-8">

      <section class="flex flex-col-reverse md:flex-row w-full justify-center items-center mb-10">
        <aside class="flex flex-col flex-1">
          <h3 class="subheader-section">{{ _('Tabbed Email')}}</h3>
          <p class="font-md tracking-wider leading-loose mb-4 mt-0">
            {{ _('If you like Firefox’s tabbed browsing, you’re going to love tabbed email. Tabbed email lets you load emails in separate tabs so you can quickly jump between them. Perhaps you’re responding to an email and need to refer back to an earlier email. Tabbed email lets you keep multiple emails open for easy reference.') }}
          </p>
          <p class="font-md tracking-wider leading-loose mb-8 mt-0">
            {{ _('When quitting Thunderbird, visible tabs will be saved and will be restored when you open Thunderbird the next time. There is also a Tab menu on the Tab toolbar to help you switch between Tabs.') }}
          </p>
        </aside>
        <aside class="flex flex-col w-1/2 max-w-md">
          <img class="w-full h-auto mb-10 max-w-sm self-center shadow-lg"
            src="{{ static('img/thunderbird/features/newaustralis.png') }}" alt="">
        </aside>
      </section>

      <aside class="flex flex-col md:flex-row lg:flex-col lg:w-1/3 lg:max-w-xs mb-10 lg:mb-0">
        <img class="w-full h-auto mb-10 max-w-sm self-center shadow-lg"
          src="{{ static('img/thunderbird/features/quick-filter-toolbar.png') }}" alt="">
        <aside class="ml-0 md:ml-8 lg:ml-0">
          <h3 class="subheader-section">{{ _('Quick Filter Toolbar')}}</h3>
          <p class="font-md tracking-wider leading-loose mb-8 mt-0">
            {{ _('The Quick Filter Toolbar lets you filter your email faster. Start typing in words in the Quick Filter search box and the results are displayed instantly. Or you can filter your email by New Messages, Tags, and people in your Address Book. You can also "Pin" or save a Filter and use it across multiple folders.') }}
          </p>
        </aside>
      </aside>

      <aside class="flex flex-col md:flex-row lg:flex-col lg:w-1/3 lg:max-w-xs mb-10 lg:mb-0">
        <img class="w-full h-auto mb-10 max-w-sm self-center shadow-lg"
          src="{{ static('img/thunderbird/features/search.png') }}" alt="">
        <aside class="ml-0 md:ml-8 lg:ml-0">
          <h3 class="subheader-section">{{ _('Search Tools')}}</h3>
          <p class="font-md tracking-wider leading-loose mb-8 mt-0">
            {{ _('The search interface in Thunderbird contains filtering and timeline tools to pinpoint the exact email you’re looking for. Thunderbird also indexes all of your emails and chat conversations to help you search even faster. Your search results are displayed in a tab so you can easily switch back and forth to your search results and other email.') }}
          </p>
        </aside>
      </aside>

      <aside class="flex flex-col md:flex-row lg:flex-col lg:w-1/3 lg:max-w-xs">
        <img class="w-full h-auto mb-10 max-w-sm self-center shadow-lg"
          src="{{ static('img/thunderbird/features/message-archive.png') }}" alt="">
        <aside class="ml-0 md:ml-8 lg:ml-0">
          <h3 class="subheader-section">{{ _('Message Archive')}}</h3>
          <p class="font-md tracking-wider leading-loose mb-8 mt-0">
            {{ _('If you think you’re going to need an email in the future but want it out of your inbox without deleting it, archive it! Archiving helps you manage your inbox and put your email into the archive folder system.') }}
          </p>
        </aside>
      </aside>
    </section>
  </section>

  <section id="customize-email" class="mt-20 mb-14 flex max-w-6xl mx-auto justify-center items-center pl-8 pr-8">
    <span class="header-line flex-1"></span>
    <h2 class="header-section pl-4 pr-4 mb-0 text-center">{{ _('Customize Your Email Experience')}}</h2>
    <span class="header-line flex-1"></span>
  </section>

  <section class="mb-20 flex flex-col lg:flex-row flex-wrap max-w-6xl mx-auto justify-between pl-8 pr-8">

    <section class="flex flex-col-reverse md:flex-row w-full justify-center items-center mb-10">
      <aside class="flex flex-col flex-1">
        <h3 class="subheader-section flex flex-col">
          {{ _('Large Files Management')}}
          <small class="font-normal font-base tracking-wide normal-case">
            {{ _('Share large files with Thunderbird Filelink!') }}
          </small>
        </h3>
        <p class="font-md tracking-wider leading-loose mb-4 mt-0">
          {{ _('You can now speed up the transfer of large documents by uploading them to an online storage provider and sharing the link instead of sending the file directly as a message attachment. Improve the speed of sending email and avoid message rejection if the recipient’s server disallows large files. As an added bonus, you’ll also save space in your sent folder and the recipient’s inbox.') }}
        </p>
      </aside>
      <aside class="flex flex-col w-1/2 max-w-md">
        <img class="w-full h-auto mb-10 max-w-sm self-center shadow-lg"
          src="{{ static('img/thunderbird/features/filelink.png') }}" alt="">
      </aside>
    </section>

    <aside class="flex flex-col md:flex-row lg:flex-col lg:w-1/3 lg:max-w-xs mb-10 lg:mb-0">
      <img class="w-full h-auto mb-10 max-w-sm self-center shadow-lg"
        src="{{ static('img/thunderbird/features/dark-theme.png') }}" alt="">
      <aside class="ml-0 md:ml-8 lg:ml-0">
        <h3 class="subheader-section">{{ _('Thunderbird Look & Feel')}}</h3>
        <p class="font-md tracking-wider leading-loose mb-8 mt-0">
          {{ _('Themes allow you to change the look of Thunderbird in an instant. Working on getting to inbox zero at night? Turn on the dark theme to make managing your email easier on the eyes. Thunderbird ships with both light and dark themes, and more are available as add-ons.') }}
        </p>
      </aside>
    </aside>

    <aside class="flex flex-col md:flex-row lg:flex-col lg:w-1/3 lg:max-w-xs mb-10 lg:mb-0">
      <img class="w-full h-auto mb-10 max-w-sm self-center shadow-lg"
        src="{{ static('img/thunderbird/features/message-archive.png') }}" alt="">
      <aside class="ml-0 md:ml-8 lg:ml-0">
        <h3 class="subheader-section">{{ _('Smart Folders')}}</h3>
        <p class="font-md tracking-wider leading-loose mb-8 mt-0">
          {{ _('Smart Folders help you manage multiple email accounts by combining special folders like your Inbox, Sent, or Archive folder. Instead of going to the Inbox for each of your mail accounts, you can see all of your incoming email in one Inbox folder.') }}
        </p>
      </aside>
    </aside>

    <aside class="flex flex-col md:flex-row lg:flex-col lg:w-1/3 lg:max-w-xs">
      <img class="w-full h-auto mb-10 max-w-sm self-center shadow-lg"
        src="{{ static('img/thunderbird/features/addon-manager.png') }}" alt="">
      <aside class="ml-0 md:ml-8 lg:ml-0">
        <h3 class="subheader-section">{{ _('Add-ons Manager')}}</h3>
        <p class="font-md tracking-wider leading-loose mb-8 mt-0">
          {{ _('Find and install add-ons directly in Thunderbird. You no longer need to visit the add-ons Web site - instead simply fire up the Add-ons Manager. Not sure which add-on is right for you? Ratings, recommendations, descriptions and pictures of the add-ons in action help you make your selection.') }}
        </p>
      </aside>
    </aside>
  </section>

  <section id="secureprotect" class="mt-20 md:mb-14 flex max-w-6xl mx-auto justify-center items-center pl-8 pr-8">
    <span class="header-line flex-1"></span>
    <h2 class="header-section pl-4 pr-4 mb-0 text-center">{{ _('Secure and Protect Your Email')}}</h2>
    <span class="header-line flex-1"></span>
  </section>

  <section class="pt-20 pb-20 w-full bg-calendar">
    <section class="flex flex-col lg:flex-row flex-wrap max-w-6xl mx-auto justify-between pl-8 pr-8">
      <aside class="flex flex-col md:flex-row lg:flex-col lg:w-1/3 lg:max-w-xs">
        <img class="w-full h-auto mb-10 max-w-sm self-center shadow-lg"
          src="{{ static('img/thunderbird/features/robust-privacy.png') }}" alt="">
        <aside class="ml-0 md:ml-8 lg:ml-0">
          <h3 class="subheader-section">{{ _('Robust Privacy')}}</h3>
          <p class="font-md tracking-wider leading-loose mb-4 mt-0">
            {{ _('Thunderbird offers support for user privacy and remote image protection. To ensure a user’s privacy, Thunderbird automatically blocks remote images in email messages.') }}
          </p>
        </aside>
      </aside>

      <aside class="flex flex-col md:flex-row lg:flex-col lg:w-1/3 lg:max-w-xs">
        <img class="w-full h-auto mb-10 max-w-sm self-center shadow-lg"
          src="{{ static('img/thunderbird/features/phishing-protection.png') }}" alt="">
        <aside class="ml-0 md:ml-8 lg:ml-0">
          <h3 class="subheader-section">{{ _('Phishing Protection')}}</h3>
          <p class="font-md tracking-wider leading-loose mb-4 mt-0">
            {{ _('Thunderbird protects you from email scams which try to trick users into handing over personal and confidential information by indicating when a message is a potential phishing attempt. As a second line of defense, Thunderbird warns you when you click on a link which appears to be taking you to a different Web site than the one indicated by the URL in the message.') }}
          </p>
        </aside>
      </aside>

      <aside class="flex flex-col md:flex-row lg:flex-col lg:w-1/3 lg:max-w-xs">
        <img class="w-full h-auto mb-10 max-w-sm self-center shadow-lg"
          src="{{ static('img/thunderbird/features/automated-update.png') }}" alt="">
        <aside class="ml-0 md:ml-8 lg:ml-0">
          <h3 class="subheader-section">{{ _('Automated Update')}}</h3>
          <p class="font-md tracking-wider leading-loose mb-4 mt-0">
            {{ _('Thunderbird’s update system checks to see if you’re running the latest version, and notifies you when a security update is available. These security updates are small (usually 200KB - 700KB), giving you only what you need and making the security update quick to download and install. The automated update system provides updates for Thunderbird on Windows, macOS, and Linux in over 40 different languages.') }}
          </p>
        </aside>
      </aside>

      <section class="flex flex-col lg:flex-row w-full justify-between items-center mt-10">
        <aside class="flex flex-col lg:w-1/2 lg:max-w-md">
          <h3 class="subheader-section">{{ _('Cutting Out the Junk')}}</h3>
          <p class="font-md tracking-wider leading-loose mb-8 mt-0">
            {{ _('Thunderbird’s popular junk mail tools have been updated to stay ahead of spam. Each email you receive passes through Thunderbird’s leading-edge junk mail filters. Each time you mark messages as spam, Thunderbird "learns" and improves its filtering so you can spend more time reading the mail that matters. Thunderbird can also use your mail provider’s spam filters to keep junk mail out of your inbox.') }}
          </p>
        </aside>

        <aside class="flex flex-col lg:w-1/2 lg:max-w-md">
          <h3 class="subheader-section">{{ _('Open Source')}}</h3>
          <p class="font-md tracking-wider leading-loose mb-8 mt-0">
            {{ _('At the heart of Thunderbird is an open source development process driven by thousands of passionate, experienced developers and security experts spread all over the world. Our openness and active community of experts helps to ensure our products are more secure and quickly updated, while also enabling us to take advantage of the best third party security scanning and evaluation tools to further bolster overall security.') }}
          </p>
        </aside>
      </section>
    </section>
  </section>

  {% include '_includes/site-prefooter.html' %}
{% endblock %}
