@import "../breakpoints.less";
@import "../images.less";
@import "../../common/space.less";
@import "../nav.less";

#nav-link-appointment {
    .mixin-active-nav-link();
}

header#masthead {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;


    &>* {
        text-align: center;
    }

    h1 {
        white-space: wrap;
        max-width: 80%;
    }

    p {
        max-width: 400px;
    }

    @media (min-width: @md) {

        h1 {
            font-size: 3rem;
        }
        p {
            max-width: 750px;
        }

    }

    @media (min-width: @lg) {
        h1 {
            font-size: 4.5rem;
        }
    }

    .product-logo {
        .mixin-background-svg('/media/svg/tbpro/logo-appointment-full.svg');
        aspect-ratio: 3.4/1;
        height: 80px;
    }

    .hero-image {
        aspect-ratio: 1.9/1;

        width: 100%;
        .mixin-background-image('/media/img/tbpro/xs-appointment-hero');

        @media (min-width: @lg) {
            .mixin-background-image('/media/img/tbpro/xl-appointment-hero');
            aspect-ratio: 3.6/1;
            max-width: 970px;
        }
    }
}

section#overview {
    .overview-card-container {
        .overview-card {
            background-color: #1a202c;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .overview-card-1 {
            background-image: url('/media/img/tbpro/appointment-bento-main.png');
            overflow: hidden;

            @media (min-width: @lg) {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 6fr 1fr 2fr 1fr;
                gap: 0.5rem;

                header {
                    align-self: end;
                    grid-row: 3;
                    padding-inline: 2rem;
                }

                p {
                    grid-row: 4;
                    // max-width: 368px;
                    padding-inline: 2rem;
                }
            }


            .overview-image {
                .mixin-background-image('/media/img/tbpro/xs-appointment-bento-top');
                aspect-ratio: 1.97/1;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;

                margin-bottom: 1.5rem;
                margin-top: 1rem;
                margin-left: 1.25rem;
                @media (min-width: @lg) {
                    .mixin-background-image('/media/img/tbpro/xl-appointment-bento-left');
                    aspect-ratio: 2.09/1;
                    grid-row: 2;
                    margin-left: 2rem;
                }
            }
        }

        .overview-card-2 {
            background-image: url('/media/img/tbpro/appointment-bento-right-top.png');

            @media (min-width: @lg) {
                display: grid;
                gap: 0.5rem;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 2fr;
                overflow: hidden;

                header {
                    align-self: end;
                    grid-column: 1;
                    grid-row: 1;
                    padding: 0;
                    padding-left: 2rem;
                }
                p {
                    grid-column: 1;
                    grid-row: 2;
                    padding: 0;
                    padding-bottom: 2rem;
                    padding-left: 2rem;
                }
            }

            .overview-image {
                .mixin-background-image('/media/img/tbpro/xs-appointment-bento-bottom');
                aspect-ratio: 1.67/1;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                margin: 0 auto;
                margin-right: 0;
                margin-top: 1.5rem;
                max-width: 85%;

                @media (min-width: @lg) {
                    .mixin-background-image('/media/img/tbpro/xl-appointment-bento-top-right');
                    aspect-ratio: unset;
                    grid-row: 1 / -1;
                    justify-self: end;
                    margin-top: unset;
                    max-width: unset;
                }
            }
        }
        .overview-card-3 {
            background-image: url('/media/img/tbpro/appointment-bento-right-bottom.png');
            padding-bottom: 0;
            overflow: hidden;

            @media (min-width: @lg) {
                display: grid;
                gap: 0.5rem;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 3fr 4fr;
                padding-inline: 0.75rem 0;
                header {
                    align-self: end;
                    grid-column: 1;
                    grid-row: 1;
                    padding: 0;
                    padding-left: 2rem;
                }
                p {
                    grid-column: 1;
                    grid-row: 2;
                    // min-width: 268px;
                    padding: 0;
                    padding-left: 2rem;
                }
            }

            .overview-image {
                .mixin-background-svg('/media/svg/tbpro/zoom-logo.svg');
                aspect-ratio: 4.32/1;
                height: 50px;
                margin-top: 5.125rem;
                margin-bottom: 5.125rem;
                width: 100%;

                @media (min-width: @lg) {
                    grid-column: 2;
                    grid-row: 1 / -1;
                    margin: auto;
                }

            }
        }
    }
}
