// Base
@import "new/fonts.less";
@import "new/colours.less";
@import "new/links.less";

/*-------------------------
* Media Queries
*--------------------------*/
@xs: 480px;
@sm: 640px;
@md: 768px;
@lg: 1024px;
@xl: 1280px;
@xxl: 1440px;