// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "base/font-faces.less";

:root {
  --font-content: 'Inter' , X-LocaleSpecific, sans-serif;
  --font-heading: 'Metropolis', X-LocaleSpecific, sans-serif;

  --colour-ti-base: #18181b;
  --colour-ti-base-inverted: #F7F7F8;
  --colour-ti-brand: #19518F;
  --colour-ti-muted: #71717A;
  --colour-ti-secondary: #52525B;
  --colour-surface-border: #D9D9DE;
  --colour-surface-raised: #FFF;

  --freedom-gradient: linear-gradient(90deg, #204170 0%, #315F9F 100%);

  // Release channel tag
  --release-channel-bg: #fff;
  --release-channel-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.10);
  --release-channel-border: none;

  // Donate button
  --donate-border-colour: #072C4E;
  --donate-text-colour: #204170;
  --donate-btn-bg-colour: linear-gradient(0deg, #204170 0%, #4279C7 100%);
  --donate-heart-fill: #FF6190;
  --donate-heart-stroke: var(--colour-ti-base-inverted);

  --box-bg: rgba(255, 255, 255, 0.9);
  --shadow: 0px 2px 4px 0px #0000001F;

  --background-image: url('/media/img/thunderbird/backgrounds/bg-start-2026-light.webp');
}

@media (prefers-color-scheme: dark) {
  :root {
    --colour-ti-base: #F7F7F8;
    --colour-ti-base-inverted: #18181B;
    --colour-ti-brand: #5FA6E8;
    --colour-ti-muted: #A1A1AA;
    --colour-ti-secondary: #D4D4D8;
    --colour-surface-border: #52525B;
    --colour-surface-raised: #2B2B2F;

    --freedom-gradient: linear-gradient(90deg, #67C0DE 0%, #D4F6FE 100%);

    // Release channel tag
    --release-channel-bg: rgba(0, 6, 22, 0.80);
    --release-channel-shadow: none;
    --release-channel-border: 1px solid var(--colour-surface-border);

    // Donate button
    --donate-border-colour: #2C6D99;
    --donate-text-colour: #C2E0EA;
    --donate-btn-bg-colour: linear-gradient(0deg, #65D8FF 0%, #C7E9F5 100%);
    --donate-heart-fill: #FF6190;
    --donate-heart-stroke: var(--colour-ti-base-inverted);

    --box-bg: rgba(0, 6, 22, 0.90);
    --shadow: 0 4px 16px rgba(0, 0, 0, 0.3);

    --background-image: url('/media/img/thunderbird/backgrounds/bg-start-2026-dark.webp');
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
      transform: none !important;
      transition: none !important;
    }
}

html {
  font-family: var(--font-content);
  font-size: 1rem;
}

body {
  margin: 0;
  min-height: 100vh;
  max-width: 100%;
  padding: 0;
  background-color: #f3f9fb;
  color: var(--colour-ti-base);
  line-height: 1.5;
  position: relative;
  background-image: var(--background-image);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  font-weight: 600;
  line-height: 1;
}

/* FREEDOM PAGE */
#start-page {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  font-family: var(--font-content);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    color: #60a5fa;
    text-decoration: underline dotted;
  }

  #release-channel {
    display: block;
    background-color: var(--release-channel-bg);
    color: var(--colour-ti-base);
    padding: 0.75rem 2rem;
    border-bottom-right-radius: 36px;
    border-bottom-left-radius: 36px;
    font-size: 0.8rem;
    font-weight: 600;
    height: 46px;
    box-shadow: var(--release-channel-shadow);
    border: var(--release-channel-border);
    border-block-start: none;
  }

  header {
    width: 100%;
    max-width: 62.5rem;
    padding: 2.5rem 2.25rem 0 2.25rem;
    text-align: center;

    h1 {
      display: inline-flex;
      flex-direction: column;
      gap: 0.25rem;
      font-family: var(--font-heading);
      font-size: 2rem;
      font-weight: 400;
      line-height: 1;
      letter-spacing: -0.25px;
      margin-block-end: 1rem;

      .gradient-text {
        background: var(--freedom-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 2.25rem;
      }
    }

    .tagline {
      max-width: 33.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: var(--colour-ti-base);
      margin: 0 auto 2rem;

      br {
        display: none;
      }
    }

    .donate-btn {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5625rem;
      width: min-content;
      height: 48px;
      text-decoration: none;
      color: var(--colour-ti-base-inverted);
      font-family: var(--font-heading);
      font-weight: 700;
      font-size: 1.25rem;
      padding: 1rem 1.25rem 0.75rem;
      background: var(--donate-btn-bg-colour);
      border-width: 0 2px 4px 2px;
      border-style: solid;
      border-color: var(--donate-border-colour);
      border-radius: 48px;
      margin: 0 auto 0.75rem;
    }

    .donate-text {
      font-family: var(--font-heading);
      font-weight: 600;
      font-size: 0.9375rem;
      line-height: 20px;
      color: var(--donate-text-colour);
      margin-block-end: 2rem;
    }
  }

  .features {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
    padding: 1.5rem 1rem;

    .feature-box {
      background-color: var(--box-bg);
      border: 1px solid var(--colour-surface-border);
      border-radius: 28px;
      padding: 2rem;
      box-shadow: var(--shadow);

      h3 {
        font-size: 1.5rem;
        font-family: var(--font-heading);
        font-weight: 700;
        color: var(--colour-ti-base);
        margin-bottom: 0.5rem;

        &.m-b-lg {
          margin-bottom: 1.5rem;
        }
      }

      .subhead {
        font-family: var(--font-heading);
        font-size: 0.875rem;
        font-weight: 600;
        color: var(--colour-ti-muted);
        margin-block-end: 1rem;
      }

      p {
        font-family: var(--font-content);
        font-size: 1rem;
        line-height: 24px;
        color: var(--colour-ti-secondary);
        margin-block-end: 1rem;

        a {
          text-decoration: none;
          color: var(--colour-ti-brand);
          font-weight: 700;
        }
      }

      ul {
        padding-left: 1.25rem;
        color: var(--colour-ti-secondary);

        li {
          margin-block-end: 0.5rem;
        }
      }

      .feature-btn-set {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        align-items: flex-start;
      }

      .feature-btn {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.625rem 1rem;
        border: 1px solid var(--colour-surface-border);
        border-radius: 100px;
        color: var(--colour-ti-base);
        background-color: var(--colour-surface-raised);
        font-weight: 700;
        font-size: 0.875rem;
        text-decoration: none;

        svg {
          height: 1.25rem;
          width: auto;
          color: inherit;
        }
      }
    }
  }

  footer {
    margin: 1.5rem 1rem 4rem 1rem;
    padding: 1.25rem 2.5rem;
    border: 1px solid var(--colour-surface-border);
    border-radius: 28px;
    background-color: var(--box-bg);
    font-size: 1rem;
    font-family: var(--font-content);
    line-height: 24px;
    text-align: center;
    box-shadow: var(--shadow);

    a {
      text-decoration: none;

      strong {
        color: var(--colour-ti-brand);
        font-weight: 600;
      }
    }
  }
}

/* BREAKPOINTS */
@media (min-width: 768px) {
  #start-page {
    header {
      padding: 2.5rem 3rem 0 3rem;

      h1 {
        font-size: 3.5rem;
        gap: 0.5rem;
  
        .gradient-text {
          font-size: 3.5rem;
        }
      }
    }

    .features {
      flex-direction: row;
      padding: 1.5rem 3rem;
      gap: 1.5rem;

      .feature-box {
        width: 50%;
        padding: 2.5rem 2.5rem 1.75rem 2.5rem;

        .subhead {
          margin-block-end: 1.5rem;
        }

        p {
          margin-block-end: 1.5rem;
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  #start-page {
    header {
      padding: 2.5rem 4.5rem 0 4.5rem;

      h1 { 
        flex-direction: row;
        gap: 0.875rem;
      }

      .tagline {
        br {
          display: inline-block;
        }
      }
    }

    .features {
      padding: 1.5rem 4.5rem;
      gap: 3rem;

      .feature-box {
        max-width: 25.31rem;
      }
    }
  }
}
