@import "tbpro/base.less";

// Actual colors used
//
:root {
    --header-color: #1373d9;
}


// Constrain all main blocks to the largest breakpoint.
.primary-block {
    max-width: @lg;
    margin-inline: auto;
}

header#masthead {
    --button-text-color: #1A202C;
    --color-left-blue: #b4e7ff;
    --color-right-blue: rgba(180, 231, 255, 0.9);
    --color-mid-left-purple: rgba(221, 180, 254, 0.7);

    @media (min-width: @md) {
        display: grid;
        grid-template-rows: auto auto auto auto 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin-top: @space-72;
    }

    .hero-image {
        margin: 0 auto;
        max-width: 100vw;
        .mixin-background-image('/media/img/thunderbird/tbpro/orb-graphic');
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        aspect-ratio: 1.4/1;
        margin-right: @space-24;

        @media (min-width: @md) {
            grid-column: 3 / -1;
            grid-row: 2 / -1;

            max-width: unset;
            margin: 0;
            margin-top: @space-36;

            .mixin-background-image('/media/img/thunderbird/tbpro/orb-graphic-high-res');
        }
    }

    h1 {
        text-shadow: 0 4px 2px rgba(0, 0, 0, 0.05);
        white-space: pre;
        margin: 0;

        .brand-display-xs();
        @media (min-width: @md) {
            .brand-display-lg();

            grid-row: 1 / span 2;
            grid-column: 1 / -1;
        }

    }

    p {
        margin-block: @space-6;
        .web-body-default();
        @media (min-width: @md) {
            .web-body-large();
            grid-row: 3;
            grid-column: 1 / span 2;
        }
    }

    .txt-gradient {
        color: transparent;
        -webkit-background-clip: text;
        background: linear-gradient(105deg, #58c9ff 45%, #ddb4fe 62%);
        background-clip: text;
        display: block;
        width: fit-content;
    }


    .cta-button {
        margin-top: @space-12;
        margin-bottom: @space-18;

        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 1rem @space-24;

        // Button text
        color: var(--button-text-color);
        text-shadow: 0.03125rem 0.03125rem 0 rgba(255, 255, 255, 0.10);
        font-size: .8rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.03rem;
        text-transform: uppercase;
        text-decoration: none;

        @media (min-width: @md) {
            grid-column: 1;
            grid-row: 4;
            max-width: 180px;
        }

        // Button style
        background: linear-gradient(329deg, #1373D9 -21.06%, #58C9FF 64%) padding-box,
                    linear-gradient(247deg, rgba(43, 140, 220, 1) 0%, rgba(0, 102, 255, 0) 10%, rgba(0, 102, 255, 0) 90%, rgba(43, 140, 220, 1) 100%) border-box;
        border: 0.0625rem solid transparent;
        border-radius: 1rem;

        & img {
            margin-left: @space-3;
        }

        &:hover {
            text-decoration: none;
        }
    }
}

section#features {
    padding-bottom: @space-72;

    @media (min-width: @lg) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: @space-12;

        .feature-card:first-child {
            grid-row: 1 / -1;
            height: 100%;
        }
    }

    .feature-card {
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px);

        box-shadow: inset 0 0 74px 0 rgba(0, 0, 0, 0.05);
        border: solid 1px rgba(255, 255, 255, 0.05);
        border-radius: 1.5rem;

        min-width: 0;

        color: #eeeef0; // var(--color-text-base);

        display: flex;
        flex-direction: column;

        @media (min-width: @lg) {
            gap: 0.875rem;
        }

        // For mobile layout, space above a feature card, if there's a previous one.
        &+.feature-card {
            margin-top: @gutter;
            @media (min-width: @lg) {
                margin-top: 0;
            }
        }

        .card-info {
            .card-header {
                display: flex;
                gap: 0.9375rem;

                .app-icon {
                    flex: 0 0 auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    aspect-ratio: 1 / 1;

                    // debug
                    height: 48px;
                    width: 48px;

                }
                .app-header {
                    flex: 1;
                    display: flex;
                    gap: 4px;
                    flex-direction: column;

                    & > * {
                        display: block;
                        margin: 0;
                    }

                    .app-name {
                        color: #58c9ff; // var(--color-text-highlight);
                        text-transform: uppercase;

                        .brand-eyebrow-xs();
                        @media (min-width: @lg) {
                            .brand-eyebrow-lrg();
                        }
                    }
                    .app-tagline {
                        .brand-headline-h3-sm();
                        @media (min-width: @lg) {
                            .brand-headline-h3-lrg();
                        }
                    }
                }
            }
            .card-body {
                text-align: left;
                .web-body-small();
                line-height: 1.23; // Specified in Zeplin
                @media (min-width: @md) {
                    .web-body-default();
                }
            }
        }

        .card-image {
            background-size: 100% auto;
            background-position: center center;
            background-repeat: no-repeat;
            height: auto;
            aspect-ratio: 16/9;

            @media (min-width: @lg) {
                aspect-ratio: 21/9;
            }
        }

    }

    @media (min-width: @lg) {
        // First card retains stacked layout.
        .feature-card:not(:first-child) {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr;
        }
    }

    .mixin-card-gradient(@accent-color, @darken-by: 30%, @accent-position: 100%) {
        background-image: linear-gradient(349deg,
                                          #0f1623 0%,
                                          #0a0f19 40%,
                                          #06090e 85%,
                                          darken(@accent-color, @darken-by) @accent-position);
        background-clip: padding-box;
    }

    .feature-card-1 {
        .mixin-card-gradient(#1373d9, 23%);
        justify-content: space-between;

        // Copied from zeplin:
        padding: 32px 17.4px 16.1px 19px;

        .card-image {
            .mixin-background-image('/media/img/thunderbird/tbpro/xs-thundermail-hero-high-res');
            @media (min-width: @md) {
                height: 100%;
                width: 100%;
            }
            @media (min-width: @lg) {
                .mixin-background-image('/media/img/thunderbird/tbpro/xl-thundermail-hero-high-res');
            }
        }
    }
    .feature-card-2 {
        .mixin-card-gradient(#008080, 13%);

        // Copied from zeplin:
        padding: 32px 1px 4px 32px;

        .card-image {
            .mixin-background-image('/media/img/thunderbird/tbpro/xs-appointment-hero-high-res');
            @media (min-width: @lg) {
                aspect-ratio: unset;
                .mixin-background-image('/media/img/thunderbird/tbpro/xl-appointment-hero-high-res');
            }
        }

    }
    .feature-card-3 {
        .mixin-card-gradient(desaturate(#fec18a, 10%), 10%, 120%);

        // Copied from zeplin:
        padding: 32px 1px 16px 32px;

        .card-image {
            .mixin-background-image('/media/img/thunderbird/tbpro/xs-send-hero-high-res');
            @media (min-width: @lg) {
                aspect-ratio: unset;
                .mixin-background-image('/media/img/thunderbird/tbpro/xl-send-hero-high-res')
            }
        }
    }
}

section#reasons {
    background: #fff;
    padding-block: @space-36 @space-24;
    display: grid;
    row-gap: @space-24;
    counter-reset: reason;

    & > header {
        margin: 0;
        color: var(--header-color);
        text-align: center;
        .brand-headline-h1-sm();

        @media (min-width: @md) {
            .brand-headline-h1-lg();
        }

        @media (min-width: @lg) {
            grid-column: 1 / -1; // span all columns
        }
    }

    @media (min-width: @lg) {
        // For desktop, create parent grid for counter, reason, and explanation.
        grid-template-columns: auto auto 58%;
        column-gap: @space-18;
        row-gap: @space-36;
    }

    // Get rid of the additional padding for very wide viewports.
    // The value 1536px was found via trial and error, though it's probably the
    // max width + the calculated padding.
    @media (min-width: 1536px) {
        // overrides the padding for elements matching #main-content > *
        padding-inline: unset !important;
        // Opt into default value via `unset` instead of setting to `0`.
    }

    .reason {
        --gap-size: @space-18;

        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: @space-18;
        align-items: start;
        position: relative;

        // counter-increment on this element for mobile only.
        @media (max-width: @lg - 1px) {
            counter-increment: reason;
        }

        // Horizontal border between rows
        &:not(:last-child)::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: calc(var(--gap-size) / -2);
            height: 1px;
            background: #d9d9de;

            @media (min-width: @lg) {
                bottom: calc(@space-36 / -2); // Center in parent's row-gap
            }
        }

        @media (min-width: @lg) {
            grid-column: 1 / -1; // Span all parent columns
            grid-template-columns: subgrid; // Inherit parent's three columns
        }

        // This is our counter.
        &::before {
            padding-top: 0.1875rem;
            content: counter(reason, decimal-leading-zero);
            font-variant-numeric: tabular-nums;
            margin-inline-end: var(--gap-size);
            grid-column: 1;
            color: #737584;
            .brand-headline-h3-semibold-small();

            @media (min-width: @lg) {
                .brand-list-indicator-lg();
                padding-top: 0.3rem;

                // Handle the increment for desktop, b/c the children
                // are now participating in parent grid.
                counter-increment: reason;
            }
        }

        .reason-content {
            grid-column: 2;
            row-gap: @space-9;

            @media (min-width: @lg) {
                grid-column: 2 /4; // Span columns 2 and 3
                display: grid;
                grid-template-columns: subgrid;
            }

            .reason-title {
                .brand-headline-h2-xs();
                color: #4c4d58;
                margin: 0;

                @media (min-width: @lg) {
                    .brand-headline-h2-lg();
                    grid-column: 1; // First col of .reason-content's subgrid
                }
            }

            p {
                .web-body-small();
                color: #4c4d58;

                @media (min-width: @md) {
                    .web-body-default();
                }

                @media (min-width: @lg) {
                    grid-column: 2; // Second col of .reason-content's subgrid
                    margin: 0;
                }
            }
        }

    }
}

section#faq {
    padding-block: @space-36 @space-72;

    @media (min-width: @lg) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .faq-item-list {
            grid-column: 2 / -1;
        }
    }


    header {
        margin-bottom: @space-9;
        .headings-h1-sm();

        @media (min-width: @lg) {
            padding-right: @space-144;
            .brand-headline-h1-lg();
        }
    }

    .faq-item {
        padding-block: @gutter;
        border-bottom: 1px solid rgba(88, 201, 255, 0.2);

        .faq-question {
            list-style: none;
            cursor: pointer;
            display: flex;
            align-items: start;
            justify-content: space-between;
            gap: @space-18;

            .text-medium();
            @media (min-width: @lg) {
                .text-large();
            }

            &::after {
                content: "+";
                flex-shrink: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-block: 0 0.3125rem;
                margin: 0;
                font-size: 1.5rem;
                inline-size: 1.5rem;
                block-size: 1.5rem;

                color: #58c9ff;
                background-color: rgba(0, 0, 0, 0.2);
                border-radius: 50%;
                transition: all 0.3s ease-in-out;
                transform-origin: center;
            }
        }

        .faq-answer {
            .web-body-medium();
            @media (min-width: @lg) {
                .web-body-default();
            }

        }

        &[open] .faq-question::after {
            transform: rotate(90deg);
        }

        &[open] summary ~ * {
            animation: sweep 0.5s ease-in-out;
        }
    }
}

@keyframes sweep {
    0% { opacity: 0; }
    100% { opacity: 1}
}

section#details {
    padding-inline: @gutter;
    padding-block: @space-36;

    @media (min-width: @lg) {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        padding-inline: 0;
    }

    button.link-button {
        // background: #131c28;
    }
    border-bottom: 1px solid rgba(88, 201, 255, 0.2);

    .subscription-header {
        @media (min-width: @lg) {
            padding-right: @space-96;
            grid-column: 1 / 3;
        }


        header {
            .headings-h1-sm();
            @media (min-width: @lg) {
                .brand-headline-h1-lg();
            }
        }

        p {
            .text-medium();
            @media (min-width: @lg) {
                .web-body-default();
            }
        }
    }

    .subscription-info {
        border-radius: @space-12;
        border: solid 1px rgba(88, 201, 255, 0.2);
        background-color: rgba(0, 0, 0, 0.2);
        margin-block: @space-36;
        padding-inline: @space-36;

        display: grid;
        grid-template-rows: 1fr auto;
        place-items: center;

        @media (min-width: @lg) {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: auto;
            gap: @space-36;
            padding-inline: @space-24;
            grid-column: 3 / -1;

        }

        ul {
            list-style: none;
            padding: 0;
            margin-block: 0 @space-24;
            width: 100%;

            @media (min-width: @lg) {
                grid-column: 4 / -1;
            }

            li + li {
                border-top: solid 1px rgba(88, 201, 255, 0.2);
            }

            p {
                text-align: center;
                @media (min-width: @lg) {
                    text-align: left;
                }

                .info-number {
                    .mixin-font-styles(
                        @family-inter,
                        600,
                        0.9375rem,
                        1.32
                    );
                    @media (min-width: @lg) {
                        .mixin-font-styles(
                            @family-inter,
                            bold,
                            1.25rem,
                            1.4
                        );
                    }
                }
                .info-desc {
                    .mixin-font-styles(
                        @family-inter,
                        600,
                        1.1875rem,
                        1.46
                    );
                    @media (min-width: @lg) {
                        .mixin-font-styles(
                            @family-inter,
                            normal,
                            1.25rem,
                            1.4
                        );
                    }
                }
            }

            @media (min-width: @lg) {
                p {

                    b {

                    }
                }
            }

        }


        .subscription-callout {
            border-radius: @space-12;
            background-image: linear-gradient(150deg, #131c28 30%, #0b1017);

            text-align: center;
            padding: @space-36;
            margin-block: @gutter;
            margin-inline: @space-36;
            width: 100%;

            @media (min-width: @lg) {
                grid-column: 1 / 4;
                // display: grid;
                // grid-template-rows: repeat(4, auto);
            }

            h3 {
                color: transparent;
                -webkit-background-clip: text;
                background: linear-gradient(105deg, #58c9ff 45%, #ddb4fe);
                background-clip: text;
                width: fit-content;
                display: inline-block;
                .headings-h3-small();
                @media (min-width: @md) {
                    .brand-headline-h3-lrg();
                }
            }

            h4 {
                .mixin-font-styles(
                    @family-inter,
                    500,
                    0.75rem
                );

                b {
                    font-size: 2rem;
                    font-weight: normal;
                    .mixin-font-styles(
                        @family-metropolis,
                        normal,
                        2rem
                    );
                }
            }

            p {
                .text-medium();
                @media (min-width: @md) {
                    .web-body-default();
                }
            }

        }
    }
}

.testimonials-background {
    background-image: radial-gradient(circle at -66% -86%, rgba(174, 85, 247, 0), #f4f2f6 51%), linear-gradient(to bottom, #f7f7f7, #eeeef0);

    @media (min-width: @md) {
        // overrides the padding for elements matching #main-content > *
        padding-inline: 0 !important;
    }
}

section#testimonials {
    // TODO: determine if we should scale this based on viewport size.
    --avatar-size-small: 36px;
    --avatar-size-large: 40px;
    --dot-radius: 0.25rem;
    --active-dot-size: 2rem;
    --inactive-dot-size: 0.5rem;
    --dot-transition-duration: 0.3s;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-block: @space-96;

    header {
        .brand-headline-h1-sm();

        @media (min-width: @md) {
            .brand-headline-h1-lg();
        }

        color: var(--header-color);
        text-align: center;
        margin-bottom: 1.25rem;
    }

    .testimonials-slider {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-bottom: 2rem;
        padding-top: 1rem;

        .testimonials-track {
            display: flex;
            transition: transform 0.5s ease-in-out;
            gap: @space-24;

            @media (min-width: @md) {
                gap: @space-48;
            }
        }

        .testimonial {
            display: flex;
            flex-direction: row;
            gap: @space-12;

            padding: @space-24 @space-16;
            min-width: 308px;
            min-height: 223px;

            @media (min-width: @md) {
                gap: 1.75rem;
                padding: 2.5rem 3.4375rem;
                min-width: 792px;
                min-height: 298px;
            }

            background-image: linear-gradient(156deg, white, #f0f8ff 84%);
            box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.1);
            border-radius: 1.5rem;

            cursor: pointer;
            opacity: 0.4;
            transition: opacity 0.5s ease-in-out;

            &.active {
                opacity: 1.0;
            }

            .quote-mark {
                &::before {
                    content: "\201C";
                    flex-grow: 0;
                    font-family: Metropolis;
                    font-weight: 900;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1;
                    text-align: left;
                    color: var(--header-color);
                    width: 23px;
                    height: 36px;
                    font-size: 36px;
                    letter-spacing: -0.36px;

                    @media (min-width: @md) {
                        width: 30px;
                        height: 48px;
                        font-size: 3rem;
                        letter-spacing: -0.48px;
                    }
                }
            }

            .testimonial-text {
                color: #4c4d58;
                margin: 0;

                min-height: 100px;

                .web-body-medium();
                @media (min-width: @md) {
                    min-height: 158px;
                    .web-body-x-lg();
                }
            }

            .testimonial-attribution {
                display: grid;

                grid-template-columns: var(--avatar-size-small) 1fr;
                grid-template-rows: auto auto;

                padding-top: @gutter;
                // TODO: check zeplin for spacing
                gap: 0 0.6875rem;
                align-items: center;

                @media (min-width: @md) {
                    grid-template-columns: var(--avatar-size-large) 1fr;
                }


                .attribution-avatar {
                    width: var(--avatar-size-small);
                    height: var(--avatar-size-small);
                    border-radius: 50%;
                    background: #ccc;
                    grid-row: 1 / 3;

                    @media (min-width: @md) {
                        width: var(--avatar-size-large);
                        height: var(--avatar-size-large);
                    }
                }

                .attribution-name {
                    margin: 0;
                    align-self: end;
                    color: #1a202c;

                    .text-medium-semibold();
                    @media (min-width: @md) {
                        .text-large-semibold();
                    }
                }

                .attribution-role {
                    color: #4c4d58;
                    align-self: start;
                    .text-small();
                    @media (min-width: @md) {
                        .text-medium();
                    }
                }
            }
        }
    }

    .testimonials-progress {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;

        .progress-dot {
            width: var(--inactive-dot-size);
            height: var(--inactive-dot-size);
            border-radius: var(--dot-radius);
            background: #ccc;
            border: none;
            cursor: pointer;
            transition: all var(--dot-transition-duration) ease;
            padding: 0;

            &:hover {
                background: #999;
            }

            &.active {
                width: var(--active-dot-size);
                background-image: linear-gradient(to left, #58c9ff, #6b21a8);
            }
        }
    }
}
