// For updates.thunderbird.net

// Bases
@import "./new-style.less";
@import "./new/animations.less";
@import "./new/shadows.less";
@import "./new/sizing.less";
@import "./new/layout.less";
@import "./new/variables.less";

// Components
@import "./new/components/accordion.less";
@import "./new/components/buttons.less";
@import "./new/components/forms.less";
@import "./new/components/site-nav.less";
@import "./new/components/testimonial.less";
@import "./new/components/pre-footer.less";
@import "./new/components/announcement.less";
@import "./new/components/footer.less";
@import "./new/components/appeal-footer.less";


// Ensure the footer is contained at the bottom and by default the page extends to at least a full page.
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  height: auto;
}
#footer {
  position: relative;
  margin-top: auto;
  margin-bottom: 0;
}