// Base
@import "new/fonts.less";
@import "new/colours.less";
@import "new/links.less";
@import "new/components/appeal-footer.less";

/*-------------------------
* Media Queries
*--------------------------*/
@xs: 30rem; // 480px
@sm: 40rem; // 640px
@md: 48rem; // 768px
@lg: 64rem; // 1024px
@xl: 80rem; // 1280px
@xxl: 90rem; // 1440px

:root {
  --text-color: var(--color-white);
  --extension-background: #1A202C;
  --appeal-background: linear-gradient(169.85deg, #121621 2.48%, #16294D 32.48%);
  --font-content: 'Inter', sans-serif;
  --canvas-width: 1280px;
}

html {
  background-color: var(--extension-background);
}

body {
  margin: auto;
  max-width: var(--canvas-width);
  background: var(--appeal-background);
  color: var(--text-color);
  font-family: var(--font-content);
}

header {
  background: none;
  display: block;
  padding: 0;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
  line-height: 1.21;
}

h2 {
  font-weight: 200;
  font-size: 48px;
}

h3 {
  font-weight: 600;
  font-size: 36px;
}

h4 {
  font-weight: 600;
  font-size: 24px;
}

#footer {
  background: var(--color-black);
}

#footer.container {
  height: 135px;
  max-width: 100%;
}


p {
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 24px;
  line-height: 1.375;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 100px;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(68.19% 101.99% at 100.87% 101.99%, #EA7308 0%, rgba(234, 115, 8, 0) 100%),
    radial-gradient(100% 128% at 0% 0%, #AE55F7 0%, rgba(174, 85, 247, 0) 100%),
    radial-gradient(50% 128% at 0% 100%, #25A6A0 0%, rgba(163, 236, 227, 0) 100%),
    linear-gradient(0deg, rgba(23, 41, 78, 0.5), rgba(23, 41, 78, 0.5));
    // Figma produces some funky gradient css
    transform: scaleY(-1);
    opacity: 0.2;
    z-index: 0;
  }

  .sticky-nebula {
    top: 0;
    left: 0;
    position: fixed;
    background-image: url('/media/img/thunderbird/appeal/whatsnew-128/nebula-background.png');
    background-repeat: no-repeat;
    background-size: 1067px 983px;
    background-position: top -85px center;
    width: 100%;
    height: 100%;
    z-index: 0;

  }
}

.pre-footer {
  padding-top: 100px;
  padding-bottom: 60px; // There's about 40 pixels of fake pre-footer after this
  display: flex;
  flex-direction: column;
  background-color: #0f1d36;
  background-image: url('/media/svg/appeal/whatsnew-128/blurred-blobs-bg.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  z-index: 1;
  position: relative;
  min-height: 600px;

  .additional-features {
    padding: 80px 0;
  }

  .nebula-enables {
    max-width: 575px;
    p {
      font-size: 21px;
    }
  }

  section {
    margin: auto;
    max-width: 1070px;

    p {
      text-align: center;
    }
  }
}

.appeal-footer-container {
  // So z-index doesn't bleed
  position: relative;
  background-color: #0f1d36;
}

.two-column {
  display: flex;
  max-width: 1100px;
  gap: 95px;
  z-index: 1;

  justify-content: center;
  align-items: start;

  .copy {
    display: flex;
    flex-direction: column;
    gap: 29px;
    max-width: 485px;
  }

  h3 {
    margin-top: -40px;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  &.rust-revolution {
    width: 100%;
    max-width: var(--canvas-width);

    .copy {
      margin-left: auto;
    }

    .picture {
      margin-right: 0;
      margin-left: auto;
    }
  }

  &.flipped {
    @media (min-width: @lg) {
      flex-direction: row-reverse;

      header {
        grid-area: right-top;
      }

      p {
        grid-area: right-bottom;
      }

      .picture {
        grid-area: left;
        justify-self: start;
      }
    }
  }
}

.three-column {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  gap: 30px;

  .column {
    width: 300px;
    display: flex;

    .feature {
      height: 100%;
    }

    .content {
      display: flex;
      flex-direction: column;
    }

    p {
      font-size: 16px;
      text-align: left;
    }
  }
}

.appeal-welcome {
  width: 100%;
  position: relative;
  text-align: left;
  margin-bottom: 30px;

  .header-collection {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    width: 100%;
    overflow: hidden;
  }


  .space-things {
    margin-left: 15px;
    margin-right: -15px;
    padding-top: 40px;
  }

  .screenshot-128 {
    padding-top: 58px;
    margin: auto;
    flex-shrink: 0;

    img {
      max-height: 597px;
      width: 100%;
    }
  }

  .nebula-branding {
    margin-top: -23.5rem;
    margin-bottom: 40px;
  }

  .welcome-message {
    position: relative;
    width: 573px;
    box-shadow: -8px -12px 18px -7px rgba(0, 133, 255, 0.25), 8px 25px 18px -7px rgba(0, 133, 255, 0.32), 0px 0px 32px 0px rgba(0, 0, 0, 0.50);

    padding: 35px 42px;
    color: var(--color-white);
    margin-left: 4.25rem;
    margin-bottom: -3.4375rem;
    z-index: 1;

    header {
      color: var(--color-white);
      font-size: 34px;
      font-weight: 600;
    }

  }

  .non-carousel-carousel {
    z-index: -1;
    bottom: 0;
    left: 0;
  }
}

.fast-and-fluid {
  gap: 10px;
}

.cards-view .with-frame {
  width: 495px;
  height: 573px;

  img {
    margin: auto;
    max-width: 462.92px;
    height: 481px;
  }
}

.accent-colors .with-frame {
  width: 492px;
  height: 570px;

  img {
    // Full-width :^)
    width: 100%;
    height: 100%;
  }
}

.folder-pane .with-frame {
  width: 495px;
  height: 529px;

  img {
    margin: auto;
    width: 484.75px;
    height: 466.1px;
  }
}


.with-frame {
  width: 519px;
  box-sizing: border-box;

  background: linear-gradient(#121420 0 0) padding-box,
  linear-gradient(131.3deg, #37ADF9 -4.69%, #AE55F7 106.58%) border-box;
  border-radius: 24px;
  border: 2px solid transparent;
  box-shadow: -8px -8px 18.7px -7px rgba(0, 133, 255, 0.25);
}


.picture.with-frame {
  display: flex;
  justify-content: center;
  justify-self: center;
  flex-shrink: 0;
}

.picture.rocket {
  position: relative;
  height: 100%;
  width: 100%;

  & > :first-of-type {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.accent-colors .picture {
  @media (min-width: @lg) {
    justify-self: end;
  }
}

.page-separator-cover {
  position: relative;
  pointer-events: none;
  bottom: 0;
  width: 100%;
  line-height: 0;
  color: var(--color-black);
}
