<footer>
  <div class="container footer">
    <a href="{{ url('thunderbird.index') }}" class="logo" aria-hidden="true">
      {{ svg('Thunderbird_Logo') }}
    </a>
    <div class="site-links" role="navigation">
      <div class="site-link-section">
        <ul>
          <li><a href="{{ url('thunderbird.index') }}" class="dotted home">{{_('Home')}}</a></li>
        </ul>
      </div>
      <div class="site-link-section">
        {#
        <h4>{{ _('Products') }}</h4>
        <ul>
          <li><a href="{{ url('thunderbird.index') }}" class="dotted">{{_('Thunderbird Desktop')}}</a></li>
          <li><a href="{{ url('thunderbird.index') }}" class="dotted">{{_('Thunderbird Mobile')}}</a></li>
        </ul>
        #}
      </div>
      <div class="site-link-section">
        <h4>{{ _('Resources') }}</h4>
        <ul>
          <li><a href="{{ url('blog') }}" class="dotted">{{_('Blog')}}</a></li>
          <li><a href="{{ url('support') }}" class="dotted">{{_('Get Help')}}</a></li>
          {# <li><a href="{{ url('blog') }}" class="dotted">{{_('Podcasts')}}</a></li> #}
          <li><a href="{{ url('thunderbird.download') }}" class="dotted">{{_('Downloads')}}</a></li>
          <li><a href="{{ thunderbird_url('releasenotes', 'release') }}" class="dotted">{{_('Release Notes')}}</a></li>
        </ul>
      </div>
      <div class="site-link-section">
        <h4>{{ _('About') }}</h4>
        <ul>
          <li><a href="{{ url('thunderbird.about') }}" class="dotted">{{_('Who We Are')}}</a></li>
          <li><a href="{{ url('thunderbird.contact') }}" class="dotted">{{_('Contact Us')}}</a></li>
          <li><a href="{{ url('mozorg.careers.tb') }}" class="dotted">{{_('Careers')}}</a></li>
        </ul>
      </div>
      <div class="site-link-section">
        <h4>{{ _('Contribute') }}</h4>
        <ul>
          <li><a href="{{ url('thunderbird.donate') }}" class="dotted">{{_('Donations')}}</a></li>
          <li><a href="{{ url('thunderbird.participate') }}" class="dotted">{{_('Participation')}}</a></li>
        </ul>
      </div>
    </div>
    <div class="mzla">
      <a href="https://mozilla.org" class="mozilla-logo">
        {{ svg('Mozilla_Logo') }}
      </a>
      <div class="legal-links">
        <a href="{{ url('privacy') }}" data-link-type="footer"
        data-link-name="Privacy">{{ _('Privacy') }}</a>
        <a href="{{ url('privacy.notices.websites') }}" data-link-type="footer"
          data-link-name="Cookies">{{ _('Cookies') }}</a>
        <a href="{{ url('legal.index') }}" data-link-type="footer"
          data-link-name="Legal">{{ _('Legal') }}</a>
        <a href="{{ url('legal.infringement') }}" data-link-type="footer"
          data-link-name="infringement">{{ _('Send DMCA Notice') }}</a>
        <a href="{{ url('legal.fraud-report') }}" data-link-type="footer"
          data-link-name="Report Trademark Misuse">{{ _('Report Fraud') }}</a>
        <a href="{{ url('guidelines') }}" data-link-type="footer"
          data-link-name="guidelines">{{ _('Participation Guidelines') }}</a>
      </div>
      <p>
        {%trans%}
        <small>
          Thunderbird is part of <a href="https://blog.thunderbird.net/2020/01/thunderbirds-new-home/">MZLA Technologies Corporation</a>, a wholly owned subsidiary of Mozilla Foundation.
          Portions of this content are ©1998–2023 by individual contributors. Content available under a
          <a href="https://www.mozilla.org/foundation/licensing/website-content/">Creative Commons license</a>.
        </small>
        {% endtrans %}
      </p>
      <small><a href="{{ url('contribute') }}" data-link-type="footer"
        data-link-name="Contribute to this site">{{ _('Contribute to this site') }}</a></small>
      {% if LANG != 'en-US' %}
      &bull; <small><a href="https://pontoon.mozilla.org/{{ LANG }}/thunderbirdnet/LC_MESSAGES/messages.po/"
        data-link-type="footer" data-link-name="Translate this site">{{ _('Translate this site') }}</a></small>
        {% endif %}
    </div>
    <aside>
      {% include 'includes/lang_switcher.html' %}
    </aside>
  </div>
</footer>
