{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "includes/base/base.html" %}

{% block facebook_id %}348169218537151{# facebook.com/Thunderbird #}{% endblock %}
{% block twitter_id %}mozthunderbird{% endblock %}

{% block page_image %}{{ static('img/thunderbird/thunderbird-256.png') }}{% endblock %}
{% block page_favicon %}{{ static('img/thunderbird/favicon.ico') }}{% endblock %}
{% block page_favicon_large %}{{ static('img/thunderbird/favicon-196.png') }}{% endblock %}
{% block page_ios_icon %}{{ static('img/thunderbird/ios-icon-180.png') }}{% endblock %}

{% block site_nav %}
  <nav class="site-nav">
    <div class="nav-container">
      <a href="{{ url('thunderbird.index') }}" class="logo" title="{{ _('Thunderbird') }}"
        alt="{{ _('Thunderbird Vector Wordmark') }}">
        {{ svg('Thunderbird_Logo') }}
      </a>
      <div class="nav-links">
        <a href="{{ url('support') }}" class="nav-ln">{{_('Get Help')}}</a>
        <a href="{{ url('thunderbird.115.whatsnew') }}" class="nav-ln">{{_('What’s New')}}</a>
        <a href="{{ donate_url('header') }}" class="nav-ln" data-donate-btn
          data-donate-content="header">{{_('Donate')}}</a>
        <div class="header-download">
          {{ download_thunderbird(force_direct=true, hide_footer_links=true, alt_copy=_('Download')) }}
        </div>
      </div>
    </div>
  </nav>
{% endblock %}

{% block site_header %}
  <header id="masthead">

    {% block header_content %}{% endblock %}

    {% include 'includes/donation-includes.html' %}

    {% block breadcrumbs %}{% endblock %}

    {% block site_header_share %}{% endblock %}

  </header>
{% endblock %}

{% block js %}
  <script>
    const navbar = document.querySelector(".site-nav");
    window.addEventListener("scroll", () => {
      (window.scrollY > 30) ?
        navbar.classList.add("scrolled-nav") :
        navbar.classList.remove("scrolled-nav")
    });
  </script>
{% endblock %}
