{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% set active_page = "index" %}
{% extends "includes/base-resp.html" %}

{% block page_title_prefix %}{{_('Thunderbird')}} — {% endblock %}
{% block page_title %}{{ _('Download Thunderbird') }}{% endblock %}
{% block page_desc %}{{ _('Your download should begin automatically. Didn’t work? Try the button below!') }}{% endblock %}

{% block body_id %}thunderbird-download{% endblock %}

{% block header_content %}
<section class="text-center text-white flex flex-col items-center mb-12 pr-4 pl-4">
    <h1 class="font-4xl md:font-hero font-thin md:mt-10 mb-8">{{ self.page_title() }}</h1>
    <p class="font-lg md:font-xl tracking-wide leading-relaxed max-w-xl mb-8 md:mb-16">{{ self.page_desc() }}</p>
    <div class="tracking-wider">
      {{ download_thunderbird(force_direct=true, alt_copy=_('Free Download')) }}
    </div>
  </section>
  <section class="hidden md:flex max-w-5xl self-center">
    {{ platform_img('thunderbird/landing/screenshot.png', {'alt': _('Thunderbird screenshot'), 'high-res': True, 'l10n': True, 'platforms': ('windows', 'linux', 'mac')}) }}
  </section>
{% endblock %}

{% block content %}

<div itemscope itemtype="http://schema.org/SoftwareApplication">
  <meta itemprop="name" content="{{_('Thunderbird')}}">
  <meta itemprop="description" content="{% block product_desc %}{{ self.page_desc() }}{% endblock %}">
  <meta itemprop="url" content="https://www.thunderbird.net">
  <meta itemprop="image" content="{% block product_logo %}{{ static('img/thunderbird/thunderbird-256.png') }}{% endblock %}">
  <div itemprop="author" itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="{{_('Mozilla')}}">
  </div>
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="price" content="0">
  </div>
  <meta itemprop="softwareVersion" content="{{ latest_thunderbird_version }}">
  <meta itemprop="releaseNotes" content="{{ settings.CANONICAL_URL }}/thunderbird/{{ latest_thunderbird_version }}/releasenotes/">
  <meta itemprop="applicationCategory" content="CommunicationApplication">
  <meta itemprop="operatingSystem" content="Windows">
  <meta itemprop="operatingSystem" content="Mac">
  <meta itemprop="operatingSystem" content="Linux">
</div>

<div itemscope itemtype="http://schema.org/Product">
  <meta itemprop="name" content="{{_('Thunderbird')}}">
  <meta itemprop="description" content="{{ self.product_desc() }}">
  <meta itemprop="url" content="{{ settings.CANONICAL_URL }}/thunderbird/">
  <meta itemprop="image" content="{{ self.product_logo() }}">
  <meta itemprop="logo" content="{{ self.product_logo() }}">
  <div itemprop="manufacturer" itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="{{_('Mozilla')}}">
  </div>
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="price" content="0">
  </div>
</div>

{% endblock %}
