{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% set active_page = "index" %}
{% extends "includes/base-resp.html" %}

{% block page_title_prefix %}{{_('Thunderbird')}} — {% endblock %}
{% block page_title %}{{ _('Download Thunderbird') }}{% endblock %}
{% block page_desc %}{{ _('Thank you for downloading and installing Thunderbird!') }}{% endblock %}

{% block body_id %}thunderbird-download{% endblock %}

{% block header_content %}
  <div class="flex flex-col" style="min-height: 70vh">
    <section class="text-center text-white mx-auto my-auto">
      <p class="font-3xl tracking-wide max-w-4xl"><span class="mb-2 font-hero" style="display: block;">{{ _('Just one more step!') }}</span>{{ _('Finish installing, and start enjoying Thunderbird.') }}</p>
      <p class="tracking-wider">
        {{ _('Having trouble? <a class="inline-link" href="%(url)s">Get help with your installation.</a>')|format(url='https://support.mozilla.org/products/thunderbird/install-migrate-and-update') }}
      </p>
    </section>

  </div>
{% endblock %}

{% block content %}

<section class="bg-black-light text-center text-white flex flex-col items-center pr-4 pl-4">
  <p class="font-lg md:font-xl tracking-wide leading-relaxed max-w-xl mb-0">{{ _('Your download didn\'t start automatically?') }}</p>
  <div class="tracking-wider mb-2">
    {{ download_thunderbird(force_direct=true, alt_copy=_('Click here to try again'), button_class='btn-link', hide_footer_links=True) }}
  </div>
</section>

<div itemscope itemtype="http://schema.org/SoftwareApplication">
  <meta itemprop="name" content="{{_('Thunderbird')}}">
  <meta itemprop="description" content="{% block product_desc %}{{ self.page_desc() }}{% endblock %}">
  <meta itemprop="url" content="https://www.thunderbird.net">
  <meta itemprop="image" content="{% block product_logo %}{{ static('img/thunderbird/thunderbird-256.png') }}{% endblock %}">
  <div itemprop="author" itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="{{_('Mozilla')}}">
  </div>
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="price" content="0">
  </div>
  <meta itemprop="softwareVersion" content="{{ latest_thunderbird_version }}">
  <meta itemprop="releaseNotes" content="{{ settings.CANONICAL_URL }}/thunderbird/{{ latest_thunderbird_version }}/releasenotes/">
  <meta itemprop="applicationCategory" content="CommunicationApplication">
  <meta itemprop="operatingSystem" content="Windows">
  <meta itemprop="operatingSystem" content="Mac">
  <meta itemprop="operatingSystem" content="Linux">
</div>

<div itemscope itemtype="http://schema.org/Product">
  <meta itemprop="name" content="{{_('Thunderbird')}}">
  <meta itemprop="description" content="{{ self.product_desc() }}">
  <meta itemprop="url" content="{{ settings.CANONICAL_URL }}/thunderbird/">
  <meta itemprop="image" content="{{ self.product_logo() }}">
  <meta itemprop="logo" content="{{ self.product_logo() }}">
  <div itemprop="manufacturer" itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="{{_('Mozilla')}}">
  </div>
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="price" content="0">
  </div>
</div>

{% endblock %}
