{# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% set active_page = "download" %}
{% extends "includes/base/page.html" %}

{% block page_title %}{{ _('Download') }}{% endblock %}
{% block page_desc %}{{ _('Thunderbird is a free email application that’s easy to set up and customize - and it’s loaded with great features!') }}{% endblock %}
{% block category %}{{ _('Resources') }}{% endblock %}

{% block content %}
<section>
  <div class="container">
    <div class="section-text">
      <h1>Download <span class="txt-gradient">Thunderbird</span></h1>
      {{ download_thunderbird(force_direct=true, alt_copy=_('Download'), section="homepage-bottom") }}
    </div>
  </div>
</section>
{% endblock %}
