{# Version: 20140429 #}

{% extends "mozorg/home.html" %}

{% l10n home_news %}
<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="it" href="http://blog.mozilla.org/press-it/2014/04/29/mozilla-presenta-il-nuovo-firefox-ancora-piu-personalizzabile-e-con-un-nuovo-raffinato-design/">
      Mozilla presenta il nuovo Firefox, ancora più personalizzabile e con un nuovo raffinato design
    </a>
  </h3>
</li>
<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="it" href="http://blog.mozilla.org/press-it/2014/04/29/firefox-per-android-e-piu-personalizzabile-che-mai/">
      Firefox per Android è più personalizzabile che mai
    </a>
  </h3>
</li>
<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="it" href="https://blog.mozilla.org/press-it/2014/03/18/gdc-2014-mozilla-e-i-suoi-partner-dimostrano-che-il-web-e-la-piattaforma-ideale-per-il-gaming/">
      GDC 2014: Mozilla e i suoi Partner dimostrano che il Web è la piattaforma ideale per il Gaming
    </a>
  </h3>
</li>
{% endl10n %}
