{# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}
{#
# This is the appeal page that will be loaded into Thunderbird directly.
# Instead of the donation form it links to $url/donate which forces Thunderbird to open the page
# in the user's preferred browser. This is hopefully less annoying for the end-user.
#}

{% set active_page = "appeal-nov25" %}

{# For donation url generation #}
{% set fru_form_id = fru_form_id|default('nov25') %}
{% set utm_content = utm_content|default('cta_a') %}
{% set utm_campaign = utm_campaign|default('nov25_appeal') %}
{% set utm_source = utm_source|default('in_app') %}
{% set donation_base_url = donation_base_url|default(url('updates.140.appeal.nov25a.donate')) %}

{% extends "includes/base/base.html" %}
{% from 'includes/macros/donate-button.html' import donate_button with context %}

{% block base_css %}
  <link href="{{ static('css/appeal-nov25-style.css') }}" rel="stylesheet" type="text/css"/>

{% endblock %}
{% block page_title %}{{ _('Thank YOU! You Help Us Soar') }}{% endblock %}

{% block content %}
  <section id="appeal-body">
    <h1 id="appeal-heading" aria-label="{{ _('Thank YOU. You Help Us Soar') }}">
      {{ _('Thank YOU <span>You Help Us Soar</span>') }}
    </h1>

    <div id="appeal-letter" class="letter-container font-xl">
      <section id="donate-button-container">
        {{ donate_button(form_id=fru_form_id, campaign=utm_campaign, source=utm_source, content=utm_content, base_url=donation_base_url) }}
      </section>
      <div id="letter-contents">
        <p>
          {{ _('Thunderbird’s mission is to give <b>you</b> a private, customizable, and robust email experience, while keeping it free and accessible for users around the world.')}}
        </p>
        <p>
          {{ _('<b>All of our funding comes from users like you.</b> Your support drives development, safeguards our independence, and keeps Thunderbird a powerful, open-source alternative to Big Tech.')}}
        </p>
        <p>
          {{ _('Your contributions make a huge difference. <b>We truly can’t do this without you.</b>')}}
        </p>
        <div class="heart-container">
          <div class="left-lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
          <div aria-hidden="true" class="heart-svg">{{ svg('donate-heart') }}</div>
          <div class="right-lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>
        <p class="closing-text">{{ _('The Thunderbird Team') }}</p>
      </div>
    </div>
  </section>
{% endblock %}
{% block site_footer %}
  <div id="footer-wrapper">
    {% include 'includes/base/moz-footer.html' %}
  </div>
{% endblock %}
