{# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% set active_page = "mission-statement" %}
{% extends "includes/base/page.html" %}

{% block page_title %}{{ _('Our Mission Statement') }}{% endblock %}
{% block category %}{{ _('About') }}{% endblock %}

{% block content %}
  <section>
    <div class="container no-gap">
      <div class="section-text">
        <h2>{{ _('Thunderbird’s <span class="txt-gradient">Mission</span>') }}</h2>
        <p>
          {% trans trimmed %}
            Thunderbird facilitates cross platform, decentralized, open-standard
            communication, which puts the user in control of their data and workflow.
            We aspire to offer an interoperable and extensible open-source
            platform for messaging and managing personal information, such as email,
            contacts, and appointments.
          {% endtrans %}
        </p>
      </div>
      <div class="back">
        <a class="strong" href="{{ url('thunderbird.about') }}">{{ _('Who We Are') }}</a>
      </div>
    </div>
  </section>
{% endblock %}
