{# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "includes/base/page.html" %}
{% from 'includes/macros/right-arrow-cta-button.html' import right_arrow_cta_button %}

{% block extra_css %}
<link href="{{ static('css/thundermail.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_title %}{{ _('Thundermail Email Hosting') }}{% endblock %}
{% block page_desc %}{{ _('Thundermail offers you email hosting with the same values as Thunderbird. Enjoy privacy, security, and freedom from client to inbox.') }}{% endblock %}

{% block masthead %}
<div class="product-logo"></div>

<h1>{{ _('Host Securely. Mail Confidently.') }}</h1>
<p>
  {{ _('Thundermail offers you email hosting with the same values as Thunderbird. Enjoy privacy, security, and freedom from client to inbox.') }}
</p>

{{ right_arrow_cta_button(_('Join Waitlist'), url('tbpro.waitlist'), 'cta-button') }}

<div class="hero-image"></div>
{% endblock %}


{% block overview %}
<div class="top-level">
  <section id="overview" class="primary-block">
  <header>{{ _('Meet Thundermail') }}</header>
  <p>
    {{ _('Email hosting from Thunderbird is here. Send/receive emails with a privacy protecting provider based in Germany and the latest mail standards like JMAP. Choose a Thundermail domain or bring your own. Look no further to power the open source email app you love.') }}
  </p>
  <div class="overview-card-container">
    <div class="overview-card overview-card-1">
      <div class="overview-image"></div>
      <header>{{ _('Based on Modern Standards') }}</header>
      <p>
        {{ _('Experience faster, more efficient email with JMAP support alongside traditional IMAP and SMTP protocols. Built on Stalwart’s modern, modular mail server architecture, Thundermail delivers performance and reliability without the bloat.') }}
      </p>
    </div>
    <div class="overview-card overview-card-2">
      <header>{{ _('Hosted Securely in Germany') }}</header>
      <p>
        {{ _('Your emails are protected by strict EU privacy laws and hosted on infrastructure you can trust. With servers located in Germany, Thundermail prioritizes your privacy while ensuring reliable, fast delivery worldwide.') }}
      </p>
      <div class="overview-image"></div>
    </div>
    <div class="overview-card overview-card-3">
      <header>{{ _('Customizable Domain') }}</header>
      <p>
        {{ _('Choose from @thundermail.com or @tb.pro addresses, or bring your own custom domain for a professional touch. Your email, your identity, your way to have full control over how you present yourself online.') }}
      </p>
      <div class="overview-image"></div>
    </div>
  </div>
</section>
</div>
{% endblock %}




{% block reasons %}
  <div class="top-level">
    <section id="reasons" class="primary-block">
      <header>{{ _('Made for You') }}</header>
      <div class="reason">
        <div class="reason-content">
          <h3 class="reason-title">{{ _('Open Source') }}</h3>
          <p>
            {{ _('The technology powering Thunderbird Pro is freely licensed and open source, offering you transparency, security, and freedom. By subscribing you fund the development of our other open source tools which remain free-of-charge, free-of-ads, and free-of-data-harvesting.') }}
          </p>
        </div>
      </div>
      <div class="reason">
        <div class="reason-content">
          <h3 class="reason-title">{{ _('User Focused') }}</h3>
          <p>
            {{ _('Thunderbird Pro is part of our mission to help you communicate, collaborate, and connect freely. The Thunderbird Desktop and Mobile apps remain the core of how we offer these benefits and your subscription helps us make them even better.') }}
          </p>
        </div>
      </div>
      <div class="reason">
        <div class="reason-content">
          <h3 class="reason-title">{{ _('Freedom Driven') }}</h3>
          <p>
            {{ _('Money isn’t our mission, it is the means to bring freedom and productivity to as many people as possible. Freely licensed software, open source code, and open standards liberate you and remain at the heart of Thunderbird.') }}
          </p>
        </div>
      </div>

    </section>
  </div>
{% endblock %}

{% block details %}
<div class="subscription-header">
  <header>
    {{ _('Subscribe to Pro') }}
  </header>
  <p>
    {{ _('Get Thundermail, Appointment, and Send in one simple subscription. You’ll love the confidence, ease, and security these services add to Thunderbird. Thank you for supporting freedom.') }}
  </p>
</div>
{% from 'includes/macros/subscription-plan.html' import subscription_plan %}
{{ subscription_plan(_(default_plan.name), _(default_plan.description), default_plan.price, _(default_plan.period), _(default_plan.cta_label), url('tbpro.waitlist'), default_plan.mail_storage, default_plan.send_storage, default_plan.num_domains, default_plan.num_email_addresses) }}
{% endblock %}
