{# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "_includes/base-resp.html" %}

{% block page_title %}{{ _('Contact Us') }}{% endblock %}

{% block page_desc %}
{{ _('How to contact Thunderbird.') }}
{% endblock %}

{% block header_content %}
  <section class="text-left text-white flex flex-col items-start xl:w-full max-w-6xl mx-auto pl-8 pr-8">
    <h1 class="font-4xl md:font-hero font-thin md:mt-10 mb-16">{{ self.page_title() }}</h1>
  </section>
{% endblock %}

{% block content %}
  <section class="pt-20 pb-10 flex flex-col items-center">
    <h3 class="header-section">{{ _('Get Support')}}</h3>
    <p class="font-lg tracking-wider leading-loose mb-10 mt-0 max-w-xl text-center">
      {{ _('How to get support for Thunderbird.') }}
    </p>

    <section class="flex xl:w-full flex-col lg:flex-row max-w-6xl mx-auto justify-between pl-8 pr-8 mb-12 leading-relaxed">
      <article class="flex flex-col p-4 flex-1 lg:max-w-sm mb-10 lg:mb-0 bg-white rounded shadow-lg">
        <h4 class="mt-0 mb-4 uppercase text-blue font-md">
          {{ _('<a href="%(support)s" class="header-link">Mozilla Support Website</a>')|format(support=url('support')) }}
        </h4>
        <p class="mt-0 mb-6 flex-1 p-links-blue">
          {{ _('The best place to start looking for answers if you have questions about Thunderbird is the Mozilla Support website, <a href="%(support)s">specifically the Thunderbird page</a>. There you can search for articles, ask questions, and read tutorials.')|format(support=url('support')) }}
        </p>
      </article>

      <article class="flex flex-col p-4 flex-1 lg:max-w-sm mb-10 lg:mb-0 bg-white rounded shadow-lg lg:ml-16 lg:mr-16">
        <h4 class="mt-0 mb-4 uppercase text-blue font-md">
          {{ _('<a href="https://support.mozilla.org/questions/new/thunderbird" class="header-link">Ask a Question</a>') }}
        </h4>
        <p class="mt-0 mb-6 flex-1">
          {{ _('You can ask a question on the support website. <b>Remember to be courteous</b>, as most of the people providing support on this site are volunteers and fellow Thunderbird users like you!') }}
        </p>
      </article>

      <article class="flex flex-col p-4 flex-1 lg:max-w-sm mb-10 lg:mb-0 bg-white rounded shadow-lg">
        <h4 class="mt-0 mb-4 uppercase text-blue font-md">
          {{ _('<a href="https://matrix.to/#/#thunderbird:mozilla.org?web-instance%5Belement.io%5D=chat.mozilla.org" class="header-link">Live Chat on Matrix</a>') }}
        </h4>
        <p class="mt-0 mb-6 flex-1 p-links-blue">
          {{ _('You can chat with other users and members of the Thunderbird team on the <a href="https://matrix.to/#/#thunderbird:mozilla.org?web-instance%5Belement.io%5D=chat.mozilla.org">#thunderbird channel on Mozilla’s Matrix chat server</a>. You can log onto Matrix by <a href="https://wiki.mozilla.org/Matrix">following instructions on the wiki</a>. Matrix support in Thunderbird Chat is coming soon!') }}
        </p>
      </article>
    </section>
  </section>

  <section class="pt-20 pb-10 w-full bg-calendar">
    <section class="flex flex-col lg:flex-row max-w-6xl mx-auto">
      <aside class="flex flex-col lg:w-1/2 pr-8 pl-8">
        <article class="flex flex-col w-full mb-6 lg:pr-8">
          <h4 class="subheader-section">{{ _('Security') }}</h4>
          <p class="font-md tracking-wide leading-loose mb-6 mt-0 p-links-blue">
            {{ _('To report a security issue related to Thunderbird, describe the issue in a new Thunderbird <a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Thunderbird">bug report on Bugzilla</a>. If you select the <i>Security checkmark</i> before you submit, then only members of our security team will have access to your report.') }}
          </p>
        </article>
      </aside>

      <aside class="flex flex-col lg:w-1/2 pr-8 pl-8">
        <article class="flex flex-col w-full mb-6 lg:pl-8">
          <h4 class="subheader-section">{{ _('Partnerships') }}</h4>
          <p class="font-md tracking-wide leading-loose mb-6 mt-0 p-links-blue">
            {{ _('Are you interested in partnering with the Thunderbird project? Do you provide services that could improve the experience of using Thunderbird? Do you deploy Thunderbird at scale and want to provide a better experience for your users? Please send us your proposal at <a href="mailto:partnerships@thunderbird.net">partnerships@thunderbird.net</a>.') }}
          </p>
        </article>

        <article class="flex flex-col w-full lg:pl-8">
          <h4 class="subheader-section">{{ _('Press Inquiries') }}</h4>
          <p class="font-md tracking-wide leading-loose mb-6 mt-0 p-links-blue">
            {{ _('Are you a member of the press who would like to ask us a question about Thunderbird? You can reach our team at <a href="mailto:press@thunderbird.net">press@thunderbird.net</a>.') }}
          </p>
        </article>
      </aside>
    </section>
  </section>

  {% include '_includes/site-prefooter.html' %}
{% endblock %}
