{# Version: 20140429 #}

{% extends "mozorg/home.html" %}

{% l10n home_news %}
<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="es-ES" href="http://blog.mozilla.org/press-es/2014/04/29/mozilla-presen%E2%80%A6legante-diseno/">
      Mozilla presenta su Firefox más personalizable con un nuevo y elegante diseño
    </a>
  </h3>
</li>
<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="es-ES" href="http://blog.mozilla.org/press-es/2014/04/29/firefox-para-a%E2%80%A6able-que-nunca/">
      Firefox para Android es más personalizable que nunca
    </a>
  </h3>
</li>
<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="es-ES" href="https://blog.mozilla.org/press-es/2014/03/18/gdc-2014-mozilla-y-sus-partners-demuestran-que-la-web-es-la-plataforma-para-los-juegos/">
      GDC 2014: Mozilla y sus partners demuestran que la Web es la plataforma para los juegos
    </a>
  </h3>
</li>
{% endl10n %}
