{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "_includes/base-resp.html" %}

{% block page_title %}{{ _('Thunderbird for Organizations') }}{% endblock %}
{% block page_desc %}{{ _('Thunderbird Support for Your Organization, Business, or Enterprise') }}{% endblock %}

{% block header_content %}
  <section class="text-center text-white flex flex-col items-center mb-12 pr-8 pl-8">
    <h1 class="font-4xl md:font-hero font-thin md:mt-10 mb-8">{{ self.page_title() }}</h1>
    <p class="font-lg md:font-xl tracking-wide leading-relaxed max-w-4xl mb-8">{{ self.page_desc() }}</p>
  </section>
{% endblock %}

{% block content %}
  <section class="mt-20 pb-20 pt-10 pl-8 pr-8 bg-calendar">
    <section class="flex max-w-6xl mx-auto justify-between items-center">
      <aside class="flex flex-col w-full">
        <h3 class="header-section">
          <span>{{ svg('envelope') }}</span> {{ _('Thunderbird for Organizations')}}
        </h3>
        <p class="font-lg tracking-wider leading-loose mb-6">
          {{ _('Unlike the <a href="{firefox_esr}">Mozilla Firefox ESR</a>, Thunderbird does not provide a separate ESR release. This is because the <a href="/">regular Thunderbird release</a> is already an ESR release. It remains stable and on that major version for approximately one year. Only <a href="/#channel">Thunderbird Beta</a> follows the more frequent major version releases.') }}
        </p>
        <p class="font-lg tracking-wider leading-loose mb-10 mt-0 p-links-blue">
          {{ _('We do have other resources for organizations: If you need it, you can find the Thunderbird MSI Installer on the <a href="{syslang}">Systems & Languages page</a>. For more information about deploying and configuring Thunderbird in business and enterprise environments you can also join the <a href="{maillist}">Enterprise mailing list</a>.')|f(maillist=url('thunderbird.enterprise'), syslang=url('thunderbird.latest.all')) }}
        </p>
        <p class="font-lg tracking-wider leading-loose mb-10 mt-0 p-links-blue">
          {{ _('For general help or questions about Thunderbird you can visit <a href="{support_site}">Thunderbird support</a>.')|f(support_site=url('support')) }}
        </p>
      </aside>
    </section>
  </section>

  {% include '_includes/site-prefooter.html' %}

{% endblock %}
