{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "_includes/base-resp.html" %}

{% block page_title %}{{ _('Thunderbird for Organizations') }}{% endblock %}
{% block page_desc %}{{ _('Thunderbird Support for Your Organization, Business, or Enterprise') }}{% endblock %}

{% block header_content %}
  <section class="text-center text-white flex flex-col items-center mb-12 pr-8 pl-8">
    <h1 class="font-4xl md:font-hero font-thin md:mt-10 mb-8">{{ self.page_title() }}</h1>
    <p class="font-lg md:font-xl tracking-wide leading-relaxed max-w-4xl mb-8">{{ self.page_desc() }}</p>
  </section>
{% endblock %}

{% block content %}
  <section class="mt-20 pb-20 pt-10 pl-8 pr-8 bg-calendar">
    <section class="flex max-w-6xl mx-auto justify-between items-center">
      <aside class="flex flex-col w-full">
        <h3 class="header-section">
          <span>{{ svg('envelope') }}</span> {{ _('Thunderbird for Organizations')}}
        </h3>
        <p class="font-lg tracking-wider leading-loose mb-6 p-links-blue">
          {{ _('Thunderbird comes with a number of key benefits which make it an excellent choice for organizational deployments of any size. And it&#39;s more than just email: As an all-in-one communication platform with integrated calendar and chat, Thunderbird is all about efficiency. Whether you are a small business or organization, a government institution, or a large enterprise - Thunderbird has been designed to scale to your needs. Learn more about the <a href="#benefits">benefits of using Thunderbird in an organization.</a>')}}

        <h3 class="subheader-section">
          {{ _('Stability, efficiency, and security for your emails') }}
        </h3>
        <p class="font-lg tracking-wider leading-loose mb-10 mt-0 p-links-blue">
          {{ _('Provide your team with a stable communications solution which allows them to focus on getting their work done. The <a href="/">regular Thunderbird release</a> follows the <a href="{firefox_release_calendar}">Extended Support Release (ESR) schedule</a> of the Mozilla platform. So it will remain stable and on that major version for approximately one year. Of course, we&#39;ll always keep you on the safe side with regular minor upgrades which may improve stability, correctness and security. If you want to check out and help refine the future of Thunderbird, there’s <a href="/#channel">Thunderbird Beta</a> which follows the more frequent major version <a href="{firefox_release_calendar}">release cycle</a>, usually monthly.')|f(firefox_release_calendar=url('firefox.release-calendar')) }}
        </p>

        <h3 class="subheader-section">
          {{ _('Get Thunderbird for your organization') }}
        </h3>
        <p class="font-lg tracking-wider leading-loose mb-10 mt-0 p-links-blue">
          {{ _('Thunderbird is available in a <a href="{syslang}">variety of languages</a> for all major operating systems (Windows / MacOS / Linux). For multi-lingual environments, you can download language pack add-ons and switch Thunderbird’s user interface language on the fly. We offer a number of resources specifically for organizations:')|f(syslang=url('thunderbird.latest.all')) }}
        </p>

        <ul class="font-md tracking-wider leading-loose mb-6 p-links-blue">
          <li>
            {{ _('For Windows deployment, you can find the Thunderbird MSI Installer on the <a href="{syslang}">Systems &amp; Languages page</a>.')|f(syslang=url('thunderbird.latest.all')) }}
          </li>
          <li>
            {{ _('For more information about deploying and configuring Thunderbird in business and enterprise environments, please visit our enterprise deployment portal: <a href="{thunderbird_etn}">enterprise.thunderbird.net</a>.')|f(thunderbird_etn=url('thunderbird.enterprise.documentation')) }}
          </li>
          <li>
            {{ _('You can also join the <a href="{tb_list_enterprise}">Thunderbird Enterprise mailing list on Topicbox</a> to connect with other administrators and share advice on Thunderbird deployment.')|f(tb_list_enterprise=url('thunderbird.lists.enterprise')) }}
          </li>
        </ul>

        <p class="font-lg tracking-wider leading-loose mb-10 mt-0 p-links-blue">
          {{ _('For general help or questions about Thunderbird, you can visit <a href="{support_site}">Thunderbird support</a>.')|f(support_site=url('support')) }}
        </p>

        <h3 id="benefits" class="subheader-section">
          {{ _('Benefits of using Thunderbird in an organization') }}
        </h3>
        <ul class="font-md tracking-wider leading-loose mb-6 p-links-blue">
          <li>
            {{ _('Cross-platform desktop email client packed with features') }}
          </li>
          <li>
            {{ _('Integrated calendar application (PIM)') }}
          </li>
          <li>
            {{ _('Integrated chat client') }}
          </li>
          <li>
            {{ _('Advanced Search and Filter tools') }}
          </li>
          <li>
            {{ _('Built-in message encryption (OpenPGP, S/MIME)') }}
          </li>
          <li>
            {{ _('Customizable with a large variety of add-ons') }}
          </li>
          <li>
            {{ _('Built on the latest Mozilla platform technology') }}
          </li>
          <li>
            {{ _('Security, privacy, data ownership') }}
          </li>
          <li>
            {{ _('Designed for efficiency') }}
          </li>
          <li>
            {{ _('Implements accessibility standards') }}
          </li>
          <li>
            {{ _('Open source code - transparency without proprietary mysteries') }}
          </li>
          <li>
            {{ _('Cross-platform policy support and configuration options for large and centralized deployments') }}
          </li>
        </ul>
      </aside>
    </section>
  </section>

  {% include '_includes/site-prefooter.html' %}

{% endblock %}
