@import "./functions.less";

a {
  @outline();

  color: currentColor;
  text-decoration: underline;
  transition: font-size .2s,
  text-decoration-color .2s;

  &.dotted {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: currentColor;
    text-underline-offset: 0.25em;
    text-decoration-thickness: .12em;
  }

  &.strong {
    text-decoration: none;
    font-weight: 600;
    &::after {
      position: relative;

      top: 0.17rem;
      left: -0.25rem;
      display: inline-block;
      width: 1rem;
      height: 1rem;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('/media/svg/chevron-right.svg');
      content: '';
      margin-left: 0.5rem;
      color: var(--color-ink-60);
    }
  }

  &.donate,
  &:hover,
  &:hover:visited {
    text-decoration-color: var(--accent);
  }

  &:visited {
    text-decoration-color: var(--color-purple-50);
  }
}