:root {
  // Font variables
  --font-base: 13px;
  --font-xs: 9px;
  --font-sm: 11px;
  --font-regular: 12px;
  --font-md: 15px;
  --font-lg: 19px;
  --font-2xl: 21px;
  --font-3xl: 25px;
  --font-4xl: 41px;
  --font-hero: 59px;
}

.section-text :where(h2) {
  font-size: 2.75rem;
  font-weight: 800;
  margin-bottom: 0;
}

.section-text :where(h3) {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0;
}

.section-text :where(h4) {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0 0 1em;
}