{# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "includes/base-resp.html" %}

{% block page_title %}{{ _('Get Involved') }}{% endblock %}

{% block page_desc %}
  {{ _('Everything you need to get involved with Thunderbird.') }}
{% endblock %}

{% block header_content %}
  <section class="text-left text-white flex flex-col items-start xl:w-full max-w-6xl mx-auto pl-8 pr-8">
    <h1 class="font-4xl md:font-hero font-thin md:mt-10 mb-8">{{ self.page_title() }}</h1>
    <p class="font-lg md:font-xl tracking-wide leading-relaxed max-w-4xl mb-10 mt-0">
      {{ self.page_desc() }}
    </p>
  </section>
  <nav role="directory" class="text-left text-white flex justify-center w-full max-w-6xl mx-auto bg-black-25 rounded mb-10">
    <ul class="list-none p-0 flex flex-wrap justify-around flex-1 m-0">
      <li class="ml-2 mr-2">
        <a href="#opensource" class="btn-link">{{ _('Why Contribute?') }}</a>
      </li>
      <li class="ml-2 mr-2">
        <a href="#communication" class="btn-link">{{ _('Communication') }}</a>
      </li>
      <li class="ml-2 mr-2">
        <a href="#development" class="btn-link">{{ _('Development') }}</a>
      </li>
      <li class="ml-2 mr-2">
        <a href="#design" class="btn-link">{{ _('Design') }}</a>
      </li>
      <li class="ml-2 mr-2">
        <a href="#documentation" class="btn-link">{{ _('Documentation') }}</a>
      </li>
      <li class="ml-2 mr-2">
        <a href="#qualityassurance" class="btn-link">{{ _('Quality Assurance') }}</a>
      </li>
      <li class="ml-2 mr-2">
        <a href="#translation" class="btn-link">{{ _('Translation') }}</a>
      </li>
    </ul>
  </nav>
{% endblock %}

{% block content %}

  <section id="opensource" class="pt-20 pb-10 flex max-w-6xl mx-auto justify-center items-center pl-8 pr-8">
    <aside class="flex flex-col flex-grow">
      <h3 class="header-section">
        <span>{{ svg('heart') }}</span>
        <aside class="flex flex-col">
          {{ _('Why Contribute?')}}
          <small class="font-normal font-md tracking-normal normal-case">
            {{ _('Thunderbird is created by an online community of volunteers.') }}
          </small>
        </aside>
      </h3>
      <p class="font-lg tracking-wider leading-loose mb-6">
        {{ _('Thunderbird is open source software, meaning that anyone can inspect, modify, enhance it, and share it. But the fun is not just for programmers! Thunderbird is created by a community of designers, translators, documentation writers and support people in addition to developers. We invite anyone to come and participate in the creation of Thunderbird. Regardless of your skillset, we’re sure there is something you can add to our community and project.') }}
      </p>
    </aside>
  </section>

  <section class="pt-10 lg:pt-20 pb-10 pr-8 pl-8">
    <section id="communication" class="flex flex-col lg:flex-row flex-wrap max-w-6xl mx-auto">
      <aside class="flex flex-col w-full mb-10">
        <h3 class="header-section">
          <span>{{ svg('accessibility') }}</span>
          <aside class="flex flex-col">
            {{ _('Communication')}}
            <small class="font-normal font-md tracking-normal normal-case">
              {{ _('Here are the places and ways Thunderbird communicates.') }}
            </small>
          </aside>
        </h3>
      </aside>

      <aside class="flex flex-col w-full lg:w-1/2">
        <article class="flex flex-col w-full mb-6 lg:pl-8">
          <h4 class="subheader-section">{{ _('Discussion and Help') }}</h4>
          <ul class="font-md tracking-wider leading-loose mb-6 p-links-blue">
            <li>{{ _('<a href="https://support.mozilla.org/en-US/questions/thunderbird">Thunderbird Support and Help Articles</a>') }}
            </li>
            <li>{{ _('<a href="https://thunderbird.topicbox.com/groups/announcements">Announcements List</a> - For public announcements.') }}
            </li>
            <li>
              {{ _('<a href="https://thunderbird.topicbox.com/groups/addons">Add-on Developers List</a> - For developers to get support in developing and creating add-ons.') }}
            </li>
            <li>
              {{ _('<a href="https://thunderbird.topicbox.com/groups/beta">Beta List</a> - For announcements and discussions about Thunderbird Beta.') }}
            </li>
            <li>
              {{ _('<a href="https://thunderbird.topicbox.com/groups/daily">Daily List</a> - For announcements and discussions about Thunderbird Daily.') }}
            </li>
            <li>
              {{ _('<a href="https://thunderbird.topicbox.com/groups/developers">Developer List</a> - For technical discussion about Thunderbird development.') }}
            </li>
            <li>
              {{ _('<a href="https://thunderbird.topicbox.com/groups/enterprise">Enterprise List</a> - For ADMINISTRATORS to discuss large scale deployment and configuration of Thunderbird.') }}
            </li>
            <li>
              {{ _('<a href="https://thunderbird.topicbox.com/groups/e2ee">E2EE List</a> - End-to-end Encryption using OpenPGP, OTR, and S/MIME.') }}
            </li>
            <li>{{ _('<a href="https://thunderbird.topicbox.com/groups/planning">Planning List</a> - Discuss plans, strategy, policy, governance; improvements, meta issues; promote open standards; status, announcements; organize work to move Thunderbird forward!') }}
            </li>
            <li>
              {{ _('<a href="https://wiki.mozilla.org/Thunderbird/tb-support-crew">Support Crew</a> - Private list for volunteers to discuss management of support.') }}
            </li>
            <li>
              {{ _('<a href="https://thunderbird.topicbox.com/groups/ux">UX List</a> - List for discussion about Thunderbird’s User Experience.') }}
            </li>
        </article>
      </aside>
      <aside class="flex flex-col w-full lg:w-1/2">
        <article class="flex flex-col w-full mb-6 lg:pl-8">
          <h4 class="subheader-section">{{ _('Matrix Channels on chat.mozilla.org') }}</h4>
          <p class="font-md tracking-wide leading-loose mb-6 mt-0 p-links-blue">
            {{ _('You can use the <a href="https://element.io/get-started">Element mobile or desktop clients</a> if you don’t want to use a browser. Set the home server to "mozilla.modular.im".') }}
          </p>
          <ul class="font-md tracking-wider leading-loose mb-6 p-links-blue">
            <li>
              {{ _('<a href="https://matrix.to/#/#thunderbird:mozilla.org?web-instance%5Belement.io%5D=chat.mozilla.org">#thunderbird</a> - For general questions and support.') }}
            </li>
            <li>
              {{ _('<a href="https://matrix.to/#/#maildev:mozilla.org?web-instance%5Belement.io%5D=chat.mozilla.org">#maildev</a> - For hacking on Thunderbird.') }}
            </li>
            <li>
              {{ _('<a href="https://matrix.to/#/#tb-addon-developers:mozilla.org?web-instance%5Belement.io%5D=chat.mozilla.org">#tb-addon-developers</a> - For questions and discussion about Thunderbird add-on development.') }}
            </li>
            <li>
              {{ _('<a href="https://matrix.to/#/#openpgp:mozilla.org?web-instance%5Belement.io%5D=chat.mozilla.org">#openpgp</a> - For OpenPGP discussion.') }}
            </li>
            <li>
              {{ _('<a href="https://matrix.to/#/#tb-support-crew:mozilla.org?web-instance%5Belement.io%5D=chat.mozilla.org">#tb-support-crew</a> - For management of Thunderbird support.') }}
            </li>
        </article>
      </aside>
      <aside class="flex flex-col w-full lg:w-1/2">
        <article class="flex flex-col w-full mb-6 lg:pl-8">
          <h4 class="subheader-section">{{ _('Status Meeting') }}</h4>
          <p class="font-md tracking-wide leading-loose mb-6 mt-0 p-links-blue">
            {{ _('We meet on video chat every two weeks to report on project status and discuss day-to-day operations. You can <a href="https://wiki.mozilla.org/Thunderbird/StatusMeetings">find information on that meeting here.</a>') }}
          </p>
        </article>
      </aside>
    </section>
  </section>

  <section class="pt-10 pb-10 w-full">
    <section id="development" class="pt-10 pb-10 flex max-w-6xl mx-auto justify-center items-center pl-8 pr-8">
      <aside class="flex flex-col flex-grow">
        <h3 class="header-section">
          <span>{{ svg('developer') }}</span>
          <aside class="flex flex-col">
            {{ _('Development')}}
            <small class="font-normal font-md tracking-normal normal-case">
              {{ _('How to develop the best mail client in existence.') }}
            </small>
          </aside>
        </h3>
        <p class="font-lg tracking-wider leading-loose mb-6 p-links-blue">
          {{ _('Learn how to contribute code to Thunderbird with our <a href="https://developer.thunderbird.net/">developer documentation.</a> The documentation describes how to get the code, set any necessary configuration, build and rebuild, etc. It is a good read - don’t just skim it.') }}
        </p>
      </aside>
    </section>

    <section class="flex flex-col lg:flex-row flex-wrap max-w-6xl mx-auto pl-8 pr-8">
      <aside class="flex flex-col lg:w-1/2">
        <article class="flex flex-col mb-6 pr-8">
          <h4 class="subheader-section">{{ _('Code') }}</h4>
          <p class="font-md tracking-wide leading-loose mt-0 mb-0">
            {{ _('Code is located on Mozilla’s Mercurial server.') }}
          </p>
          <ul class="font-md tracking-wider leading-loose mb-10 p-links-blue">
            <li>
              {{ _('<a href="https://hg.mozilla.org/comm-central/">comm-central</a> is the main Thunderbird repository.') }}
            </li>
            <li>
              {{ _('Thunderbird also relies on the code from <a href="https://hg.mozilla.org/mozilla-central/">mozilla-central</a>. See the <a href="https://developer.thunderbird.net/thunderbird-development/building-thunderbird">build instructions</a> for how to obtain all the code needed to build.') }}
            </li>
            <li>
              {{ _('You can search the code on <a href="https://searchfox.org/comm-central/source">SearchFox</a>.') }}
            </li>
          </ul>
          <p class="font-md tracking-wide leading-loose mt-0 mb-0">
            {{ _('There is also some code hosted on GitHub.') }}
          </p>
          <ul class="font-md tracking-wider leading-loose mb-6 p-links-blue">
            <li>
              {{ _('<a href="https://github.com/thunderbird">Thunderbird on Github</a> contains the code for Thunderbird.net (this site), as well as other Thunderbird related repositories.') }}
            </li>
          </ul>
        </article>
      </aside>

      <aside class="flex flex-col lg:w-1/2">
        <article class="flex flex-col mb-6 lg:pl-8">
          <h4 class="subheader-section">{{ _('Bugs') }}</h4>
          <p class="font-md tracking-wide leading-loose mb-0 mt-0 p-links-blue">
            {{ _('All Thunderbird bugs live on <a href="https://bugzilla.mozilla.org">Mozilla’s Bugzilla</a>. Bugzilla is a powerful tool and can be intimidating if you are not used to it. So check out these pre-defined searches to test the waters:') }}
          </p>
          <ul class="font-md tracking-wider leading-loose mb-6 p-links-blue">
            <li>
              {{ _('You can help out by triaging <a href="https://bugzilla.mozilla.org/buglist.cgi?list_id=14114741&chfieldto=Now&query_format=advanced&chfield=%5BBug%20creation%5D&chfieldfrom=-3d&product=MailNews%20Core&product=Thunderbird">incoming bugs</a>. Known bugs should be marked as duplicates, unconfirmed bugs often needs someone to see if they too can reproduce.') }}
              </li>
            <li>
              {{ _('<a href="https://mzl.la/2oijxOd">"Good first bugs"</a> which are extra easy to try and fix when you are just starting out.') }}
            </li>
            <li>
              {{ _('<a href="http://www.joshmatthews.net/bugsahoy/?thunderbird=1">Mentored Bugs</a> have a mentor who commits to helping you every step of the way.') }}
            </li>
            <li>
              {{ _('<a href="https://wiki.mozilla.org/Thunderbird:Bug_Queries">Thunderbird bug queries</a> is a wiki page with lots of useful searches.') }}
            </li>
          </ul>
        </article>
      </aside>

      <aside class="flex flex-col">
        <h4 class="subheader-section">{{ _('Add-Ons') }}</h4>
        <p class="font-md tracking-wide leading-loose mb-6 mt-0 p-links-blue">
          {{ _('Learn how to create add-ons and themes by checking out our <a href="https://developer.thunderbird.net/add-ons/about-add-ons">developer documentation. </a>') }}
        </p>
      </aside>
    </section>
  </section>

  <section id="design" class="flex bg-logo">
    <section class="pt-20 pb-10 flex flex-col lg:flex-row flex-grow max-w-6xl mx-auto justify-center items-center pl-8 pr-8">
      <aside class="flex flex-col w-full lg:w-1/2">
        <h3 class="header-section">
          <span>{{ svg('customize') }}</span>
          <aside class="flex flex-col">
            {{ _('Design')}}
            <small class="font-normal font-md tracking-normal normal-case">
              {{ _('Make Thunderbird easy to use, and easy on the eyes.') }}
            </small>
          </aside>
        </h3>
        <p class="font-lg tracking-wider leading-loose mb-6 p-links-blue">
          {{ _('Please share ideas and concepts by posting them on <a href="https://thunderbird.topicbox.com/groups/ux">the UX list on Topicbox</a>.<br/>You can also discuss design in the <a href="https://chat.mozilla.org/#/room/#tb-design:mozilla.org">#tb-design</a> Matrix channel.') }}
        </p>
      </aside>

      <aside class="flex flex-col w-full lg:w-1/2 lg:mt-20">
        <h4 class="subheader-section">{{ _('Style Guide') }}</h4>
        <p class="font-md tracking-wide leading-loose mb-6 mt-0 p-links-blue">
          {{ _('Looking for the Thunderbird logo, icons, color palette, or other design resources? Check out our <a href="%(style_guide)s">style guide</a>.')|format(style_guide=url('thunderbird.style')) }}
        </p>
      </aside>
    </section>
  </section>

  <section id="documentation" class="pt-10 flex flex-col lg:flex-row flex-wrap max-w-6xl mx-auto pl-8 pr-8">
    <aside class="flex flex-col w-full mb-10">
      <h3 class="header-section">
        <span>{{ svg('news') }}</span>
        <aside class="flex flex-col">
          {{ _('Documentation')}}
          <small class="font-normal font-md tracking-normal normal-case">
            {{ _('Help make sure the answers are written down before the questions are asked.') }}
          </small>
        </aside>
      </h3>
    </aside>

    <aside class="flex flex-col w-full lg:w-1/2">
      <article class="flex flex-col w-full mb-6 pr-8">
        <h4 class="subheader-section">{{ _('Where documentation lives') }}</h4>
        <ul class="font-md tracking-wider leading-loose mb-10 p-links-blue">
          <li>
            {{ _('The official <a href="https://developer.thunderbird.net/">Thunderbird developer website.</a>') }}
          </li>
        </ul>
      </article>
    </aside>

    <aside class="flex flex-col w-full lg:w-1/2">
      <article class="flex flex-col w-full mb-6 lg:pl-8">
        <h4 class="subheader-section">{{ _('Contributing to documentation') }}</h4>
        <ul class="font-md tracking-wider leading-loose mb-6 p-links-blue">
          <li>
            {{ _('Support users asking for help on the <a href="https://support.mozilla.org/en-US/questions/thunderbird">Thunderbird Support Forum.</a>') }}
          </li>
          <li>
            {{ _('You can create and improve documentation to help users on <a href="https://support.mozilla.org/en-US/products/thunderbird">SUMO, the Thunderbird user support site.</a>') }}
          </li>
          <li>
            {{ _('You can contribute to the Thunderbird developer documentation via its repository <a href="https://github.com/thunderbird/developer-docs"> on GitHub.</a>') }}
          </li>
        </ul>
      </article>
    </aside>
  </section>

  <section class="pt-10 lg:pt-20 bg-calendar pr-8 pl-8">
    <section class="pt-10 pb-10 flex flex-col lg:flex-row flex-wrap max-w-6xl mx-auto">
      <aside id="qualityassurance" class="flex flex-col w-full lg:w-1/2">
        <article class="flex flex-col w-full mb-6 lg:pl-8">
          <h3 class="header-section">
            <span>{{ svg('popular') }}</span>
            <aside class="flex flex-col">
              {{ _('Quality Assurance')}}
              <small class="font-normal font-md tracking-normal normal-case">
                {{ _('Help catch those bugs before they get loose.') }}
              </small>
            </aside>
          </h3>
          <p class="font-md tracking-wide leading-loose mb-6 mt-0 p-links-blue">
            {{ _('See <a href="https://wiki.mozilla.org/Thunderbird:Testing">Thunderbird:Testing</a> on the Mozilla Wiki.') }}
          </p>
        </article>
      </aside>
      <aside id="translation" class="flex flex-col w-full lg:w-1/2">
        <article class="flex flex-col w-full mb-6 pr-8">
          <h3 class="header-section">
            <span>{{ svg('dictionaries') }}</span>
            <aside class="flex flex-col">
              {{ _('Translation')}}
              <small class="font-normal font-md tracking-normal normal-case">
                {{ _('Make sure the entire world can use Thunderbird.') }}
              </small>
            </aside>
          </h3>
          <ul class="font-md tracking-wider leading-loose mb-6 p-links-blue">
            <li>
             {{ _('For localization of Thunderbird itself, see <a href="https://source-docs.thunderbird.net/en/latest/l10n/index.html">Thunderbird Localization</a> in the source docs. Most languages <a href="https://pontoon.mozilla.org/projects/thunderbird/">use Pontoon</a>.') }}
            </li>
            <li>
              {{ _('You can also contribute translations for this <a href="https://pontoon.mozilla.org/projects/thunderbirdnet/">website on Pontoon</a>.') }}
            </li>
          </ul>
        </article>
      </aside>
    </section>
  </section>
  {% include 'includes/site-prefooter.html' %}

{% endblock %}
