{% extends "firefox/nightly_firstrun.html" %}

{% l10n promo_community %}
  <div class="billboard">
    <h3>Erfahren Sie mehr über die lokale Mozilla-Community</h3>
    <div class="column">
      <h4>Machen Sie mit</h4>
      <ul class="unstyled">
        <li><a href="https://developer.mozilla.org/de/docs/Project:How_to_Help">Entwickler-Dokumentation verbessern &amp; übersetzen</a></li>
        <li><a href="http://support.mozilla.org/de/kb/wissensdatenbank-verbessern">Benutzer-Dokumentation verbessern &amp; übersetzen</a></li>
        <li><a href="https://events.webmaker.org/">WebMaker-Veranstaltungen: Personen beibringen, Webinhalte zu erstellen</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Mozilla/Localization/Quick_start_guide">Übersetzung von Anwendungen</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Werden Sie Teil der Gemeinschaft</h4>
      <ul class="unstyled">
        <li><a href="http://www.mozilla.de/">www.mozilla.de</a></li>
        <li><a href="http://www.mibbit.com/?server=irc.mozilla.org&amp;channel=%23mozilla.de">IRC-Chat: #mozilla.de</a></li>
        <li><a href="https://lists.mozilla.org/listinfo/community-german">Mailing-Liste</a></li>
        <li><a href="https://twitter.com/mozilla_deutsch">@mozilla_deutsch</a></li>
        <li><a href="https://www.facebook.com/mozilla.de">Facebook</a></li>
      </ul>
    </div>
    <div class="column">
      <h4>Aktuelle Veranstaltungen</h4>
      <ul class="unstyled">
        <!--<li>&nbsp;<!- only text for us -></li> spacer line-->
        <li>Open Mozilla Nights (Berlin) &ndash; jeden 2. Donnerstag &ndash; <a href="https://www.meetup.com/de-DE/Berlin-Mozilla-Meetup/">Meetup</a> &ndash; <a href="https://twitter.com/MozillaNight">Twitter</a></li>
      </ul>
    </div>
  </div>
{% endl10n %}

{% l10n promo_locale %}
<h3>Erfahren Sie mehr über die lokale Mozilla-Community</h3>
<p>Unsere Projekte bieten einige vielfältige Möglichkeiten, wie sich wirklich jeder aktiv einbringen kann: Helfen Sie Anwendern von Mozilla-Software, arbeiten Sie an der Übersetzung der Mozilla-Software von Webseiten mit oder planen Sie Veranstaltungen für das WebMaker-Projekt.</p>

<p>Werden Sie Teil der Gemeinschaft</p>
<ul class="unstyled">
   <li><a href="http://www.mozilla.de/">www.mozilla.de</a></li>
        <li><a href="http://www.mibbit.com/?server=irc.mozilla.org&amp;channel=%23mozilla.de">IRC-Chat: #mozilla.de</a></li>
        <li><a href="https://lists.mozilla.org/listinfo/community-german">Mailing-Liste</a></li>
        <li><a href="https://twitter.com/mozilla_deutsch">@mozilla_deutsch</a></li>
        <li><a href="https://www.facebook.com/mozilla.de">Facebook</a></li>
</ul>

<h4>Aktuelle Veranstaltungen</h4>
	<ul class="unstyled">
        <!--<li>&nbsp;<!- only text for us -></li> spacer line-->
        <li>Open Mozilla Nights (Berlin) &ndash; jeden 2. Donnerstag &ndash; <a href="https://www.meetup.com/de-DE/Berlin-Mozilla-Meetup/">Meetup</a> &ndash; <a href="https://twitter.com/MozillaNight">Twitter</a></li>
	</ul>
{% endl10n %}
