
{% extends "firefox/nightly_firstrun.html" %}

{% l10n promo_community %}
  <div class="billboard">
    <h3>Zjistěte více o místní komunitě Mozilla</h3>
	<p>Česká komunita Mozilla překládá aplikace Mozilly do češtiny, pomáhá uživatelům a popularizuje projekt. 
	   Do projektu se může zapojit každý z vás podle svých možností a schopností. Zní to zajímavě? 
	   <a href="mailto:info@mozilla.cz">Ozvěte se nám</a>!</p>
	<ul class="unstyled">
		<li><a href="http://www.mozilla.cz/">Navštivte náš web Mozilla.cz</a></li>
		<li><a href="https://twitter.com/MozillaCZ">Sledujte nás na Twitteru (@MozillaCZ)</a></li>
		<li><a href="https://www.facebook.com/Mozillacz">Staňte se našimi fanoušky na Facebooku</a></li>
	</ul>
  </div>
{% endl10n %}

{% l10n promo_locale %}
    <h3>Zjistěte více o místní komunitě Mozilla</h3>
	<p>Česká komunita Mozilla překládá aplikace Mozilly do češtiny, pomáhá uživatelům a popularizuje projekt. 
	   Do projektu se může zapojit každý z vás podle svých možností a schopností. Zní to zajímavě? 
	   <a href="mailto:info@mozilla.cz">Ozvěte se nám</a>!</p>
	<ul class="unstyled">
		<li><a href="http://www.mozilla.cz/">Navštivte náš web Mozilla.cz</a></li>
		<li><a href="https://twitter.com/MozillaCZ">Sledujte nás na Twitteru (@MozillaCZ)</a></li>
		<li><a href="https://www.facebook.com/Mozillacz">Staňte se našimi fanoušky na Facebooku</a></li>
	</ul>
{% endl10n %}
