{# This is the reusable smart download button.
If javascript is not enabled it will show everything
otherwise it will selectively show based on platform and os.

Macros:
  download_smart
    :btn_class - Class for the download button (anchor tag fyi!)
    :container_class - Class for the container wrapping the download button
    :force_platform = 'all'|'desktop'|'android'
    :desktop_channel = 'esr'|'release'|'beta'|'daily' - Force the download button to show a specific channel
#}
{% from 'includes/macros/download-desktop.html' import download_desktop_btns %}
{% from 'includes/macros/download-mobile.html' import download_mobile_btns %}
{% macro download_smart(btn_class = 'btn-gradient', container_class = 'download-button-products', force_platform='all', desktop_channel = 'esr') -%}
{# Note: force_platform = 'all' | 'android' | 'desktop' #}
<h4 class="no-js-title">{{ _('Download Thunderbird') }} — {{ get_locale_name(LANG)|safe }}</h4>
{% include 'includes/download-and-options.html' %}
  {% if force_platform == 'all' %}
    <div data-download-platform="android">
      {{ download_mobile_btns(btn_class, container_class, False) }}
    </div>
    <div data-download-platform="desktop">
      {{ download_desktop_btns(desktop_channel, btn_class, container_class, False) }}
    </div>
  {% elif force_platform == 'android' %}
    <div>
      {{ download_mobile_btns(btn_class, container_class, False) }}
    </div>
  {% elif force_platform == 'desktop' %}
    <div>
      {{ download_desktop_btns(desktop_channel, btn_class, container_class, False) }}
    </div>
  {% endif %}
<small>{{_('Free forever.')}} <a class="dotted" href="{{ donate_url('header') }}">{{_('Donate')}}</a> {{_('to make it better.')}}</small>
{% endmacro %}