{# Version: 20140429 #}

{% extends "mozorg/home.html" %}

{% l10n home_news %}
<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="de" href="http://blog.mozilla.org/press-de/2014/04/29/mozilla-stellt-den-neuen-firefox-vor-nutzerfreundlichkeit-und-ein-elegantes-design-stehen-im-mittelpunkt/">
      Mozilla stellt den neuen Firefox vor: Nutzerfreundlichkeit und ein elegantes Design stehen im Mittelpunkt
    </a>
  </h3>
</li>
<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="de" href="http://blog.mozilla.org/press-de/2014/04/29/firefox-fur-android-kommt-mit-besseren-anpassungsoptionen/">
      Firefox für Android kommt mit besseren Anpassungsoptionen
    </a>
  </h3>
</li>
<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="de" href="https://blog.mozilla.org/press-de/2014/03/18/das-web-als-gaming-plattform-zur-gdc-2014-zeigen-mozilla-und-partner-die-zukunft-der-spieleentwicklung/">
      Das Web als Gaming-Plattform: Zur GDC 2014 zeigen Mozilla und Partner die Zukunft der Spieleentwicklung
    </a>
  </h3>
</li>
{% endl10n %}

