{% extends "includes/base/page.html" %}


{% block content %}
<ul class="card-container">
  <li class="card card-icon card-desktop">
    <strong>
        {{ _('Desktop')}}
    </strong>

    {{ _('Thunderbird for Windows, macOS, and Linux. Follow the roadmap from active work to future ideas. Timelines may shift as we learn and iterate.')}}

    <bolt-primary-button
      variant="outline"
      href="{{ url('roadmaps.desktop') }}">
      View roadmap
    </bolt-primary-button>
  </li>
  <li class="card card-icon card-android">
    <strong>
        {{ _('Android')}}
    </strong>


    {{ _('A transparent view of upcoming Android features and improvements. Track progress by milestone.')}}

    <bolt-primary-button
      variant="outline"
      href="{{ url('roadmaps.android') }}">
      View roadmap
    </bolt-primary-button>
  </li>
  <li class="card card-icon card-ios">
    <strong>
        {{ _('iOS')}}
    </strong>

    {{ _('Priorities for performance, accessibility, and a gesture-first mobile UX on iPhone and iPad.')}}

    <bolt-primary-button
      variant="outline"
      href="{{ url('roadmaps.ios') }}">
      View roadmap
    </bolt-primary-button>
  </li>
  <li class="card card-icon card-services">
    <strong>
        {{ _('Services')}}
    </strong>

    {{ _('')}}

    <bolt-primary-button
      variant="outline"
      href="{{ url('roadmaps.services') }}">
      View roadmap
    </bolt-primary-button>
  </li>
</ul>
{% endblock %}
