{% extends "includes/base/page.html" %}


{% block content %}
<ul>
  <li class="card card-icon card-desktop">
    <strong>
        {{ _('Desktop')}}
    </strong>

    {{ _('Thunderbird for Windows, macOS, and Linux. Follow the roadmap from active work to future ideas. Timelines may shift as we learn and iterate.')}}

    <a href="{{ url('roadmaps.desktop') }}">View roadmap</a>
  </li>
  <li class="card card-icon card-android">
    <strong>
        {{ _('Android')}}
    </strong>

    {{ _('Thunderbird for Windows, macOS, and Linux. Follow the roadmap from active work to future ideas. Timelines may shift as we learn and iterate.')}}

    <a href="{{ url('roadmaps.android') }}">View roadmap</a>
  </li>
  <li class="card card-icon card-ios">
    <strong>
        {{ _('iOS')}}
    </strong>

    {{ _('Thunderbird for Windows, macOS, and Linux. Follow the roadmap from active work to future ideas. Timelines may shift as we learn and iterate.')}}

    <a href="{{ url('roadmaps.ios') }}">View roadmap</a>
  </li>
  <li class="card card-icon card-services">
    <strong>
        {{ _('Services')}}
    </strong>

    {{ _('Thunderbird for Windows, macOS, and Linux. Follow the roadmap from active work to future ideas. Timelines may shift as we learn and iterate.')}}

    <a href="{{ url('roadmaps.services') }}">View roadmap</a>
  </li>
</ul>
{% endblock %}
