{# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% set active_page = "calendar" %}
{% extends "includes/base/page.html" %}

{% block page_title %}{{ _('Calendar') }}{% endblock %}
{% block page_desc %}{{ _('Thunderbird is a free email application that’s easy to set up and customize - and it’s loaded with great features!') }}{% endblock %}
{% block category %}{{ _('Resources') }}{% endblock %}

{% block content %}
<section>
  <div class="container">
    <div class="section-text">
      <div class="section-title">
        <h1>{{ _('Looking For Holiday Calendars?') }}</h1>
      </div>
      <p>{{ _('If you\'re looking for holiday calendars, please click <a href="%(url)s">here</a>.'|format(url=url('thunderbird.calendar.holiday'))) }}</p>
    </div>
  </div>
</section>
{% endblock %}
