{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "_includes/bedrock/base-resp.html" %}

{% block facebook_id %}348169218537151{# facebook.com/Thunderbird #}{% endblock %}
{% block twitter_id %}mozthunderbird{% endblock %}

{% block page_image %}{{ static('img/thunderbird/thunderbird-256.png') }}{% endblock %}
{% block page_favicon %}{{ static('img/thunderbird/favicon.ico') }}{% endblock %}
{% block page_favicon_large %}{{ static('img/thunderbird/favicon-196.png') }}{% endblock %}
{% block page_ios_icon %}{{ static('img/thunderbird/ios-icon-180.png') }}{% endblock %}

{% block site_header %}
  <header id="masthead" class="bg-no-repeat bg-cover bg-top flex flex-col{% if active_page == 'index' %} bg-header{% else %} bg-header-page{% endif %}">
    <section class="flex justify-between items-center p-6 flex-wrap">
      {% block site_header_logo %}
        <h2 class="mt-0 mb-0">
          <a href="{{ url('thunderbird.index') }}" class="block w-48 md:w-16 lg:w-56" title="{{ _('Thunderbird') }}" alt="{{ _('Thunderbird Vector Wordmark') }}">
            <i class="block md:hidden lg:block">{{ svg('logo-wordmark-white') }}</i>
            <i class="hidden md:block lg:hidden">{{ svg('logo') }}</i>
          </a>
        </h2>
      {% endblock %}

      {% block site_header_nav %}
        <a href="{{ donate_url('header') }}" class="btn-donate md:hidden" target="_blank">
          <span class="inline-block w-3 mr-1">{{ svg('heart') }}</span> {{_('Donate')}}
        </a>
        <nav id="nav-main" role="navigation" class="flex-grow md:flex-grow-0">
          <ul id="nav-main-menu" class="list-none p-0 flex flex-wrap items-center text-white font-md font-semibold justify-around">
            <li>
              <a href="{{ url('thunderbird.features') }}" class="nav-link">{{_('Features')}}</a>
            </li>
            <li>
              <a href="https://addons.thunderbird.net" target="_blank" class="nav-link">{{_('Add-ons')}}</a>
            </li>
            <li>
              <a href="{{ url('thunderbird.get-involved') }}" class="nav-link">{{_('Get Involved')}}</a>
            </li>
            <li>
              <a href="{{ url('support') }}" class="nav-link" target="_blank">{{_('Get Help')}}</a>
            </li>
            <li>
              <a href="{{ url('thunderbird.about') }}" class="nav-link">{{_('About Us')}}</a>
            </li>
            <li>
              <a href="{{ url('blog') }}" class="nav-link" target="_blank">{{_('Blog')}}</a>
            </li>
            <li class="hidden md:inline">
              <a href="{{ donate_url('header') }}" class="btn-donate" target="_blank">
                <span class="inline-block w-3 mr-1">{{ svg('heart') }}</span> {{_('Donate')}}
              </a>
            </li>
          </ul>
        </nav>
      {% endblock %}
    </section>

    {% block header_content %}{% endblock %}

    {% block breadcrumbs %}{% endblock %}

    {% block site_header_share %}{% endblock %}

  </header>
{% endblock %}

{% block email_form %}
{% endblock email_form %}
