{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% if LANG in settings.LOCALE_CURRENCIES %}
  {% set this_currency = settings.LOCALE_CURRENCIES[LANG] %}
{% else %}
  {% set this_currency = 'usd' %}
{% endif %}
{% set this_curdata = settings.CURRENCIES[this_currency] %}

{% block additional_site_js %}
<script>
  (function(w,d,s,n,a){if(!w[n]){var l='call,catch,on,once,set,then,track'
  .split(','),i,o=function(n){return'function'==typeof n?o.l.push([arguments])&&o
  :function(){return o.l.push([n,arguments])&&o}},t=d.getElementsByTagName(s)[0],
  j=d.createElement(s);j.async=!0;j.src='https://cdn.fundraiseup.com/widget/'+a;
  t.parentNode.insertBefore(j,t);o.s=Date.now();o.v=4;o.h=w.location.href;o.l=[];
  for(i=0;i<7;i++)o[l[i]]=o(l[i]);w[n]=o}
  })(window,document,'script','FundraiseUp','ADGJGYAN');

  // Set FRU's language
  window._lang = "{{ get_fru_language() }}";
</script>
{% endblock %}

<div id="amount-modal" class="modal rounded-lg w-full max-w-2xl shadow-lg bg-white text-black-lighter fixed z-30 mt-0 mx-auto pin-x hidden">
  <div id="close-modal" class="absolute p-1 m-2 z-10 pin-t pin-r">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 h-6" stroke-width="2.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <line x1="18" y1="6" x2="6" y2="18" />
      <line x1="6" y1="6" x2="18" y2="18" />
    </svg>
  </div>
  <h1 class="text-blue-dark text-center font-4xl font-light">
    {{ _('Pay What You Want') }}
  </h1>
  <form action="">
    <section class="font-lg pt-0 pl-6 pb-4 pr-6 leading-normal text-center">
      <p>{{ _('Thunderbird is independent, free, and Open Source software sustained by your donations. Help us keep the project alive!') }}</p>
    </section>
    <section id="donate-buttons" class="flex justify-center mt-6 mb-6">
      <span class="fundraiseup-button">
        <a href="#XSHRMXJE" style="display: none"></a>
      </span>
      <button class="btn-body btn-secondary no-hover" id="amount-cancel">
        {{ _('No Thanks, Download Now!') }}
        <span>
          <svg viewBox="0 0 7 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="UI" stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd">
              <path d="M6.91574413,5.89284986 C6.91574413,5.97767139 6.87333336,6.07309561 6.80971722,6.13671176 L1.86886311,11.0775659 C1.80524696,11.141182 1.70982274,11.1835928 1.62500121,11.1835928 C1.54017968,11.1835928 1.44475546,11.141182 1.38113932,11.0775659 L0.851004755,10.5474313 C0.787388608,10.4838152 0.744977843,10.3989936 0.744977843,10.3035694 C0.744977843,10.2187479 0.787388608,10.1233237 0.851004755,10.0597075 L5.0178624,5.89284986 L0.851004755,1.72599222 C0.787388608,1.66237607 0.744977843,1.56695185 0.744977843,1.48213032 C0.744977843,1.39730879 0.787388608,1.30188457 0.851004755,1.23826842 L1.38113932,0.70813386 C1.44475546,0.644517713 1.54017968,0.602106948 1.62500121,0.602106948 C1.70982274,0.602106948 1.80524696,0.644517713 1.86886311,0.70813386 L6.80971722,5.64898796 C6.87333336,5.71260411 6.91574413,5.80802833 6.91574413,5.89284986 Z"></path>
            </g>
          </svg>
        </span>
      </button>
    </section>
  </form>
  <footer class="w-4/5 mx-auto border-0 border-t border-solid border-grey-light p-6">
    <ul class="flex justify-center uppercase list-none font-xs p-0 m-0">
      <li class="mr-4">
        <a class="text-black-lightest no-underline" href="">
          {{ _('Secure') }}
        </a>
      </li>
      <li class="mr-4">
        <a class="text-black-lightest no-underline" href="https://www.mozilla.org/en-US/privacy/websites/">
          {{ _('Privacy Policy') }}
        </a>
      </li>
      <li class="mr-4">
        <a class="text-black-lightest no-underline" href="https://give.thunderbird.net/en-CA/ways-to-give/">
          {{ _('Other ways to donate') }}
        </a>
      </li>
      <li>
        <a class="text-black-lightest no-underline" href="https://give.thunderbird.net/en-CA/faq/">
          {{ _('FAQ') }}
        </a>
      </li>
    </ul>
  </footer>
</div>

<div id="modal-overlay" class="fixed pin-t pin-l m-0 p-0 w-full h-full z-20 bg-black opacity-50 hidden" tabindex="-1"></div>