{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

<section class="pt-10 pb-10 lg:pt-20 lg:pb-20 flex flex-col lg:flex-row max-w-6xl mx-auto justify-between pl-8 pr-8 mb-10">
  <aside class="flex flex-col flex-1 lg:max-w-lg mb-20 lg:mb-0">
    <h3 class="header-section">
      <a id="donate" class="anchor" aria-hidden="true" href="#donate">
          {{ svg('link') }}
        </a>
      {{ _('Thunderbird is funded by users like you')}}
    </h3>
    <p class="font-lg tracking-wider leading-loose mb-8 mt-0 flex-1">
      {{ _('Thunderbird is both free and freedom respecting, but we’re also completely funded by donations! Help us sustain the project and continue to improve.') }}
    </p>
    <a href="{{ donate_url('home_page_body') }}" class="btn-donate self-start ml-0 mr-0 font-lg lg:font-base" data-donate-btn data-donate-content="home_page_body">
      <span class="inline-block w-3 mr-1">{{ svg('heart') }}</span> {{_('Donate')}}
    </a>
  </aside>

  <aside class="flex flex-col flex-1 lg:max-w-lg">
    <h3 class="header-section">
      <a id="mailing-list" class="anchor" aria-hidden="true" href="#mailing-list">
        {{ svg('link') }}
      </a>
      {{ _('Join our Newsletter')}}
    </h3>
    <p class="font-lg tracking-wider leading-loose mb-8 mt-0 flex-1">
      {{ _('Keep up with the latest and greatest updates on news, features, events, and previews, and get a sneak peek on the upcoming releases.') }}
    </p>
    {% include '_includes/newsletter-form.html' %}
  </aside>
</section>
