{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

<section class="pt-10 pb-10 lg:pt-20 lg:pb-20 flex flex-col lg:flex-row max-w-6xl mx-auto justify-between pl-8 pr-8 mb-10">
  <aside class="flex flex-col flex-1 lg:max-w-lg mb-20 lg:mb-0">
    <h3 class="header-section">{{ _('Thunderbird is funded by users like you')}}</h3>
    <p class="font-lg tracking-wider leading-loose mb-8 mt-0 flex-1">
      {{ _('Thunderbird is both free and freedom respecting, but we’re also completely funded by donations! Help us sustain the project and continue to improve.') }}
    </p>
    <a href="{{ donate_url('home_page_body') }}" class="btn-donate self-start ml-0 mr-0 font-lg lg:font-base">
      <span class="inline-block w-3 mr-1">{{ svg('heart') }}</span> {{_('Donate')}}
    </a>
  </aside>

  <aside class="flex flex-col flex-1 lg:max-w-lg">
    <h3 class="header-section">{{ _('Join our Newsletter')}}</h3>
    <p class="font-lg tracking-wider leading-loose mb-8 mt-0 flex-1">
      {{ _('Keep up with the latest and greatest updates on news, features, events, and previews, and get a sneak peek on the upcoming releases.') }}
    </p>
    <!-- Begin Mailchimp Signup Form -->
    <form action="https://mozilla.us12.list-manage.com/subscribe/post?u=f8051cc8637cf3ff79661f382&amp;id=9badb0cec2"
    class="shadow flex items-center rounded-md self-start p-1"
    method="post" id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form">
    <input id="mce-EMAIL" name="EMAIL" type="email" placeholder="{{ _('Your Email') }}"
    class="w-64 appearance-none border-none p-2 tracking-wide font-semibold font-regular" required>
    <button type="submit" id="mc-embedded-subscribe" class="btn-newsletter">{{ _('Sign me up!') }}</button>
    <!-- Prevent Bot signups -->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
      name="b_f8051cc8637cf3ff79661f382_9badb0cec2" tabindex="-1" value=""></div>
    </form>
    <!--End mc_embed_signup-->
  </aside>
</section>
