<footer id="colophon" class="bg-black-light text-white flex flex-col pt-10 pb-8">
  <section class="flex justify-between items-center self-center w-full max-w-6xl pl-4 pr-4">
    <aside class="flex flex-col">
      <a href="{{ url('thunderbird.index') }}" class="block w-40" title="{{ _('Thunderbird') }}"
        alt="{{ _('Thunderbird Vector Wordmark') }}">
        {{ svg('logo-wordmark-white') }}
      </a>

      <nav id="footer-main" role="navigation" class="mt-2">
        <ul class="list-none p-0 flex items-center text-white font-md">
          <li>
            <a href="{{ url('thunderbird.features') }}" class="ml-0 nav-link">{{_('Features')}}</a>
          </li>
          <li>
            <a href="https://addons.thunderbird.net" target="_blank" class="nav-link">{{_('Add-ons')}}</a>
          </li>
          <li>
            <a href="{{ url('support') }}" class="nav-link" target="_blank">{{_('Get Help')}}</a>
          </li>
          <li>
            <a href="{{ url('blog') }}" class="nav-link" target="_blank">{{_('Blog')}}</a>
          </li>
          <li>
            <a href="{{ url('thunderbird.about') }}" class="nav-link">{{_('About Us')}}</a>
          </li>
          <li>
            <a href="{{ url('thunderbird.contact') }}" class="nav-link">{{_('Contact Us')}}</a>
          </li>
        </ul>
      </nav>
    </aside>
    <aside class="flex flex-1 flex-col text-right">
      <ul class="list-none p-0 flex justify-end">
        <li class="mr-4">
          <a class="social-link font-semibold" title="Follow @mozthunderbird on Twitter"
            href="https://twitter.com/mozthunderbird" data-link-type="footer" data-link-name="Twitter (Thunderbird)">
            <span>{{ svg('twitter') }}</span>
            @mozthunderbird
          </a>
        </li>
        <li>
          <a class="social-link font-semibold" href="https://www.facebook.com/Thunderbird/" data-link-type="footer"
            data-link-name="Facebook (Thunderbird)">
            <span>{{ svg('facebook') }}</span>
            {{ _('Thunderbird') }}
          </a>
        </li>
      </ul>
      <aside class="mt-2">
        {% include '_includes/lang_switcher.html' %}
      </aside>
    </aside>
  </section>
  <section class="self-center text-center max-w-xl mt-8">
    <ul class="list-none p-0 flex justify-center">
      <li>
        <a href="{{ url('privacy') }}" class="small-link mr-3 ml-3" data-link-type="footer" data-link-name="Privacy" target="_blank">{{ _('Privacy') }}</a>
      </li>
      <li>
        <a href="{{ url('privacy.notices.websites') }}#cookies" class="small-link mr-3 ml-3" data-link-type="footer" data-link-name="Cookies" target="_blank">{{ _('Cookies') }}</a>
        </li>
      <li>
        <a href="{{ url('legal.index') }}" class="small-link mr-3 ml-3" data-link-type="footer"
          data-link-name="Legal" target="_blank">{{ _('Legal') }}</a>
        </li>
      <li>
        <a href="{{ url('legal.fraud-report') }}" class="small-link mr-3 ml-3" data-link-type="footer"
          data-link-name="Report Trademark Abuse" target="_blank">{{ _('Report Trademark Abuse') }}</a>
        </li>
    </ul>

    <p class="mt-6 mb-6 leading-normal">
      {%- trans url=url('foundation.licensing.website-content') -%}
      Portions of this content are ©1998–{{ current_year }} by individual
      mozilla.org contributors. Content available under
      a <a href="{{ url }}" class="inline-link" target="_blank">Creative Commons license</a>.
      {%- endtrans -%}
    </p>

    <a href="{{ url('contribute') }}" class="small-link font-semibold" data-link-type="footer"
      data-link-name="Contribute to this site" target="_blank">{{ _('Contribute to this site') }}</a>
  </section>
</footer>
