{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "_includes/base-resp.html" %}

{% block page_title_prefix %}{% endblock %}
{% block page_title %}{{ _('Thunderbird — {version} System Requirements')|f(version=version) }}{% endblock %}

{% block header_content %}
<section class="text-left text-white flex flex-col items-start w-full max-w-6xl mx-auto pl-8 pr-8">
  <h1 class="font-hero font-thin mt-10 mb-16">
    {{ _('System Requirements - {version}')|f(version=version) }}
  </h1>
</section>
{% endblock %}

{% block content %}
  <section class="mt-10 flex justify-between items-center pl-20 pr-20">
    <aside class="flex flex-col w-full ml-16 mr-16 font-lg tracking-wider leading-loose -mb-20 markup-page">
      {{ release.system_requirements|markdown|safe }}
    </aside>
  </section>

  <section class="pt-20 pb-20 flex bg-calendar">
    &nbsp;
  </section>
  {% include '_includes/site-prefooter.html' %}

{% endblock %}
