<section class="font-md tracking-wide">
  <h2 class="font-2xl text-blue-dark">Bank Transfer / SEPA</h2>
  <p>We accept contributions in Euros through Single European Payment Area (SEPA)
    transfer, and British Pounds through BACS transfer.</p>
  <p>Please note that for smaller (under 10 EUR or equivalent) contributions, <span class="font-bold">and
    especially for contributions under 5 EUR or equivalent</span>, we request that you contribute via credit card or PayPal to
    help reduce our processing fees.</p>
  <p>If your bank requests our physical address, it is 2 Harrison Street, Suite 175, San
    Francisco, CA 94105 USA.</p>
</section>

<section class="font-md tracking-wide">
  <h2 class="font-2xl text-blue-dark">Euros:</h2>
  <ul class="ways-to-give-list-info">
    <li><span class="font-bold">Account Currency:</span> Euro (EUR)</li>
    <li><span class="font-bold">Receiving Bank (Pay to):</span> Standard Chartered Bank</li>
    <li><span class="font-bold">City & Country/Region:</span> Frankfurt, Germany</li>
    <li><span class="font-bold">SWIFT/BIC Code:</span> SCBLDEFX</li>
    <li><span class="font-bold">Beneficiary Name (For credit to):</span> MZLA Technologies Corporation</li>
    <li><span class="font-bold">IBAN:</span> DE05512305000500215809</li>
    <li><span class="font-bold">Memo field:</span> Thunderbird</li>
  </ul>
</section>

<section class="font-md tracking-wide">
  <h2 class="font-2xl text-blue-dark">British Pound Sterling:</h2>
  <ul class="ways-to-give-list-info">
    <li><span class="font-bold">Account Currency:</span> British Pound Sterling (GBP)</li>
    <li><span class="font-bold">Receiving Bank (Pay to):</span> National Westminster Bank</li>
    <li><span class="font-bold">City & Country/Region:</span> London, United Kingdom</li>
    <li><span class="font-bold">Bank Sort Code:</span> 60-00-04</li>
    <li><span class="font-bold">Account Number (8 digits):</span> 10020551</li>
    <li><span class="font-bold">Beneficiary Name (For credit to):</span> MZLA Technologies Corporation</li>
    <li>{# Line break.... #}</li>
    <li><span class="font-bold">SWIFT/BIC Code:</span> NWBKGB2L</li>
    <li><span class="font-bold">IBAN:</span> GB42NWBK60000410020551</li>
    <li><span class="font-bold">Memo field:</span> Thunderbird</li>
  </ul>
</section>

<section class="font-md tracking-wide">
  <h2 class="font-2xl text-blue-dark">Check (via postal service)</h2>
  <p>
    MZLA/Thunderbird is happy to accept your donation <span class="font-bold">(made payable to “MZLA Technologies Corp”)</span> via check; however please
    note that processing and acknowledgment of your gift may be delayed by changes to our office procedures due to the
    COVID-19 pandemic. You can send checks to:
  </p>
  <ul class="ways-to-give-list-info font-style-italic">
    <li>MZLA Technologies Corporation</li>
    <li>Attn: Thunderbird Donor Care</li>
    <li>2 Harrison Street, Suite 175</li>
    <li>San Francisco, CA 94105</li>
  </ul>

  <p>Please include your email address on the memo line of your check to help us track and attribute your gift.</p>

  <p>Please also note that MZLA/Thunderbird can only accept checks in U.S. dollars drawn on a U.S. bank.</p>
</section>