{# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "includes/base/page.html" %}

{% block page_title %}{{ _('Terms') }}{% endblock %}
{% block page_desc %}{{ _('Thunderbird Pro Terms.') }}{% endblock %}

{% block extra_css %}
<link href="{{ static('css/plain.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block masthead %}
<h1>{{ _('Terms') }}</h1>
{% endblock %}

{% block overview %}
<div class="top-level primary-block">
  <div id="plain-page">
    {# This is downloaded from build-site.py but should be checked into the repo. #}
    {% include 'includes/legal/terms.html' %}
  </div>
</div>
{% endblock %}
