<!doctype html>
<html class="other x86 no-js page-{{ active_page|default('not-set') }}" lang="{{ LANG|replace('en-US', 'en') }}" dir="{{ DIR }}">
  <head>
    <meta charset="utf-8">{# Note: Must be within first 512 bytes of page #}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block extra_meta %}{% endblock %}

    {% block shared_meta %}
    <title>{% filter striptags|e %}{% block page_title_full %}{% block page_title_prefix %}{% endblock %}{% block page_title %}{% endblock %}{% endblock page_title_full %}{% block page_title_suffix %} — Thunderbird{% endblock %}{% endfilter %}</title>
    <meta name="description" content="{% filter striptags|e %}{% block page_desc %}{{ _('Thunderbird is a free email application that’s easy to set up and customize - and it’s loaded with great features!') }}{% endblock %}{% endfilter %}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ _('Thunderbird') }}">
    <meta property="og:locale" content="{{ LANG|replace("-", "_") }}">
    <meta property="og:image" content="{{ static('img/thunderbird/thunderbird-256.png') }}">
    <meta property="og:title" content="{% filter striptags|e %}{% block page_og_title %}{{ self.page_title_full() }}{% endblock %}{% endfilter %}">
    <meta property="og:description" content="{% filter striptags|e %}{% block page_og_desc %}{{ self.page_desc() }}{% endblock %}{% endfilter %}">
    <meta property="fb:page_id" content="{% block facebook_id %}348169218537151{% endblock %}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:domain" content="thunderbird.net">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{% block page_ios_icon %}{{ static('img/thunderbird/ios-icon-180.png') }}{% endblock %}">
    <link rel="icon" type="image/png" sizes="196x196" href="{% block page_favicon_large %}{{ static('img/thunderbird/favicon-196.png') }}{% endblock %}">
    <link rel="shortcut icon" href="{% block page_favicon %}{{ static('img/thunderbird/favicon.ico') }}{% endblock %}">
    {% endblock shared_meta %}

    <link href="{{ static('css/normalize.css') }}" rel="stylesheet" type="text/css" />

    {% block base_css %}
    <link href="{{ static('css/tbpro-style.css') }}" rel="stylesheet" type="text/css" />
    {% endblock %}

    {% block extra_css %}
      {# For page-specific CSS. #}
    {% endblock %}

    {% block site_js %}
      {#- site-bundle should block html rendering so we can prevent no-js/js element flashing. -#}
    {% endblock %}

    {{ l10n_css() }}

    <!--[if !lte IE 8]><!-->
    {# Global styles, hidden from IE8 and lower #}
    {% block site_css %}{% endblock %}

    {# Page-specific styles, hidden from IE8 and lower #}
    {% block page_css %}{% endblock %}
    <!--<![endif]-->

    {% block extrahead %}
      {# Extra header stuff (scripts, styles, metadata, etc) seen by all browsers. Use the 'page_css' block for CSS you want to hide from IE8 and lower. #}
    {% endblock %}
    <script>
      window.siteLocale = "{{ LANG }}";
    </script>

  </head>
  <body class="tbpro">
    {% include 'includes/base/tab-navigation-bar.html' %}
    <main>
      <div id="main-content">
      {% block content %}{% endblock %}
      </div>

    </main>

    {% include 'includes/base/shared-footer.html' %}

    {% block additional_site_js %}{% endblock %}

    {% block js %}{% endblock %}
  </body>
</html>
