{% extends "includes/base/base.html" %}

{% macro svg_img(file_name, alt_text='', class_name='') %}
  <img src="{{ static('svg/{file_name}.svg'.format(file_name=file_name)) }}" alt="{{ alt_text }}" class="{{ class_name }}"/>
{% endmacro %}

{% block content %}
  <div class="top-gradient top-level">
    <header id="masthead" class="primary-block">
      {% block masthead %} {% endblock %}
    </header>

    {% block features %}{% endblock %}
  </div>

  {% block overview %}
    {# Individual product overviews. #}
  {% endblock %}

  {% block reasons %}
  {% endblock %}

  {% block testimonials %}
  {% endblock %}

  <div class="lower-gradient top-level">
    {% block power_tools %}{% endblock %}

    <section id="details" class="primary-block">
      {% block details %}{% endblock %}
    </section>

    {% block faq %}{% endblock %}
  </div>
{% endblock %}


    {% block footer_container %}
      {{ super() }}
    {% endblock %}
