<!doctype html>
{# Note the "windows" class, without javascript platform-specific
     assets default to windows #}
<html class="windows x86 no-js" lang="{{ LANG|replace('en-US', 'en') }}" dir="{{ DIR }}">
  <head>
    <meta charset="utf-8">{# Note: Must be within first 512 bytes of page #}

    {% block experiments %}{% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block extra_meta %}{% endblock %}

    {% block shared_meta %}
    {#- Please sync this block with the base.html template.
        Because of blocks, we cannot use an include here. -#}
    <title>{% filter striptags|e %}{% block page_title_full %}{% block page_title_prefix %}{% endblock %}{% block page_title %}{% endblock %}{% endblock page_title_full %}{% block page_title_suffix %} — Thunderbird{% endblock %}{% endfilter %}</title>
    {% block site_js %}
      {#- site-bundle should block html rendering so we can prevent no-js/js element flashing. -#}
      <script type="text/javascript" src="/media/js/site-bundle.js" charset="utf-8"></script>
      <script type="text/javascript" src="/media/js/common-bundle.js" charset="utf-8" defer></script>
    {% endblock %}
    <meta name="description" content="{% filter striptags|e %}{% block page_desc %}{% endblock %}{% endfilter %}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ _('Thunderbird') }}">
    <meta property="og:locale" content="{{ LANG|replace("-", "_") }}">
    <meta property="og:image" content="https://www.thunderbird.net/media/img/thunderbird/thunderbird-256.png">
    <meta property="og:title" content="{% filter striptags|e %}{% block page_og_title %}{{ self.page_title_full() }}{% endblock %}{% endfilter %}">
    <meta property="og:description" content="{% filter striptags|e %}{% block page_og_desc %}{{ self.page_desc() }}{% endblock %}{% endfilter %}">
    <meta property="fb:page_id" content="{% block facebook_id %}262134952380{# facebook.com/mozilla #}{% endblock %}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{% block twitter_id %}mozilla{% endblock %}">
    <meta name="twitter:domain" content="thunderbird.net">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{% block page_ios_icon %}{{ static('img/favicon/apple-touch-icon-180x180.png') }}{% endblock %}">
    <link rel="icon" type="image/png" sizes="196x196" href="{% block page_favicon_large %}{{ static('img/favicon/favicon-196x196.png') }}{% endblock %}">
    <link rel="shortcut icon" href="{% block page_favicon %}{{ static('img/favicon.ico') }}{% endblock %}">
    {% endblock shared_meta %}
    <link href="/media/css/normalize.css" rel="stylesheet" type="text/css" />
    <link href="/media/css/tb-115-style.css" rel="stylesheet" type="text/css" />

    {{ l10n_css() }}

    <!--[if !lte IE 8]><!-->
    {# Global styles, hidden from IE8 and lower #}
    {% block site_css %}{% endblock %}

    {# Page-specific styles, hidden from IE8 and lower #}
    {% block page_css %}{% endblock %}
    <!--<![endif]-->

    {% block extrahead %}
      {# Extra header stuff (scripts, styles, metadata, etc) seen by all browsers. Use the 'page_css' block for CSS you want to hide from IE8 and lower. #}
    {% endblock %}
    <script>
      window.siteLocale = "{{ LANG }}";
    </script>
  </head>

  <body {% if self.body_id() %}id="{% block body_id %}{% endblock %}" {% endif %}class="html-{{ DIR }} {% block body_class %}{% endblock %}" {% block body_attrs %}{% endblock %}>
    <div id="strings" {% block string_data %}{% endblock %}></div>

    {# for headers not to be confined by #wrapper (like fx family nav) #}
    {% block site_header_unwrapped %}{% endblock %}

    {% block site_nav %}{% endblock %}

    {% block site_header %}
      {% if not LANG.startswith('en-') %}
      <header id="masthead">

        {% block site_header_nav %}{% endblock %}

        {% block site_header_logo %}{% endblock %}

        {% block breadcrumbs %}{% endblock %}

        {% block site_header_share %}{% endblock %}

      </header>
      {% endif %}
    {% endblock %}

    {% block messages %}
      {% if messages %}
        <ul class="messagelist billboard">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endblock messages %}

    <main>
      {% block content %}{% endblock %}
    </main>

    {% block email_form %}{{ email_newsletter_form() }}{% endblock %}

    {# for newsletters not to be confined by #wrapper #}
    {% block email_form_unwrapped %}{% endblock %}

    {% block site_footer %}
        {% include 'includes/new/site-footer.html' %}
    {% endblock %}


    {% block additional_site_js %}{% endblock %}
    {% block tracker_js %}
      <script type="text/javascript" src="/media/js/piwik.js" async defer></script>
      <script type="text/javascript" src="/media/js/matomo.js" charset="utf-8"></script>
      <noscript>
        <p><img src="//thunderbird.innocraft.cloud/piwik.php?idsite=1&rec=1" style="border:0;" alt="" /></p>
      </noscript>
    {% endblock %}
    <!--[if IE 9]>
      <script src="{{ static('js/libs/matchMedia.js') }}"></script>
    <![endif]-->

    {% block js %}{% endblock %}

    {% if settings.DEV %}
      <!--[if !lte IE 8]><!-->
        <script src="https://pontoon.mozilla.org/pontoon.js"></script>
      <!--<![endif]-->
    {% endif %}
  </body>
</html>
