{# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% set active_page = "release-notes" %}
{% extends "includes/base/page.html" %}

{% block page_title_prefix %}{% endblock %}
{% block page_title %}{{ _('{channel} Notes')|f(channel=channel_name) }}{% endblock %}
{% block category %}{{ _('Products') }} > {{ _('Thunderbird Desktop') }}{% endblock %}

{# channel_name is for display purposes where needed.  #}
{% set channel_name = channel_name|default('') %}
{% set is_beta = channel_name == "Beta" %}

{% block content %}
<section>
  <div class="container release-text-container">
    <div class="section-text wide">
      <h1>{{ _('Thunderbird <span class="txt-gradient">Desktop</span>') }}</h1>
      <h3>{{ _('Version {version}'|f(version=release.version)) }} | {{ _('Released {release}'|f(release=release.release_date|l10n_format_date)) }}</h3>
      <p>
        {{ _('Check out the notes below for this version of Thunderbird. As always, you’re encouraged to
        <a href="%(feedback)s">tell us what you think</a>, or
        <a href="%(bugzilla)s">file a bug in Bugzilla</a>.')|format(feedback='https://support.mozilla.org/questions/new/thunderbird', bugzilla='https://bugzilla.mozilla.org/') }}
      </p>
      <div class="release-text">
        {{ release.text|markdown|safe }}
      </div>
      <div class="system-requirements">
        {#
        {% for platform, req in split_system_requirements().items(): %}
        {% set icon_name = platform|lower %}
        {% if platform == 'GNU/Linux' %}
        {% set icon_name = 'linux' %}
        {% elif platform == 'Mac' %}
        {% set icon_name = 'apple' %}
        {% endif %}
        {% set icon_path = 'base/icons/download/%(icon_name)s-dark'|format(icon_name=icon_name) %}
        {% call accordion(svg(icon_path), platform) %}
        {{ req }}
        {% endcall %}
        {% endfor %}
        #}
      </div>
    </div>
  </div>
</section>
{% if notes %}
<section>
  <div class="container release-notes-container">
    <div class="section-text wide">

      {% set section = namespace(name='') %}
      {% set release_group = namespace(name='') %}
      {% for group in range(release.groups|length) %}
      {% if release.groups[group]|trim %}
      <h2>
        {{ release.groups[group] }}
      </h2>
      {% set section.name = "" %}
      {% endif %}

      {% for note in notes %}
      {% if note.get('group', 1)-1 == group and note.tag != 'unresolved' %}
      {% if note.tag == 'new' and section.name != note.tag %}
      <h2 id="whatsnew" class="header-section">
        {{ _('What’s New')}}
      </h2>
      {% elif note.tag == 'changed' and section.name != note.tag %}
      <h2 id="changes" class="header-section">
        {{ _('What’s Changed')}}
      </h2>
      {% elif note.tag == 'fixed' and section.name != note.tag %}
      <h2 id="fixes" class="header-section">
        {{ _('What’s Fixed')}}
      </h2>
      {% endif %}

      {% set section.name = note.tag %}
      {% set release_group.name = release.groups[group] %}

      <div id="note-{{ loop.index0 }}"
           class="note-container">
        <div class="note-flex">
          <h4 class="note-category">
            {% if note.tag == 'new' %}
            <div class="category-container">
              <span class="category-icon">{{ svg('bookmark') }}</span>
              {{ note.tag }}
            </div>
            {% elif note.tag == 'changed' %}
            <div class="category-container">
              <span class="category-icon">{{ svg('sync') }}</span>
              {{ note.tag }}
            </div>
            {% elif note.tag == 'fixed' %}
            <div class="category-container">
              <span class="category-icon">{{ svg('check') }}</span>
              {{ note.tag }}
            </div>
            {% endif %}
          </h4>
          <div class="note-text">
            {{ note.note|markdown|safe }}
          </div>
        </div>
        {% if is_beta %}
        <aside class="note-bug-numbers">
          {{ note.bug_links|markdown|safe }}
        </aside>
        {% endif %}
      </div>
      {% endif %}
      {% endfor %}
      {% endfor %}

      {% if known_issues %}
      <h2 id="known-issues" class="header-section">
        {{ _('Known Issues')}}
      </h2>
      {% for note in known_issues %}
      <aside id="note-{{ note.id }}" class="note-container">
        <div class="note-category">
          <aside class="category-container">
            <span class="category-icon">{{ svg('bookmark') }}</span>
            {{ _('unresolved') }}
          </aside>
        </div>
        <aside class="note-text">
          {{ note.note|markdown|safe }}
          {% if note.fixed_in_release %}
          <p class="note">
            <a href="{{ releasenotes_url(note.fixed_in_release) }}">
              {{ _('Resolved in v{version_number}')|f(version_number=note.fixed_in_release.version) }}
            </a>
          </p>
          {% endif %}
        </aside>
        {% if is_beta %}
        <aside>
          {{ note.bug_links|markdown|safe }}
        </aside>
        {% endif %}
      </aside>
      {% endfor %}
      {% endif %}
    </div>

  </div>
</section>

{% endif %}

{% endblock %}
{% macro accordion(icon, title) %}
{# Formatted accordion with inner contents being the html
:param icon: A variable containing pre-formatted html (e.g. the result of svg() or image())
:param title: The title of the accordion
:caller: The text body, shows up when you click on the title or accordion.
#}
<details class="accordion">
  <summary class="question">
    <span>{{ icon }}</span>
    {{ title }}
  </summary>
  <div class="answer">
    {{ caller() }}
  </div>
</details>
{% endmacro %}
