{# Version: 20140429 #}

{% extends "mozorg/home.html" %}

{% l10n home_news %}
<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="fr" href="http://blog.mozilla.org/press-fr/2014/04/29/mozilla-presente-le-nouveau-firefox-plus-personnalisable-et-elegant-que-jamais/">
       Mozilla présente le nouveau Firefox, plus personnalisable et élégant que jamais
    </a>
  </h3>
</li>
<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="fr" href="http://blog.mozilla.org/press-fr/2014/04/29/firefox-pour-android-est-plus-personnalisable-que-jamais/">
       Firefox pour Android est plus personnalisable que jamais
    </a>
  </h3>
</li>
<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="fr" href="https://blog.mozilla.org/press-fr/2014/03/19/gdc2014-mozilla-et-ses-partenaires-demontrent-la-puissance-du-web-comme-plate-forme-de-gaming/">
       #GDC2014 : Mozilla et ses partenaires démontrent la puissance du Web comme plate-forme de gaming
    </a>
  </h3>
</li>
{% endl10n %}
