{# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% set active_page = "participate" %}
{% extends "includes/base/page.html" %}

{% block page_title %}{{ _('Participate') }}{% endblock %}
{% block page_desc %}{{ _('Thunderbird is a free email application that’s easy to set up and customize - and it’s loaded with great features!') }}{% endblock %}
{% block category %}{{ _('Contribute') }}{% endblock %}

{% block content %}
<section>
  <div class="container no-gap">
    <div class="section-text">
      <h1>{{ _('We Need <span class="txt-gradient">You</span>') }}</h1>
      <h3>{{ _('Here are some of the ways you can help.') }}</h3>
    </div>
    {% call accordion(svg('base/icons/participate/code'), _('Code')) %}
    <p>
      {% trans trimmed %}
      If you have programming experience there are a lot of ways to contribute to the Thunderbird project. Get started by identifying the area where you have the most experience and interest and following the steps to get started:
      Desktop Development
      {% endtrans %}
    </p>
    <div class="three-columns">
      <div>
        <h3>Desktop Development:</h3>
        <ul class="styled-list">
          <li>Explore the docs</li>
          <li>Join the repository</li>
          <li>Say hello in Matrix</li>
        </ul>
      </div>
      <div>
        <h3>Android Development:</h3>
        <ul class="styled-list">
          <li>Explore the docs</li>
          <li>Join the repository</li>
          <li>Say hello in Matrix</li>
        </ul>
      </div>
      <div>
        <h3>Website Development:</h3>
        <ul class="styled-list">
          <li>Explore the docs</li>
          <li>Join the repository</li>
          <li>Say hello in Matrix</li>
        </ul>
      </div>
      {% endcall %}
      {% call accordion(svg('base/icons/participate/test'), _('Test')) %}
      <div>
        <p>{{ _('With so many unique hardware environments and workflows, community members who test pre-release builds of Thunderbird play a vital role in the quality of the software. Plus, you help catch bugs before they can reach the general public!') }}</p>
      </div>
      {% endcall %}
      {% call accordion(svg('base/icons/participate/translate'), _('Translate')) %}
      <div>
      <p>{{ _('The entire world deserves free and open source software, and Thunderbird is currently translated in more than 50 languages! Use your multilingual talents to help make Thunderbird more widely available than ever.') }}</p>
      </div>
      {% endcall %}
      {% call accordion(svg('base/icons/participate/support'), _('Support')) %}
      <div>
      <p>{{ _('Are you an experienced Thunderbird user who loves lending a helping hand? Put your knowledge to great use by joining our Support Crew and helping users around the world with their Thunderbird questions.') }}</p>
      </div>
      {% endcall %}
      {% call accordion(svg('base/icons/participate/document'), _('Document')) %}
      <div>
      <p>{{ _('Help ensure the answers are written down before the question is even asked! From documenting features or APIs to frequently asked user support questions, put your knowledge and writing skills to use for the benefit of the entire Thunderbird community.') }}</p>
      </div>
      {% endcall %}
      {% call accordion(svg('base/icons/participate/promote'), _('Promote')) %}
      <div>
      <p>{{ _('Advocacy is one of the easiest ways to contribute to Thunderbird! Boosting our posts on Mastodon, showcasing the software to a friend, upvoting a helpful answer on Reddit; anything that adds visibility is a huge help. Here’s where to find us on various social platforms, and how to get involved.') }}</p>
      </div>
      {% endcall %}
      {% call accordion(svg('base/icons/participate/design'), _('Design')) %}
      <div>
        <p>{{ _('Share your ideas, and contribute to the ongoing conversations around Thunderbird’s UX and UI. We welcome your feedback on our UX mailing list, and our companion Matrix room.') }}</p>
      </div>
      {% endcall %}
      <div class="section-text tight">
        <p>{{ _('One more way you can contribute is by sharing <strong>ideas</strong>, <strong>priorities</strong>, and <strong>feedback</strong>. Thunderbird is yours and we\'re listening.') }}</p>
        <a class="strong" href="{{ url('mozorg.connect.tb') }}">{{ _('Mozilla Connect') }}</a>
      </div>
    </div>
  </div>
</section>
{% include 'includes/components/page-separator.html' %}
<section>
  <div class="container no-gap">
    <div class="section-text">
      <h1>{{ _('Contributor <span class="txt-gradient">Experience</span>') }}</h1>
      <h3>{{ _('The ways and reasons to get involved are as diverse as the people who do.') }}</h3>
      <p>{{ _('Volunteers create Thunderbird and ensure it is accessible throughout the world in dozens of languages. They write the documentation and answer the questions that help regular people use Thunderbird. They come from diverse backgrounds and bring unique talents. They\'re making Thunderbird better for themselves and better for the world at the same time. You can join them.') }}</p>
    </div>
  </div>
  <div class="container no-gap">
    <div class="testimonials">
      {% call testimonial_card(high_res_img('thunderbird/base/placeholder/placeholder.png', optional_attributes={'alt': _('My cat Beatrice') }, scale='2x', alt_formats=('avif', 'webp')), 'Ms Beatrice', 'Sr Meow-Stack Engineer, Canada') %}
      Meow meow meow meow...
      {% endcall %}
      {% call testimonial_card(high_res_img('thunderbird/base/placeholder/placeholder.png', optional_attributes={'alt': _('My cat Beatrice') }, scale='2x', alt_formats=('avif', 'webp')), 'Ms Beatrice', 'Sr Meow-Stack Engineer, Canada') %}
      Meow meow meow meow...
      {% endcall %}
      {% call testimonial_card(high_res_img('thunderbird/base/placeholder/placeholder.png', optional_attributes={'alt': _('My cat Beatrice') }, scale='2x', alt_formats=('avif', 'webp')), 'Ms Beatrice', 'Sr Meow-Stack Engineer, Canada') %}
      Meow meow meow meow...
      {% endcall %}
      {% call testimonial_card(high_res_img('thunderbird/base/placeholder/placeholder.png', optional_attributes={'alt': _('My cat Beatrice') }, scale='2x', alt_formats=('avif', 'webp')), 'Ms Beatrice', 'Sr Meow-Stack Engineer, Canada') %}
      Meow meow meow meow...
      {% endcall %}
      {% call testimonial_card(high_res_img('thunderbird/base/placeholder/placeholder.png', optional_attributes={'alt': _('My cat Beatrice') }, scale='2x', alt_formats=('avif', 'webp')), 'Ms Beatrice', 'Sr Meow-Stack Engineer, Canada') %}
      Meow meow meow meow...
      {% endcall %}
      {% call testimonial_card(high_res_img('thunderbird/base/placeholder/placeholder.png', optional_attributes={'alt': _('My cat Beatrice') }, scale='2x', alt_formats=('avif', 'webp')), 'Ms Beatrice', 'Sr Meow-Stack Engineer, Canada') %}
      Meow meow meow meow...
      {% endcall %}
    </div>
  </div>
</section>
{% include 'includes/components/page-separator.html' %}
<section>
  <div class="container no-gap">
    <div class="two-columns">
      <div class="section-text tight">
        <h2>{{ _('Shape the <span class="txt-gradient">Future</span>') }}</h2>
        <h3>{{ _('Improve software and lives by volunteering.') }}</h3>
        <p>{{ _('Craft tools you want to use. Help others find and use software that respects their privacy and freedom. Become part of a better future for yourself and others by putting your talents to work at Thunderbird. Read further to learn how.') }}</p>
      </div>
      <div class="image">
        {{ high_res_img('thunderbird/base/participate/gears.png', {'alt': _('Various gears all working in tandem with a heart, a code symbol, a magnifying glass displaying a very small bug, and the Thunderbird Logo in the centre of it all.')}) }}
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% macro accordion(icon, title) %}
{# Formatted accordion with inner contents being the html
:param icon: A variable containing pre-formatted html (e.g. the result of svg() or image())
:param title: The title of the accordion
:caller: The text body, shows up when you click on the title or accordion.
#}
<details class="accordion">
  <summary class="question">
    <span>{{ icon }}</span>
    {{ title }}
  </summary>
  <div class="answer">
    {{ caller() }}
  </div>
</details>
{% endmacro %}

{% macro testimonial_card(photo, name, title) %}
{# Generic block
:param icon: A variable containing pre-formatted html (e.g. the result of svg() or image())
:param title: The title of the block
:caller: The text body of the block
#}
<div class="testimonial-card">
  <div class="quote">
    <q>
      {{ caller() }}
    </q>
    <div class="attrib">
      <div class="profile-pic">
        {{ photo }}
      </div>
      <div class="name">{{ name }}</div>
      <div class="title">{{ title }}</div>
    </div>
  </div>
</div>
{% endmacro %}