{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}
{% set channel = 'release' %}
{% from "_includes/product-all-macros.html" import build_table with context %}
{% extends "_includes/base-resp.html" %}

{% block extra_meta %}<meta name="robots" content="noindex">{% endblock %}

{% block page_title %}{{ _('Download Thunderbird in your language') }}{% endblock %}

{% block page_desc %}
  {% if channel != 'release' %}
    {{ _('Be one of the first to try the newest features in Thunderbird. By giving us your feedback, you’ll help us to refine the features that will be included in the final version.') }}
  {% else %}
    {{ _('Get the award-winning email application from Mozilla. Import your existing mail and enjoy our new features like tabbed email and advanced search.') }}
  {% endif %}
{% endblock %}

{% block body_class -%}
  sky {{ platform }} {{ channel }}
{% endblock %}

{% block header_content %}
  <section class="text-center text-white flex flex-col items-center xl:w-full max-w-6xl mx-auto pl-8 pr-8">
    <h1 class="font-4xl md:font-hero font-thin md:mt-10 mb-8">{{ self.page_title() }}</h1>
    <p class="font-lg md:font-xl tracking-wide leading-relaxed max-w-4xl mb-10 mt-0">
      {{ self.page_desc() }}
    </p>
  </section>
  {% if channel != 'alpha' %}{# Earlybird release notes are not available yet #}
    <nav class="text-left text-white flex justify-center mx-auto bg-black-25 rounded mb-10">
      <ul class="list-none p-0 flex flex-wrap justify-around flex-1 m-0">
        <li class="ml-2 mr-2">
          <a href="{{ thunderbird_url('system-requirements', channel) }}" class="btn-link">{{ _('Check the system requirements') }}</a>
        </li>
        <li class="ml-2 mr-2">
          <a href="{{ thunderbird_url('releasenotes', channel) }}" class="btn-link">{{ _('Release notes') }}</a>
        </li>
        <li class="ml-2 mr-2">
          <a href="{{ url('thunderbird.releases.index') }}" class="btn-link">{{ _('All Releases') }}</a>
        </li>
      </ul>
    </nav>
  {% endif %}
{% endblock %}

{% block content %}

  <section class="pt-10 flex flex-wrap max-w-6xl mx-auto">
    <aside class="flex flex-col w-full pr-8 pl-8 mb-6">
      <h3 class="header-section">
        <span>{{ svg('dictionaries') }}</span>
        <aside class="flex flex-col">
          {{ _('Fully localized versions')}}
          <small class="font-normal font-md tracking-normal normal-case">
            {{ _('Choose your Language and Operating System') }}
          </small>
        </aside>
      </h3>
    </aside>
  </section>

  <section class="pt-10 pb-20 w-full bg-calendar">
    <section class="flex justify-between items-center w-full max-w-6xl mx-auto mb-10">
      <ul class="list-none p-0 flex flex-wrap justify-center flex-1 m-0 bg-grey-light rounded mr-8 ml-8">
        {% set letter = namespace(first='') %}
        {% for build in full_builds -%}
          {% if letter.first != build.name_en[:1] %}
            {% set letter.first = build.name_en[:1] %}
            <li>
              <a href="#{{ letter.first }}" class="btn-link text-blue-dark">
                {{ letter.first }}
              </a>
            </li>
          {% endif %}
        {% endfor -%}
      </ul>
    </section>
  </section>

  <section id="all-downloads" class="pb-10 w-full bg-grey-lighter" data-thunderbird-version="{{ latest_thunderbird_version }}">
    <section class="flex max-w-6xl mx-auto pl-8 pr-8">
      <aside class="flex flex-col w-full pr-8 pl-8">
        {{ build_table(platforms, full_builds) }}
      </aside>
    </section>
  </section>

  {% include '_includes/site-prefooter.html' %}
{% endblock %}
