{# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% set active_page = "128-appeal" %}
{% extends "includes/base/base.html" %}

{% block base_css %}<link href="/media/css/appeal/spring24.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block page_title %}{{ _('Thank you for choosing Thunderbird!') }}{% endblock %}

{% block site_header_unwrapped %}
<div class="clouds-bg">
  <div class="left"></div>
  <div class="right"></div>
</div>
{% endblock %}

{% block site_header %}
<div id="initAppeal" >
  <aside>
    <h1 id="appeal-heading" class="accent-text" aria-label="{{ _('Thank you for choosing Thunderbird!') }}">
      {{ _('Thank you for choosing <span>Thunderbird!</span>') }}
    </h1>
    <p>
      {{ _('Thunderbird is proud to be funded by our community, not by selling personal data or showing ads in your inbox.')}}
    </p>
  </aside>
  <aside id="illustration" aria-hidden="true">
    <div id="ill-body">
      {{ svg('appeal/spring24/ill-body2') }}
    </div>
    <div id="ill-hearts">
      {{ svg('appeal/spring24/ill-hearts') }}
    </div>
  </aside>
</div>
{% endblock %}

{% block content %}
<section id="appeal-body" class="letter-container font-xl">
    <a href="{{ donate_url(content='cta', campaign='128_appeal', source='thunderbird-client') }}" class="donate-banner" data-donate-btn>
      <div id="donate-banner-left">
        {{ _('Click here to <b>Donate!</b>') }}
      </div>
      <div id="decoration">
        <div id="pill-1" class="pill"></div>
        <div id="pill-2" class="pill"></div>
        <div id="pill-3" class="pill"></div>
        <div id="pill-4" class="pill"></div>
        <div id="pill-5" class="pill"></div>
        <div id="pill-6" class="pill"></div>
        <div id="pill-7" class="pill"></div>
        <div id="pill-8" class="pill"></div>
        <div id="pill-9" class="pill"></div>
        <div id="pill-10" class="pill"></div>
      </div>
      <div id="donate-banner-right" class="text-right accent-text self-end">
        {{ _('Help keep <b>Thunderbird Alive!</b>') }}
      </div>
      <div id="hover-hearts">
        <div id="hover-heart-1">{{ svg('donate-heart') }}</div>
        <div id="hover-heart-2">{{ svg('donate-heart') }}</div>
        <div id="hover-heart-3">{{ svg('donate-heart') }}</div>
      </div>
    </a>
    <p>
      {{ _('Thunderbird’s mission is to give you the best privacy-respecting, customizable communication experience possible. Free for everyone to install and enjoy!')}}
    </p>
    <p>
      {{ _('Maintaining expensive servers, fixing bugs, developing new features, and hiring talented engineers are crucial for this mission.')}}
    </p>
    <p>
      {{ _('Your support is vital in keeping Thunderbird development alive and thriving. If you get value from using Thunderbird, please consider giving a donation to support it.')}}
    </p>
    <div class="heart-container">
      <div class="left-lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div aria-hidden="true" class="heart-svg">{{ svg('donate-heart') }}</div>
      <div class="right-lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
    <p class="closing-text">
      {{ _('The Thunderbird Team') }}
    </p>
</section>
{% endblock %}
{% block site_footer%}
  {% include 'includes/donation-includes.html' %}
  <footer id="footer" class="container footer">
    {% include 'includes/appeal-footer.html' %}
  </footer>
{% endblock site_footer %}
