{# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% set active_page = "appeal-apr26" %}

{# For donation url generation -- variants override utm_content and donation_base_url #}
{% set fru_form_id = fru_form_id|default('apr26') %}
{% set utm_content = utm_content|default('apr26-c') %}
{% set utm_campaign = utm_campaign|default('apr26_appeal') %}
{% set utm_source = utm_source|default('in_app') %}
{% set donation_base_url = donation_base_url|default(url('updates.140.appeal.apr26-1c.donate')) %}
{% set disable_donation_blocked_notice = disable_donation_blocked_notice|default(True) %}

{% extends "includes/base/base.html" %}
{% from 'includes/macros/donate-button.html' import donate_button with context %}

{% block base_css %}
<link href="{{ static('css/appeal-apr26-style.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block page_title %}{{ _('Thunderbird works for YOU (not advertisers)') }}{% endblock %}

{% block content %}
<section id="appeal-body">
  <div id="appeal-header">
    <header>
      {% block appeal_headline %}
      <h1 id="appeal-heading" aria-label="{{ _('Thunderbird works for YOU (not advertisers)') }}">
        {{ _('THUNDERBIRD<br> works for YOU <span>(not advertisers)</span>') }}
      </h1>
      {% endblock %}
    </header>
    <aside id="illustration" aria-hidden="true">
      <div id="roc">
        {{ high_res_img('thunderbird/appeal/apr26/forest-roc.png', {'alt': ''}, alt_formats=('webp', 'avif')) }}
      </div>
    </aside>
  </div>

  <div id="appeal-letter" class="letter-container font-xl">
    <section id="donate-button-container">
      {{ donate_button(form_id=fru_form_id, campaign=utm_campaign, source=utm_source, content=utm_content,
      base_url=donation_base_url, disable_donation_blocked_notice=disable_donation_blocked_notice) }}
    </section>
    <div id="letter-contents">
      {% block appeal_body %}
      <p>
        {{ _('In a world where other email apps show you ads, collect and sell your data and turn you into the product - Thunderbird keeps you in control') }}
      </p>
      <p>
        <strong>{{ _('Thunderbird is funded entirely by your donations.') }}</strong>
        {{ _('Will you help support it?') }}
      </p>
      {% endblock %}
      <div class="heart-container">
        <div class="left-lines">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div aria-hidden="true" class="heart-svg">{{ svg('donate-heart') }}</div>
        <div class="right-lines">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
      <p class="closing-text">{{ _('The Thunderbird Team') }}</p>
    </div>
  </div>
</section>
{% endblock %}

{% block site_footer %}
  <div id="footer-wrapper">
    {% include 'includes/base/moz-footer.html' %}
  </div>
{% endblock %}