{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "_includes/base-resp.html" %}

{% block page_title %}{{ _('New in Thunderbird 91') }}{% endblock %}

{% block header_content %}
  <section class="text-left text-white flex justify-between pl-8 pr-8 md:pl-16 md:pr-16">
    <aside class="flex-col items-start">
      <h1 class="font-4xl md:font-hero font-thin md:mt-10 mb-8">{{ self.page_title() }}</h1>
      <p class="font-lg md:font-xl tracking-wide leading-relaxed max-w-4xl lg:mb-16 mb-8 mt-0 p-links">
        {{ _('This article describes some of the major changes visible to users in Thunderbird version 91. Full details of all the changes can be found in the <a href="%(release)s">Thunderbird release notes from 91.0 and up</a>.')|format(release=url('thunderbird.releases.index')) }}
      </p>
      <p class="max-w-lg tracking-wider leading-loose mb-6 mt-0">
        {{ _('Thunderbird is both free and freedom respecting, but we’re also completely funded by donations! Help us sustain the project and continue to improve.') }}
      </p>

      <div class="flex mb-20">
        <a href="{{ donate_url('home_page_body') }}" class="btn-donate btn-donate-whatsnew font-lg">
          <span class="inline-block w-4 mr-1">{{ svg('heart') }}</span> {{_('Donate')}}
        </a>
      </div>
    </aside>
    <aside class="xl:flex hidden xl:ml-8">
      <img class="w-full h-auto mb-10 max-w-2xl self-center shadow-img" src="{{ static('/media/img/thunderbird/whatsnew/91/91-header.png') }}" alt="Screenshot of Thunderbird's new system dark mode.">
    </aside>

  </section>
{% endblock %}

{% block content %}
  <!-- Account setup -->
  <section class="pt-20 pb-20 flex justify-center">
    <div class="flex lg:flex-row flex-col flex-col-reverse flex-1 max-w-6xl ml-16 mr-16">
      <aside class="flex-1 lg:mr-8">
        <img class="w-full h-auto max-w-2xl self-center shadow-img" src="{{ static('/media/img/thunderbird/whatsnew/91/91-account-creation.png') }}" alt="Screenshot of Thunderbird's new account setup wizard.">
      </aside>
      <aside class="flex-col flex-1 items-start">
        <h3 class="header-section">
          <span>{{ svg('envelope') }}</span>
          {{ _('New Account Setup')}}
        </h3>
        <p class="font-lg tracking-wider leading-loose mb-10">
          {{ _('One of the most noticeable changes for Thunderbird 91 is the new account setup wizard. The new wizard not only features a better look, but does auto-discovery of calendars and address books and allows most users to set them up with just a click. After setting up an account, the wizard also points users at additional (optional) things to do – such as adding a signature or setting up end-to-end encryption.') }}
        </p>
      </aside>
    </div>
  </section>

  <!-- Attachment overlay -->
  <section class="pt-20 pb-20 flex justify-center bg-grey-lighter">
    <div class="flex lg:flex-row flex-col flex-1 max-w-6xl ml-16 mr-16">
      <aside class="flex-col flex-1 items-start">
        <h3 class="header-section">
          <span>{{ svg('link') }}</span>
          {{ _('Attachments & Drag-and-Drop')}}
        </h3>
        <p class="font-lg tracking-wider leading-loose mb-10">
          {{ _('The attachments pane has been moved to the bottom of the compose window for better visibility of filenames as well as being able to see many at once. We’ve also added an overlay that appears when you drag-and-drop a file into the compose window asking how you would like to handle the file in that email (such as putting a picture in-line in your message or simply attaching it to the email).') }}
        </p>
      </aside>
      <aside class="flex-1 lg:ml-8">
        <img class="w-full h-auto max-w-2xl self-center shadow-img" src="{{ static('/media/img/thunderbird/whatsnew/91/thunderbird-91-attachment-overlay.gif') }}" alt="Screenshot of Thunderbird's new attachment overlay.">
      </aside>
    </div>
  </section>

  <!-- UI desnity -->
  <section class="pt-20 pb-20 flex justify-center">
    <div class="flex lg:flex-row flex-col flex-col-reverse flex-1 max-w-6xl ml-16 mr-16">
      <aside class="flex-1 lg:mr-8">
        <img class="w-full h-auto max-w-2xl self-center shadow-img" src="{{ static('/media/img/thunderbird/whatsnew/91/UI-Density-Control.png') }}" alt="Screenshot of the new UI density options in Thunderbird.">
      </aside>
      <aside class="flex-col flex-1 items-start">
        <h3 class="header-section">
          <span>{{ svg('settings') }}</span>
          {{ _('UI Density Control')}}
        </h3>
        <p class="font-lg tracking-wider leading-loose mb-10">
          {{ _('Whether you are using it on a large desktop monitor or a small laptop touchscreen, you may want the icons and text of the interface to be larger and more spread out or very compact. In Thunderbird 91, under View -> Density in the menu, you can select the UI density for the entire application. Three options are available: compact (small), normal(medium), and touch(large).') }}
        </p>
      </aside>
    </div>
  </section>

  {% if not LANG.startswith('zh') %}
  <!-- Mozilla VPN banner -->
  <section class="pt-20 pb-20 flex justify-center bg-grey-light">
    <div class="flex items-center lg:flex-row flex-col flex-col-reverse flex-1 max-w-6xl ml-16 mr-16">
      <aside class="lg:mr-8">
        <img class="w-full h-auto max-w-md self-center" src="{{ static('/media/img/thunderbird/whatsnew/91/vpn_one_tap.svg') }}" alt="Mozilla VPN vector graphic">
      </aside>
      <aside class="flex-col flex-1 items-start">
        <h3 class="header-section text-green-light">
          <span class="green">{{ svg('accessibility') }}</span>
          {{ _('Protect Your Privacy')}}
        </h3>
        <p class="font-lg tracking-wider leading-loose mb-10">
          {{ _('Whether its work or play, you deserve to have privacy when you are online. A VPN, Virtual Private Network, can help you create a secure, private connection to the internet. So that when you are traveling, connecting to WiFi, or simply want more online security - you know that your information is protected from prying eyes.') }}
        </p>
        <a href="https://www.mozilla.org/products/vpn/?utm_source=thunderbird&utm_medium=tbwnp&utm_campaign=2021" class="btn-body self-start" target="_blank">
          {{_('Learn More')}} <span>{{ svg('chevron-right') }}</span>
        </a>
      </aside>
    </div>
  </section>
  {% endif %}

  <!-- Calendar sidebar -->
  <section class="pt-20 pb-20 flex justify-center">
    <div class="flex lg:flex-row flex-col flex-col-reverse flex-1 max-w-6xl ml-16 mr-16">
      <aside class="flex-1 lg:mr-8">
        <img class="w-full h-auto max-w-2xl self-center shadow-img" src="{{ static('/media/img/thunderbird/whatsnew/91/thunderbird-91-calendar-sidebar.gif') }}" alt="Screenshot of the new options in the Thunderbird calendar sidebar.">
      </aside>
      <aside class="flex-col flex-1 items-start">
        <h3 class="header-section">
          <span>{{ svg('calendar') }}</span>
          {{ _('Calendar Sidebar')}}
        </h3>
        <p class="font-lg tracking-wider leading-loose mb-10">
          {{ _('Managing multiple calendars has been made easier with the calendar sidebar improvements in this release. There is a quick enable button for disabled calendars, as well as a show/hide icon for easily toggling what calendars are visible. There is also a lock indicator for read-only calendars. Additionally, although not a sidebar improvement, there are now better color accents to highlight the current day in the calendar.') }}
        </p>
      </aside>
    </div>
  </section>

  <!-- Attachment overlay -->
  <section class="pt-20 pb-20 flex justify-center bg-grey-lighter">
    <div class="flex lg:flex-row flex-col flex-1 max-w-6xl ml-16 mr-16">
      <aside class="flex-col flex-1 items-start">
        <h3 class="header-section">
          <span>{{ svg('customize') }}</span>
          {{ _('Better Dark Theme')}}
        </h3>
        <p class="font-lg tracking-wider leading-loose mb-10">
          {{ _('Thunderbird’s Dark Theme got even better in this release. In the past some windows and dialogues looked a bit out of place if you had Thunderbird’s dark theme selected. Now almost every dialogue and window in Thunderbird is fully styled to respect the user’s color scheme preferences.') }}
        </p>
      </aside>
      <aside class="flex-1 lg:ml-8">
        <img class="w-full h-auto max-w-2xl self-center shadow-img" src="{{ static('/media/img/thunderbird/whatsnew/91/dark-theme-91.png') }}" alt="Screenshot showing the new dark theme in Thunderbird.">
      </aside>
    </div>
  </section>

  <section class="pt-20 pb-20 flex justify-center">
    <div class="flex lg:flex-row flex-col flex-col-reverse flex-1 max-w-6xl ml-16 mr-16">
      <aside class="flex-1 lg:mr-8">
        <img class="w-full h-auto max-w-2xl self-center shadow-img" src="{{ static('/media/img/thunderbird/whatsnew/91/pdf-viewer-91.png') }}" alt="Screenshot of new PDF viewer in Thunderbird.">
      </aside>
      <aside class="flex-col flex-1 items-start">
        <h3 class="header-section">
          <span>{{ svg('popular') }}</span>
          {{ _('PDF Viewer')}}
        </h3>
        <p class="font-lg tracking-wider leading-loose mb-10">
          {{ _('Thunderbird now has a built-in PDF viewer, which means you can read and even do some editing on PDFs sent to you as attachments. You can do all this without ever leaving Thunderbird, allowing you to return to your inbox without missing a beat.') }}
        </p>
      </aside>
    </div>
  </section>

  <section class="pt-20 flex justify-center bg-calendar pr-8 pl-8">
    <aside class="flex flex-col flex-1 lg:max-w-6xl lg:ml-16 lg:mr-16">
      <h3 class="header-section">
        <span>{{ svg('news') }}</span>
        {{ _('Other Notable Changes')}}
      </h3>
      <p class="font-lg tracking-wider leading-loose mb-6">
        {{ _('There are many other big changes that make Thunderbird 91 a very large release including:') }}
      </p>
      <ul class="font-md tracking-wider leading-loose mb-6 p-links-blue">
        <li>{{ _('Native support for macOS devices built with Apple Silicon CPU') }}</li>
        <li>{{ _('CardDAV Address Book Support (and CardDAV auto-detection support)') }}</li>
        <li>{{ _('Printing UI updated') }}</li>
        <li>{{ _('Ability to change order of accounts in UI') }}</li>
        <li>{{ _('Support opening of .ics files by double-click in calendar') }}</li>
      </ul>
      <p class="font-lg tracking-wider leading-loose mb-10 p-links-blue">
        {{ _('You can see details of all our changes in the release notes for <a href="%(release)s">Thunderbird 91.0 and up</a>.')|format(release=url('thunderbird.releases.index')) }}
      </p>
    </aside>
  </section>

  <section class="bg-prefooter bg-grey-lighter -mb-10">
    {% include '_includes/donate-mailing-list.html' %}
  </section>

{% endblock %}
