{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "_includes/base-resp.html" %}

{% block page_title_prefix %}{{_('Thunderbird')}} — {% endblock %}
{% block page_title %}{{ _('Software made to make email easier') }}{% endblock %}
{% block page_desc %}{{ _('Thunderbird is a free email application that’s easy to set up and customize - and it’s loaded with great features!') }}{% endblock %}

{% block page_css %}{% endblock %}

{% block header_content %}
  <section class="text-center text-white flex flex-col items-center mb-12">
    <h1 class="font-hero font-thin mt-10 mb-8">{{ self.page_title() }}</h1>
    <p class="font-xl tracking-wide leading-relaxed max-w-xl mb-16">{{ self.page_desc() }}</p>
    <div class="download-button-wrapper">
      {{ download_thunderbird(force_direct=true, alt_copy=_('Free Download')) }}
    </div>
  </section>
  <section class="flex max-w-5xl self-center">
    {{ platform_img('thunderbird/landing/screenshot.png', {'alt': _('Thunderbird screenshot'), 'high-res': True, 'l10n': True, 'platforms': ('windows', 'linux', 'mac')}) }}
  </section>
{% endblock %}

{% block content %}

  <section class="mt-20 mb-20 flex max-w-6xl mx-auto justify-between pl-8 pr-8">
    <aside class="flex flex-col flex-1 max-w-sm">
      <h3 class="header-section">
        <span>{{ svg('customize') }}</span>{{ _('Tailored for all your needs')}}
      </h3>
      <p class="font-lg tracking-wider leading-loose mb-10 flex-1">
        {{ _('Thunderbird makes email better for you, bringing together speed, privacy and the latest technologies. Focus on what matters and forget about complexity.') }}
      </p>
      <a href="{{ url('thunderbird.features') }}" class="btn-body self-start">{{_('Explore all Features')}}
        <span>{{ svg('chevron-right') }}</span>
      </a>
    </aside>

    <aside class="flex flex-col flex-1 max-w-sm ml-16 mr-16">
      <h3 class="header-section">
        <span>{{ svg('lock') }}</span>{{ _('Secure &amp; Private')}}
      </h3>
      <p class="font-lg tracking-wider leading-loose mb-10 flex-1">
        {{ _('Multiple features, such as built-in Do Not Track and remote content blocking, work together to ensure your safety and privacy, so you can have peace of mind.') }}
      </p>
      <a href="{{ url('thunderbird.features') }}" class="btn-body self-start">{{_('Know your rights')}}
        <span>{{ svg('chevron-right') }}</span>
      </a>
    </aside>

    <aside class="flex flex-col flex-1 max-w-sm">
      <h3 class="header-section">
        <span>{{ svg('puzzle') }}</span>{{ _('Fully Customizable')}}
      </h3>
      <p class="font-lg tracking-wider leading-loose mb-10 flex-1">
        {{ _('With Extensions, Personas, lightweight "skins”, and many more features you can change the look and feel of Thunderbird in an instant.') }}
      </p>
      <a href="{{ url('thunderbird.features') }}" class="btn-body self-start">{{_('Make it personal')}}
        <span>{{ svg('chevron-right') }}</span>
      </a>
    </aside>
  </section>

  <section class="pt-20 pb-20 flex flex-col items-center bg-body">
    <h3 class="header-section">{{ _('Stay in the loop')}}</h3>
    <p class="font-lg tracking-wider leading-loose mb-16 mt-0 max-w-xl text-center">
      {{ _('Keep yourself up to date with recent announcements and releases by following the official Thunderbird Blog!') }}
    </p>

    <section class="flex w-full max-w-6xl mx-auto justify-between pl-8 pr-8 mb-12 leading-relaxed">
      <article class="flex flex-col p-4 flex-1 max-w-sm bg-white rounded shadow-lg">
        <h4 class="mt-0 mb-4 uppercase text-blue font-md">
          All Thunderbird bugs have been fixed!
        </h4>
        <p class="mt-0 mb-6 flex-1">
          April Fools! We still have open bugs, but we'd like your help to close them!
        </p>
        <footer class="flex justify-between items-center pt-4 border-grey-light border-solid border-0 border-t uppercase text-blue-dark font-bold tracking-tight">
          <span>Apr 1, 2019</span>
          <span>Comments 0</span>
        </footer>
      </article>

      <article class="flex flex-col p-4 flex-1 max-w-sm bg-white rounded shadow-lg ml-16 mr-16">
        <h4 class="mt-0 mb-4 uppercase text-blue font-md">
          FOSDEM 2019 and DeltaChat
        </h4>
        <p class="mt-0 mb-6 flex-1">
          During the last month we attended two events: FOSDEM, Europe's premier free software event, and a meetup with the folks behind DeltaChat.
        </p>
        <footer
          class="flex justify-between items-center pt-4 border-grey-light border-solid border-0 border-t uppercase text-blue-dark font-bold tracking-tight">
          <span>Mar 7, 2019</span>
        </footer>
      </article>

      <article class="flex flex-col p-4 flex-1 max-w-sm bg-white rounded shadow-lg">
        <h4 class="mt-0 mb-4 uppercase text-blue font-md">
          Thunderbird in 2019
        </h4>
        <p class="mt-0 mb-6 flex-1">
          Welcome to 2019! In this blog post we’ll look at what we accomplished in 2018 and look forward to what we're going to be working on this year.
        </p>
        <footer
          class="flex justify-between items-center pt-4 border-grey-light border-solid border-0 border-t uppercase text-blue-dark font-bold tracking-tight">
          <span>Jan 2, 2019</span>
          <span>Comments 114</span>
        </footer>
      </article>
    </section>

    <a href="{{ url('blog') }}" class="btn-body">{{_('Read the Blog')}}
      <span>{{ svg('chevron-right') }}</span>
    </a>
  </section>

  <div itemscope itemtype="http://schema.org/SoftwareApplication">
    <meta itemprop="name" content="{{_('Thunderbird')}}">
    <meta itemprop="description" content="{% block product_desc %}{{ self.page_desc() }}{% endblock %}">
    <meta itemprop="url" content="https://www.thunderbird.net">
    <meta itemprop="image" content="{% block product_logo %}{{ static('img/thunderbird/thunderbird-256.png') }}{% endblock %}">
    <div itemprop="author" itemscope itemtype="http://schema.org/Organization">
      <meta itemprop="name" content="{{_('Mozilla')}}">
    </div>
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <meta itemprop="price" content="0">
    </div>
    <meta itemprop="softwareVersion" content="{{ latest_thunderbird_version }}">
    <meta itemprop="releaseNotes" content="{{ settings.CANONICAL_URL }}/thunderbird/{{ latest_thunderbird_version }}/releasenotes/">
    <meta itemprop="applicationCategory" content="CommunicationApplication">
    <meta itemprop="operatingSystem" content="Windows">
    <meta itemprop="operatingSystem" content="Mac">
    <meta itemprop="operatingSystem" content="Linux">
  </div>

  <div itemscope itemtype="http://schema.org/Product">
    <meta itemprop="name" content="{{_('Thunderbird')}}">
    <meta itemprop="description" content="{{ self.product_desc() }}">
    <meta itemprop="url" content="{{ settings.CANONICAL_URL }}/thunderbird/">
    <meta itemprop="image" content="{{ self.product_logo() }}">
    <meta itemprop="logo" content="{{ self.product_logo() }}">
    <div itemprop="manufacturer" itemscope itemtype="http://schema.org/Organization">
      <meta itemprop="name" content="{{_('Mozilla')}}">
    </div>
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <meta itemprop="price" content="0">
    </div>
  </div>

{% endblock %}

{% block email_form %}{% endblock %}
