{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% set active_page = "index" %}
{% extends "_includes/base-resp.html" %}

{% block page_title_prefix %}{{_('Thunderbird')}} — {% endblock %}
{% block page_title %}{{ _('Make Email Easier.') }}{% endblock %}
{% block page_desc %}{{ _('Thunderbird is a free email application that’s easy to set up and customize - and it’s loaded with great features!') }}{% endblock %}

{% block header_content %}
  <section class="text-center text-white flex flex-col items-center mb-12 pr-4 pl-4">
    <h1 class="font-4xl md:font-hero font-thin md:mt-10 mb-8">{{ self.page_title() }}</h1>
    <p class="font-lg md:font-xl tracking-wide leading-relaxed max-w-xl mb-8 md:mb-16">{{ self.page_desc() }}</p>
    <div class="tracking-wider">
      {{ download_thunderbird(force_direct=true, alt_copy=_('Free Download')) }}
    </div>
  </section>
  <section class="hidden md:flex max-w-5xl self-center">
    {{ platform_img('thunderbird/landing/screenshot.png', {'alt': _('Thunderbird screenshot'), 'high-res': True, 'l10n': True, 'platforms': ('windows', 'linux', 'mac')}) }}
  </section>
{% endblock %}

{% block content %}
  <section class="mt-20 mb-20 flex flex-col lg:flex-row max-w-6xl mx-auto justify-between pl-8 pr-8">
    <aside class="flex flex-col flex-1 mb-20 lg:mb-0 lg:max-w-sm">
      <h3 class="header-section">
        <span>{{ svg('customize') }}</span>{{ _('Tailored for all your needs')}}
      </h3>
      <p class="font-lg tracking-wider leading-loose mb-10 flex-1">
        {{ _('Thunderbird makes email better for you, bringing together speed, privacy and the latest technologies. Focus on what matters and forget about complexity.') }}
      </p>
      <a href="{{ url('thunderbird.features') }}" class="btn-body self-start">{{_('Explore all Features')}}
        <span>{{ svg('chevron-right') }}</span>
      </a>
    </aside>

    <aside class="flex flex-col flex-1 mb-20 lg:mb-0 lg:max-w-sm lg:ml-16 lg:mr-16">
      <h3 class="header-section">
        <span>{{ svg('lock') }}</span>{{ _('Secure &amp; Private')}}
      </h3>
      <p class="font-lg tracking-wider leading-loose mb-10 flex-1">
        {{ _('Multiple features, such as built-in Do Not Track and remote content blocking, work together to ensure your safety and privacy, so you can have peace of mind.') }}
      </p>
      <a href="{{ url('thunderbird.features') }}#secureprotect" class="btn-body self-start">{{_('Know your rights')}}
        <span>{{ svg('chevron-right') }}</span>
      </a>
    </aside>

    <aside class="flex flex-col flex-1 lg:max-w-sm">
      <h3 class="header-section">
        <span>{{ svg('puzzle') }}</span>{{ _('Highly Customizable')}}
      </h3>
      <p class="font-lg tracking-wider leading-loose mb-10 flex-1">
        {{ _('With Add-ons (Extensions & Themes) and many more features you can change the look and feel of Thunderbird in an instant.') }}
      </p>
      <a href="{{ url('thunderbird.features') }}#customize-email" class="btn-body self-start">{{_('Make it personal')}}
        <span>{{ svg('chevron-right') }}</span>
      </a>
    </aside>
  </section>

  <section class="bg-body">
    <section class="pt-10 pb-10 lg:pt-20 lg:pb-20 flex flex-col items-center">
      <h3 class="header-section pr-4 pl-4">
        <a id="blog" class="anchor" aria-hidden="true" href="#blog">
          {{ svg('link') }}
        </a>
        {{ _('Stay in the loop')}}
      </h3>
      <p class="font-lg tracking-wider leading-loose mb-16 mt-0 max-w-xl text-center pr-4 pl-4">
        {{ _('Keep yourself up to date with recent announcements and releases by following the official Thunderbird Blog!') }}
      </p>

      {% if LANG.startswith('en-') %}
        <section class="flex flex-col lg:flex-row max-w-6xl mx-auto justify-between pl-8 pr-8 mb-12 leading-relaxed">

          {% for x in range(3): %}
            <article class="flex flex-col p-4 flex-1 lg:max-w-sm bg-white rounded shadow-lg{% if x != 2 %} mb-10 lg:mb-0{% endif %}{% if x == 1 %} lg:ml-16 lg:mr-16{% endif %}">
              <a class="blog-link" href="{{ get_blog_data(x)['link'] }}" title="Continue Reading {{ get_blog_data(x)['title'] }}">
                {{ get_blog_data(x)['title'] }}
              </a>
              <p class="blog-body">
                {{ get_blog_data(x)['summary'] }}
              </p>
              <footer class="flex justify-between items-center pt-4 border-grey-light border-solid border-0 border-t uppercase text-blue-dark font-bold tracking-tight">
                <span>{{ get_blog_data(x)['date'] }}</span>
                <span>COMMENTS {{ get_blog_data(x)['comments'] }}</span>
              </footer>
            </article>
          {% endfor %}

        </section>
      {% endif %}

      <a href="{{ url('blog') }}" class="btn-body mb-10">{{_('Read the Blog')}}
        <span>{{ svg('chevron-right') }}</span>
      </a>
    </section>
  </section>

  {% include '_includes/donate-mailing-list.html' %}

  <section class="pt-20 pb-10 flex bg-calendar lg:pr-20">
    <section class="flex justify-between mx-auto">
      <aside class="hidden lg:flex flex-1 -ml-20">
        {{ platform_img('thunderbird/calendar/screenshot.png', {'alt': _('Lightning Calendar screenshot'), 'high-res': True, 'l10n': True, 'platforms': ('windows', 'linux', 'mac')}) }}
      </aside>

      <aside class="flex flex-col flex-1 lg:max-w-md mr-8 ml-8 lg:ml-16 lg:mr-16 lg:pt-12">
        <h3 class="header-section">
          <span>{{ svg('calendar') }}</span>
          <aside class="flex flex-col">
            {{ _('Lightning Calendar')}}
            <small class="font-normal font-md tracking-normal normal-case">
              {{ _('Organize your life — it’s about time!') }}
            </small>
          </aside>
        </h3>
        <p class="font-lg tracking-wider leading-loose mb-6">
          {{ _('Organize your schedule and life’s important events in a calendar that’s fully integrated with your Thunderbird email.') }}
        </p>
        <p class="font-lg tracking-wider leading-loose mb-10">
          {{ _('Manage multiple calendars, create your daily to do list, invite friends to events, and subscribe to public calendars.') }}
        </p>
        <p class="flex justify-start">
          <a href="{{ url('calendar') }}" class="btn-body">{{_('Explore Features')}}
            <span>{{ svg('chevron-right') }}</span>
          </a>
          <a href="https://addons.thunderbird.net" class="btn-body btn-secondary ml-4">{{_('Explore More Add-ons')}}
            <span>{{ svg('chevron-right') }}</span>
          </a>
        </p>
      </aside>
    </section>
  </section>

  {% include '_includes/site-prefooter.html' %}

  <div itemscope itemtype="http://schema.org/SoftwareApplication">
    <meta itemprop="name" content="{{_('Thunderbird')}}">
    <meta itemprop="description" content="{% block product_desc %}{{ self.page_desc() }}{% endblock %}">
    <meta itemprop="url" content="https://www.thunderbird.net">
    <meta itemprop="image" content="{% block product_logo %}{{ static('img/thunderbird/thunderbird-256.png') }}{% endblock %}">
    <div itemprop="author" itemscope itemtype="http://schema.org/Organization">
      <meta itemprop="name" content="{{_('Mozilla')}}">
    </div>
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <meta itemprop="price" content="0">
    </div>
    <meta itemprop="softwareVersion" content="{{ latest_thunderbird_version }}">
    <meta itemprop="releaseNotes" content="{{ settings.CANONICAL_URL }}/thunderbird/{{ latest_thunderbird_version }}/releasenotes/">
    <meta itemprop="applicationCategory" content="CommunicationApplication">
    <meta itemprop="operatingSystem" content="Windows">
    <meta itemprop="operatingSystem" content="Mac">
    <meta itemprop="operatingSystem" content="Linux">
  </div>

  <div itemscope itemtype="http://schema.org/Product">
    <meta itemprop="name" content="{{_('Thunderbird')}}">
    <meta itemprop="description" content="{{ self.product_desc() }}">
    <meta itemprop="url" content="{{ settings.CANONICAL_URL }}/thunderbird/">
    <meta itemprop="image" content="{{ self.product_logo() }}">
    <meta itemprop="logo" content="{{ self.product_logo() }}">
    <div itemprop="manufacturer" itemscope itemtype="http://schema.org/Organization">
      <meta itemprop="name" content="{{_('Mozilla')}}">
    </div>
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <meta itemprop="price" content="0">
    </div>
  </div>
{% endblock %}
