// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

.modal {
    width: 100%;
    z-index: 3; /* places the modal dialog on top of everything else */
    top: calc(50% - 250px);
    margin: 0 auto;
    left: 0;
    right: 0;
    display: none;

    #close-modal {
        z-index: 1;
        top: 0;
        right: 0;
        cursor: pointer;

        svg {
            height: 20px;
            width: 20px;
            stroke-width: 2.5;
            stroke: #bebebe;
            fill: none;
            stroke-linecap: round;
            stroke-linejoin: round;
        }
        &:hover svg {
            stroke: #000;
        }
    }

    form {
        .description {
            font-size: 1.25em;
            padding: 0 1.5rem 1rem 1.5rem;
            line-height: 1.5em;
        }
        .amount {
            background: #f8f8f8;
            padding: 1rem 1.5rem;

            select {
                &:extend(.inline-block, .w-24, .bg-white, .p-1);
                border: 1px solid #ccc;
            }

            .amount-selection {
                label {
                    height: 34px;
                    max-width: 205px;
                    box-sizing: border-box;
                    cursor: pointer;
                    padding: .33rem .75rem;
                    border: 1px solid;
                    border-color: #ccc;
                    background: #fff;
                    font-size: 1.5em;
                    font-weight: 700;
                    &:hover {
                        border-color: #2795fb;
                    }
                    &:last-child {
                        padding-top: 0;
                        padding-bottom: 0;
                        padding-right: 0;
                        background: #f6f6f6;
                        #amount-other {
                            width: 100%;
                            min-width: 100px;
                            height: 100%;
                            box-sizing: border-box;
                            border: none;
                            border-left: 1px solid #ccc;
                            font-size: 1rem;
                            padding-left: .5rem;
                        }
                    }
                    &.active {
                        border-color: #2795fb;
                        background-color: #e4eff9;
                        box-shadow: none;
                    }
                }
            }
        }
    }

    footer {
        margin: 0 auto;
        ul > li:not(:last-child)::after {
            content: '•';
            margin-left: .75rem;
            color: #d2d2d2;
            &:extend(.font-regular);
            line-height: 6px;
        }
    }
}

#modal-overlay {
    width: 100%;
    height: 100%;
    z-index: 2; /* Between the main page and the modal dialog */
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    margin: 0;
    padding: 0;
}
