// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

.modal {
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    #close-modal {
        cursor: pointer;

        svg {
            stroke: @colors[grey];
        }
        &:hover svg {
            stroke: @colors[black];
        }
    }

    form {
        .amount-selection {
            label {
                &:extend(.h-10, .pt-1, .pl-3, .pb-1, .pr-3, .rounded, .border, .border-solid, .border-grey, .bg-white, .font-xl, .font-bold);
                cursor: pointer;
                box-sizing: border-box;
                &:hover {
                    &:extend(.border-blue);
                }
                &:last-child {
                    &:extend(.pt-0, .pb-0, .pr-0, .bg-grey-lighter, .overflow-hidden);
                    flex-basis: @widths[w-40];
                    #amount-other {
                        &:extend(.w-full, .h-full, .pl-2, .border-0, .border-l, .border-solid, .border-grey, .font-xl);
                        box-sizing: border-box;
                        &::placeholder {
                            &:extend(.font-md);
                        }
                    }

                }
                &.active {
                    &:extend(.border-blue, .bg-blue-25, .shadow-none);
                }
            }
        }
    }

    footer {
        ul > li:not(:last-child)::after {
            content: '•';
            &:extend(.ml-3, .text-grey, .font-regular, .leading-none);
        }
    }
}

// Helper function / constant for our blue
.colour-blue(@alpha) {
    background-color: rgba(0, 128, 255, @alpha);
}

.btn-donate-and-download {
    &:extend(.flex,
    .bg-white,
    .text-green,
    .font-lg,
    .font-semibold,
    .no-underline,
    .inline-block,
    // Help centre the text
    .pb-5,
    .pt-6,
    // Help balance the heart and the text
    .pl-7,
    .pr-8,
    .mr-4,
    .border-green-light,
    .rounded-sm,
    .border,
    .border-solid);

    // Make sure our donate-wave div doesn't render outside of the button
    contain: paint;

    // Remove the animation if they prefer reduced motion
    @media (prefers-reduced-motion) {
        .donate-wave {
            animation: none !important;
        }

        .donate-heart {
            svg {
                animation: none !important;
            }
        }
    }

    /*
    TODO: Look at this later, animations reset and jump very roughly.
    &:hover {
        .donate-wave {
            animation-duration: 1s;
        }

        .donate-heart {
            svg {
                animation-duration: 0.5s;
            }
        }
    }
    */

    .donate-wave {
        position: absolute;
        margin: auto;
        // Not the greatest, but it works
        left: -218px;
        top: -224px;
        width: 512px;
        height: 512px;
        border-radius: 50%;
        // donate-wave should be twice the length of donate-heart animation,
        // since donate-heart bounces back and forth.
        animation: linear 2s heart-wave infinite;
    }

    .donate-heart {
        &:extend(.w-4, .mr-2, .text-blue);
        float: left;

        svg {
            animation: linear 1s alternate heart-bounce infinite;
        }
    }

    &:hover,
    &:focus {
        &:extend(.shadow-md);
        .transform(translateY(-7%));
        .colour-blue(0.25);
    }
}

@keyframes heart-bounce {
    from {
        transform: scale(1.0);
    }
    to {
        transform: scale(1.3);
    }
}

@keyframes heart-wave {
    from {
        transform: scale(0);
    }
    25% {
        transform: scale(0);
        .colour-blue(0.35);
    }
    35% {
        .colour-blue(0.15);
    }
    to {
        transform: scale(200%);
        .colour-blue(0.0);
    }
}