{# Version: 20140429 #}

{% extends "mozorg/home.html" %}

{% l10n home_news %}
  <li class="hentry">
    <h3 class="entry-title">
      <a href="url go" rel="bookmark external" hreflang="en-GB" href="http://blog.mozilla.org/press-uk/2014/04/29/mozilla-introduces-the-most-customisable-firefox-ever-with-an-elegant-new-design-2/">
        Mozilla Introduces the Most Customisable Firefox Ever with an Elegant New Design
      </a>
    </h3>
  </li>
  <li class="hentry">
    <h3 class="entry-title">
      <a href="url go" rel="bookmark external" hreflang="en-GB" href="http://blog.mozilla.org/press-uk/2014/04/29/firefox-for-android-is-more-customisable-than-ever/">
        Firefox for Android is More Customisable Than Ever
      </a>
    </h3>
  </li>
  <li class="hentry">
    <h3 class="entry-title">
      <a href="url go" rel="bookmark external" hreflang="en-GB" href="https://blog.mozilla.org/press-uk/2013/11/21/state-of-mozilla-and-2012-financial-statements/">
        State of Mozilla and 2012 Financial Statements
      </a>
    </h3>
  </li>
{% endl10n %}
