{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "_includes/base-resp.html" %}

{% block page_title %}{{ _('Thunderbird Beta') }}{% endblock %}
{% block header_content %}
  <section class="text-left text-white flex flex-col items-start xl:w-full max-w-6xl mx-auto pl-8 pr-8">
    <h1 class="font-4xl md:font-hero font-thin md:mt-10 mb-8">{{ self.page_title() }}</h1>
  </section>
  <nav role="directory" class="text-left text-white flex justify-center w-full max-w-6xl mx-auto bg-black-25 rounded mb-10">
    <ul class="list-none p-0 flex flex-wrap justify-around flex-1 m-0">
      <li class="ml-2 mr-2">
        <a href="#shouldi" class="btn-link">{{ _('Should I use Beta?') }}</a>
      </li>
      <li class="ml-2 mr-2">
        <a href="#howto" class="btn-link">{{ _('How to install and run Beta') }}</a>
      </li>
      <li class="ml-2 mr-2">
        <a href="#resources" class="btn-link">{{ _('Resources and Assistance') }}</a>
      </li>
      <li class="ml-2 mr-2">
        <a href="#uninstall" class="btn-link">{{ _('How do I go back to the regular release version?') }}</a>
      </li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
  <div class="justify-center flex">
    {{ download_thunderbird(force_direct=true, alt_copy=_('Download Beta'), channel='beta', flex_class='justify-center') }}
  </div>
  <section id="shouldi" class="mt-20 mb-4 flex max-w-6xl mx-auto justify-center items-center pl-8 pr-8">
    <span class="header-line flex-1"></span>
    <h2 class="header-section pl-4 pr-4 mb-0 text-center">{{ _('Should I use Beta?') }}</h2>
    <span class="header-line flex-1"></span>
  </section>

  <section class="font-lg leading-normal pb-5 flex max-w-6xl mx-auto justify-center items-center pl-8 pr-8">
    <aside class="flex flex-col flex-grow mb-4">
      <p class="mb-2 mt-2">
        {{ _('Are you interested in helping improve Thunderbird by testing and finding bugs? Then beta is a good place for you, because beta gets fixes and <a href="https://support.mozilla.org/en-US/kb/new-thunderbird-102">new features</a> long before they reach release. And you will join <a href="https://stats.thunderbird.net/#beta">thousands of users who use beta on a daily basis</a>!') }}
      </p>
      <p class="mb-2 mt-2">
        {{ _('There are also considerations for you to understand before you take the plunge. But if you decide to take the plunge we have many resource and assistance items, and people, to help you. ') }}
      </p>
      <h3 class="mb-4 mt-4">{{ _('Considerations') }}</h3>
      <p class="mb-2 mt-2">
        {{ _('Now is a good time to use beta, because through June 2022 it is more stable than normal, while development is frozen and we touch up version 102’s new features.') }}
      </p>
      <p class="mb-2 mt-2">
        {{ _('You will want to do regular backups to protect your Thunderbird data profiles (profiles are described under How to install and run beta), and consider the following: ') }}
      </p>
      <ul>
        <li>{{ _('New features may be works in progress and incomplete, because some are iteratively improved over a period of weeks. The beta forum may mention how new features are making progress.') }}</li>
        <li>{{ _('Flaws are to be expected. Flaws of potentially high impact including dataloss are very rare, but may occur because of frequent code changes. Protect yourself with backups. Flaws of low impact may not be fixed quickly, because high impact flaws get higher priority.') }}</li>
        <li>{{ _('Expect seven updates per month, one major update per month plus several small updates. This frequency of updates allows us to ship fixes to you quickly.') }}</li>
        <li>{{ _('Are you using pop accounts? Unlike imap accounts, the only copy of your pop mail is in your local Thunderbird profile. So your options when using pop are: a) don’t add your pop account(s) to beta, or b) add your pop account(s) to beta, then either stay there permanently or learn how to move your pop data back to the release profile after you are done with beta.') }}</li>
        <li>{{ _('If you have mail filters that, for example, move mail to local folders, then you must decide where to run filters - in your beta profile or your other profile.') }}</li>
      </ul>
      <h3 class="mb-4 mt-4">{{ _('Add-ons') }}</h3>
      <p>
        {{ _('Add-on authors are not obligated to have their add-ons work in beta. So expect some or all of your add-ons to not work. Or if they do work today, they may not work tomorrow. Consult the add-ons FAQ if you have difficulty. ') }}
      </p>
    </aside>
  </section>

  <section id="howto" class="mt-4 mb-4 flex max-w-6xl mx-auto justify-center items-center pl-8 pr-8">
    <span class="header-line flex-1"></span>
    <h2 class="header-section pl-4 pr-4 mb-0 text-center">{{ _('How to install and run Beta') }}</h2>
    <span class="header-line flex-1"></span>
  </section>

  <section class="font-lg leading-normal pb-5 flex max-w-6xl mx-auto justify-center items-center pl-8 pr-8">
    <aside class="flex flex-col flex-grow mb-4">
      <p class="mb-2 mt-2">
        {{ _('Beta downloaded from the official download site will:') }}
      </p>
      <ol type='a'>
        <li>{{ _('Install in its own Thunderbird program directory.') }}</li>
        <li>{{ _('Create a dedicated Thunderbird data profile named default-beta.') }}</li>
      </ol>
      <p>
        {{ _('Dedicated profile per Thunderbird installation is a method which allows you to have both the release version of Thunderbird and the beta version of Thunderbird operate independently... ') }}
      </p>
      <ul>
        <li>{{ _('Start the release version of Thunderbird (with beta not running) and it will use the "default" (or default-release) profile.') }}</li>
        <li>{{ _('Start the beta version of Thunderbird (with release version not running) and it will use the default-beta profile.') }}</li>
      </ul>
      <p class="mb-2 mt-2">
        {{ _('If you want to get more complicated, such as running beta and release at the same time, please refer to Using Multiple Profiles, and Dedicated profile per Thunderbird installation and ask for help in Thunderbird support). ') }}
      </p>
    </aside>
  </section>

  <section id="resources" class="mt-4 mb-4 flex max-w-6xl mx-auto justify-center items-center pl-8 pr-8">
    <span class="header-line flex-1"></span>
    <h2 class="header-section pl-4 pr-4 mb-0 text-center">{{ _('Resources and Assistance') }}</h2>
    <span class="header-line flex-1"></span>
  </section>

  <section class="font-lg leading-normal pb-5 flex max-w-6xl mx-auto justify-center items-center pl-8 pr-8">
    <aside class="flex flex-col flex-grow mb-4">
      <p class="mb-2 mt-2">
        {{ _('Open the Thunderbird Help menu to check the useful tools and references. Important items to note:') }}
      <ul>
        <li>
          {{ _('Release notes are provided for every update in:') }}
          <ul>
            <li><b>≡ > Help > Privacy & About > Release Notes.</b></li>
          </ul>
        </li>
        <li>{{ _('As you normally would, post ordinary Thunderbird usage questions in Thunderbird support. ') }}</li>
        <li>{{ _('Ask beta specific assistance questions and comments the beta forum, or just visit to see what others are saying. (The forum operates in English. So if you need assistance in another language please ask for help in Thunderbird support)') }}</li>
        <li>{{ _('If you find a problem, try to reproduce the problem in Troubleshoot Mode, then file a bug report for Thunderbird or Calendar.') }}</li>
        <li>{{ _('<b>≡ > Tools > Export</b> can be used to backup your profile, or get to your profile directory quickly.') }}</li>
        <li>{{ _('<b>≡ > Go > Mail Start Page (aka Beta Start Page)</b> is a handy reference which documents several of the above items and more.') }}</li>
      </ul>
    </aside>
  </section>

  <section id="uninstall" class="mt-4 mb-4 flex max-w-6xl mx-auto justify-center items-center pl-8 pr-8">
    <span class="header-line flex-1"></span>
    <h2 class="header-section pl-4 pr-4 mb-0 text-center">{{ _('How do I go back to the regular release version?') }}</h2>
    <span class="header-line flex-1"></span>
  </section>

  <section class="font-lg leading-normal pb-5 flex max-w-6xl mx-auto justify-center items-center pl-8 pr-8">
    <aside class="flex flex-col flex-grow mb-4">
      <p class="mb-2 mt-2">
        {{ _('If you meet the following criteria, then you don’t need to do anything special. Just start the "normal release" Thunderbird program that you still have installed, which will use the "default" (or default-release) profile that you had not deleted. ') }}
      <ul>
        <li>{{ _('You use multiple, dedicated profiles (one for beta and one for release as recommended)') }}</li>
        <li>{{ _('You have only imap accounts.') }}</li>
        <li>{{ _('You don’t have address book and other information to transfer from beta to release.') }}</li>
      </ul>
      <p> {{ _('Dedicated profile per Thunderbird installation is a method which allows you to have both the release version of Thunderbird and the beta version of Thunderbird operate independently: ') }}</p>
      <ul>
        <li>Start the release version of Thunderbird (with beta not running) and it will use the "default" (or default-release) profile. </li>
        <li>Start the beta version of Thunderbird (with release version not running) and it will use the default-beta profile. </li>
      </ul>
      <p class="mb-2 mt-2">
        {{ _('If you want to get more complicated, such as running beta and release at the same time, please refer to Using Multiple Profiles, and Dedicated profile per Thunderbird installation and ask for help in Thunderbird support). ') }}
      </p>
    </aside>
  </section>

{% endblock %}
