{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "includes/base-resp.html" %}

{% block page_title %}{{ _('Thunderbird Beta') }}{% endblock %}
{% block header_content %}
  <section class="text-left text-white flex flex-col items-start xl:w-full max-w-6xl mx-auto pl-8 pr-8">
    <h1 class="font-4xl md:font-hero font-thin md:mt-10 mb-8">{{ self.page_title() }}</h1>
  </section>
  <nav role="directory" class="text-left text-white flex justify-center w-full max-w-6xl mx-auto bg-black-25 rounded mb-10">
    <ul class="list-none p-0 flex flex-wrap justify-around flex-1 m-0">
      <li class="ml-2 mr-2">
        <a href="#shouldi" class="btn-link">{{ _('Should I use Beta?') }}</a>
      </li>
      <li class="ml-2 mr-2">
        <a href="#howto" class="btn-link">{{ _('How to install and run Beta') }}</a>
      </li>
      <li class="ml-2 mr-2">
        <a href="#uninstall" class="btn-link">{{ _('How do I go back to the regular release version?') }}</a>
      </li>
      <li class="ml-2 mr-2">
        <a href="#resources" class="btn-link">{{ _('Resources and Assistance') }}</a>
      </li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
  <div class="justify-center flex">
    {{ download_thunderbird(force_direct=true, alt_copy=_('Download Beta'), channel='beta', flex_class='justify-center', section='body') }}
  </div>
  <section id="shouldi" class="mt-20 mb-4 flex max-w-6xl mx-auto justify-center items-center pl-8 pr-8">
    <span class="header-line flex-1"></span>
    <h2 class="header-section pl-4 pr-4 mb-0 text-center">{{ _('Should I use Beta?') }}</h2>
    <span class="header-line flex-1"></span>
  </section>

  <section class="font-lg leading-normal pb-5 flex max-w-6xl mx-auto justify-center items-center pl-8 pr-8">
    <aside class="flex flex-col flex-grow mb-4">
      <p class="mb-2 mt-2">
        {{ _('Do you want to help the global Thunderbird community by discovering and reporting bugs? Then beta is a great choice for you, because it gets fixes and <a href="https://support.mozilla.org/kb/new-thunderbird-102">new features</a> long before they reach release!') }}
      </p>
      <h3 class="mb-4 mt-4">{{ _('Important Considerations') }}</h3>
      <p class="mb-2 mt-2">
        {{ _('Before you download and test the beta, there are some important considerations to be aware of:') }}
      </p>
      <ul>
        <li><strong>{{ _('Beta installation will <u>replace</u> your currently installed program, unless you use the instructions in <a href="#howto">How to install and run Beta</a>.') }}</strong></li>
        <li>{{ _('Please do <a href="https://support.mozilla.org/kb/profiles-where-thunderbird-stores-user-data#w_backing-up-a-profile">regular backups</a> to protect your Thunderbird data profiles.') }}</li>
        <li>{{ _('New features may be incomplete works in progress, because some are completed and polished over a period of weeks. The <a href="https://thunderbird.topicbox.com/groups/beta">beta forum</a> may provide more information on feature progress.') }}</li>
        <li>{{ _('Flaws are to be expected. High-impact flaws, including data loss, are very rare, but may occur. Protect yourself with <a href="https://support.mozilla.org/kb/profiles-where-thunderbird-stores-user-data#w_backing-up-a-profile">backups</a>. Low-impact flaws may not be fixed quickly, because fixes are prioritized based on impact.') }}</li>
        <li>{{ _('Expect seven updates per month, one major update per month plus several small updates. This frequency of updates allows us to make fast improvements.') }}</li>
        <li>{{ _('Are you using <a href="https://support.mozilla.org/kb/difference-between-imap-and-pop3">POP accounts</a>? Unlike IMAP accounts, the only copy of your pop mail is in your local Thunderbird profile. If you want to add a POP account to beta, your options are:') }}
          <ol type='a'>
            <li>{{ _('After set up, go to <b>≡ > Account Settings > Server Settings</b> and make sure the <b>"Leave messages on server"</b> option is <b>checked</b>, and the <b>"For at most [X] days"</b> option is <b>unchecked</b>.') }}</li>
            <li>{{ _('Keep the default settings. Messages will be removed from the server 14 days after download, so you will need to either stay on beta, or learn how to move your POP data back to the release profile.') }}</li>
          </ol></li>
        <li>{{ _('If you have <a href="https://support.mozilla.org/kb/organize-your-messages-using-filters">mail filters</a> that, for example, move mail to local folders, then you must decide where to run filters - in your beta profile or your other profile.') }}</li>
      </ul>
      <h3 class="mb-4 mt-4">{{ _('Add-ons') }}</h3>
      <p class="mb-2 mt-2">
        {{ _('Add-on authors are not obligated to make their add-ons work in beta. Some or all of your add-ons may not work. Or if they do work today, they may not work tomorrow. Consult the <a href="https://support.mozilla.org/kb/thunderbird-add-ons-frequently-asked-questions#w_what-if-my-add-on-is-broken">Add-ons FAQ</a> if you have difficulty. ') }}
      </p>
    </aside>
  </section>

  <section id="howto" class="mt-4 mb-4 flex max-w-6xl mx-auto justify-center items-center pl-8 pr-8">
    <span class="header-line flex-1"></span>
    <h2 class="header-section pl-4 pr-4 mb-0 text-center">{{ _('How to install and run Beta') }}</h2>
    <span class="header-line flex-1"></span>
  </section>

  <section class="font-lg leading-normal pb-5 flex max-w-6xl mx-auto justify-center items-center pl-8 pr-8">
    <aside class="flex flex-col flex-grow mb-4">
      <p class="mb-2 mt-2">
        {{ _('You have two choices for installing beta: Option 1 allows you to run the beta alongside the Stable version of Thunderbird, and Option 2 upgrades your existing installation.') }}
      </p>
      <ol type='1'>
        <li><strong>{{ _('Run Stable and Beta side-by-side (recommended).') }}</strong></li>
        <p class="mb-2 mt-2">
          {{ _('Thunderbird 102 and newer on Windows will install beta into its own program directory. For older versions on Windows consult the <a href="https://support.mozilla.org/en-US/kb/thunderbird-beta">beta support article</a>. For other operating systems use an install method appropriate for your OS to target a uniquely named directory.') }}
        </p>
        <p class="mb-2 mt-2">
          {{ _('This choice has the advantage of forcing a <a href="https://support.mozilla.org/en-US/kb/dedicated-profile-thunderbird-installation">dedicated profile</a> for each Thunderbird, which allows you to have both the release version and the beta version operate independently. So you can:') }}
        </p>
        <ul>
          <li>{{ _('Start the <b>release</b> version of Thunderbird (with beta not running) and it will use the <b>"default" (or default-release)</b> profile.') }}</li>
          <li>{{ _('Start the <b>beta</b> version of Thunderbird (with release version not running) and it will use the <b>default-beta</b> profile. On first use Thunderbird will create the <b>default-beta</b> profile, and it will prompt you to define your accounts. If you need to bring some data from your release profile into the beta profile, consult the <a href="https://support.mozilla.org/kb/thunderbird-beta">beta support article.</a>') }}</li>
        </ul>
        <li class="mb-2 mt-2"><strong>{{ _('Upgrade your existing Thunderbird installation to beta.') }}</strong></li>
        <p class="mb-2 mt-2">
          {{ _('Simply install beta over top of your current program directory, using the default installer choices. Beta will then <u>use your current (production) default profile</u>. Because it uses your default profile, this choice makes it more difficult to switch back to using a release version should you wish to do so in the future. In other words, you should not switch back and forth between beta and normal release using the same profile.') }}
        </p>
        <p class="mb-2 mt-2">
          {{ _('For very detailed information about both methods, please check the <a href="https://support.mozilla.org/kb/thunderbird-beta">beta support article.</a>') }}
        </p>
      </ol>
    </aside>
  </section>

  <section id="uninstall" class="mt-4 mb-4 flex max-w-6xl mx-auto justify-center items-center pl-8 pr-8">
    <span class="header-line flex-1"></span>
    <h2 class="header-section pl-4 pr-4 mb-0 text-center">{{ _('How do I go back to the regular release version?') }}</h2>
    <span class="header-line flex-1"></span>
  </section>

  <section class="font-lg leading-normal pb-5 flex max-w-6xl mx-auto justify-center items-center pl-8 pr-8">
    <aside class="flex flex-col flex-grow mb-4">
      <p class="mb-2 mt-2">
        {{ _('If you installed the beta over the top of the release version (choice 2 above), then your process will be more complicated. Please consult this <a href="https://support.mozilla.org/kb/thunderbird-beta">beta support article.</a>') }}
      </p>
      <p class="mb-2 mt-2">
        {{ _('If you installed the beta program into its own program directory (choice 1 above) and you used a <a href="https://support.mozilla.org/en-US/kb/dedicated-profile-thunderbird-installation">dedicated profile per Thunderbird</a>, then start the release version of Thunderbird and it should use your release version profile data. If you no longer want to use the beta version, and do not need any of the beta data (address books, local folders, pop folders, etc), and wish to remove the beta data and beta program from your system:') }}
      </p>
      <ul>
        <li>{{ _('Start the release version of Thunderbird to use the <a href="https://support.mozilla.org/kb/profile-manager-create-and-remove-thunderbird-profiles">profile manager.</a>') }}</li>
        <li>{{ _('Find and delete the beta profile, default name is <b>“default-beta”</b>.') }}</li>
        <li>{{ _('Delete the beta version’s program directory. ') }}</li>
      </ul>
      <p> {{ _('If you need to copy data from the beta profile to your release profile, please consult the <a href="https://support.mozilla.org/kb/thunderbird-beta">beta support article.</a>') }}</p>
    </aside>
  </section>

  <section id="resources" class="mt-4 mb-4 flex max-w-6xl mx-auto justify-center items-center pl-8 pr-8">
    <span class="header-line flex-1"></span>
    <h2 class="header-section pl-4 pr-4 mb-0 text-center">{{ _('Resources and Assistance') }}</h2>
    <span class="header-line flex-1"></span>
  </section>

  <section class="font-lg leading-normal pb-5 flex max-w-6xl mx-auto justify-center items-center pl-8 pr-8">
    <aside class="flex flex-col flex-grow mb-4">
      <p class="mb-2 mt-2">
        {{ _('Open the Thunderbird Help menu to check the useful tools and references. Important items to note:') }}
      <ul>
        <li>
          {{ _('Release notes are provided for every update in:') }}
          <ul>
            <li><b>{{ _('≡ > Help > About > Release Notes.') }}</b></li>
          </ul>
        </li>
        <li>{{ _('Please post questions about normal Thunderbird usage in <a href="https://support.mozilla.org/questions/new/thunderbird/form">Thunderbird support</a>. ') }}</li>
        <li>{{ _('Ask beta specific assistance questions and comments in <a href="https://thunderbird.topicbox.com/groups/beta">the beta forum</a>, or browse it to see what other beta users are discussing. The forum operates in English, so if you need assistance in another language please ask for help in <a href="https://support.mozilla.org/questions/new/thunderbird/form">Thunderbird support</a>.') }}</li>
        <li>{{ _('If you find a problem, try to <a href="https://support.mozilla.org/kb/troubleshoot-mode-thunderbird">reproduce the problem in Troubleshoot Mode</a>, then file a bug report for <a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Thunderbird">Thunderbird</a> or <a href="https://bugzilla.mozilla.org/enter_bug.cgi?product=Calendar">Calendar</a>.') }}</li>
        <li>{{ _('<b>≡ > Tools > Export</b> can be used to backup your profile, or to get to your profile directory quickly.') }}</li>
        <li>{{ _('<b> Invoke the Mail Start Page (aka Beta Start Page)</b> shortcut listed <a href="https://support.mozilla.org/kb/keyboard-shortcuts-thunderbird#w_moving-around-thunderbird">here</a> to open a handy reference that documents several of the above items and more.') }}</li>
      </ul>
    </aside>
  </section>

{% endblock %}
