{# Version: 20140429 #}

{% extends "mozorg/home.html" %}

{% l10n home_news %}
<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="pl" href="https://blog.mozilla.org/press-pl/2014/04/29/mozilla-udostepnia-firefoksa-z-zaawansowanymi-mozliwosciami-personalizacji-i-nowym-interfejsem/">
      Mozilla udostępnia Firefoksa z zaawansowanymi możliwościami personalizacji i nowym interfejsem
    </a>
  </h3>
</li>
<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="pl" href="https://blog.mozilla.org/press-pl/2014/04/29/firefox-na-androida-jest-latwiejszy-w-personalizacji-niz-kiedykolwiek-wczesniej/">
      Firefox na Androida jest łatwiejszy w personalizacji niż kiedykolwiek wcześniej
    </a>
  </h3>
</li>
<li class="hentry">
  <h3 class="entry-title">
    <a class="url go" rel="bookmark external" hreflang="pl" href="https://blog.mozilla.org/press-pl/2014/03/19/gdc-2014-mozilla-wraz-z-partnerami-udowadniaja-ze-siec-jest-platforma-dla-gier/">
      GDC 2014: Mozilla wraz z partnerami udowadniają, że sieć jest platformą dla gier
    </a>
  </h3>
</li>
{% endl10n %}
