{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "includes/base-resp.html" %}

{% block page_title_prefix %}{{_('Thunderbird')}} — {% endblock %}
{% block page_title %}{{ _('There’s nothing here!') }}{% endblock %}
{% block page_desc %}{{ _('The page you are looking for doesn’t exist.<br/>If you think this is a bug, you can <a href="%(bug_report_url)s">report an issue here</a>.')|format(bug_report_url=url('thunderbird.site.bug-report')) }}{% endblock %}

{% block header_content %}
  <section class="text-center text-white flex flex-col items-center xl:w-full max-w-6xl mx-auto pl-8 pr-8">
    <h1 class="font-4xl md:font-hero font-thin md:mt-10 mb-8">{{ self.page_title() }}</h1>
    <p class="font-lg md:font-xl tracking-wide leading-relaxed max-w-4xl mb-20 mt-0 p-links">
      {{ self.page_desc() }}
    </p>
  </section>
{% endblock %}

{% block content %}

  <section class="pt-20 w-full">
    <img src="{{ static('img/thunderbird/404/nest.png') }}" alt="{{ _('Empty nest') }}"
      class="flex w-full max-w-3xl mx-auto pr-8 pl-8">
  </section>

  <section class="pt-20 pb-20 w-full bg-calendar">
    &nbsp;
  </section>

  {% include 'includes/site-prefooter.html' %}

{% endblock %}

{% block tracker_js %}
      <script type="text/javascript" src="/media/js/piwik.js" async defer></script>
      <script type="text/javascript" src="/media/js/matomo404.js" charset="utf-8"></script>
      <noscript>
        <p><img src="//thunderbird.innocraft.cloud/piwik.php?idsite=1&rec=1" style="border:0;" alt="" /></p>
      </noscript>
{% endblock %}
