{# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% set active_page = "index" %}
{% set is_homepage = True %}
{% extends "includes/base/page.html" %}
{% from 'includes/download/macros/download-block.html' import download_block with context %}
{% from 'includes/download/macros/download-smart.html' import download_smart with context %}

{% block page_title_prefix %}{{_('Thunderbird')}} — {% endblock %}
{% block page_title %}{{ _('Free Your Inbox.') }}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block extrahead %}
  {# Preload the most common format here #}
  <link rel="preload" as="image" href="{{ l10n_img('thunderbird/base/home/banner-high-res.avif') }}">
{% endblock %}

{% block header_content %}
  <section>
    <div class="container hero">
      <div class="hero-text">
        <h1 class="tagline">{{_('<span class="txt-gradient">Free</span> Your Inbox')}}</h1>
        <p class="sub-tag">
          {% trans %}
            Meet Thunderbird, the <strong>email and productivity</strong> app that maximizes your freedoms.
          {% endtrans %}
        </p>
      </div>
      <div class="hero-download">
        {{ download_smart('btn-gradient', 'download-button-products') }}
      </div>
    </div>
  </section>
  <div class="mask">
    {{ svg('mask') }}
  </div>
{% endblock %}

{# We have our own, thanks. #}
{% block header_separator %}{% endblock %}

{% block content %}
  <section id="free-from-chaos">
    <div class="container">
      <div class="floating-icons" aria-hidden="true">
        <picture class="competitor-icon apple">
          <source srcset="/media/img/thunderbird/new/competitors/floating-icon-apple.avif" type="image/avif">
          <source srcset="/media/img/thunderbird/new/competitors/floating-icon-apple.webp" type="image/webp">
          <img src="/media/img/thunderbird/new/competitors/floating-icon-apple.png" alt="{{_('competitor icon')}}">
        </picture>
        <picture class="competitor-icon gmail">
          <source srcset="/media/img/thunderbird/new/competitors/floating-icon-gmail.avif" type="image/avif">
          <source srcset="/media/img/thunderbird/new/competitors/floating-icon-gmail.webp" type="image/webp">
          <img src="/media/img/thunderbird/new/competitors/floating-icon-gmail.png" alt="{{_('competitor icon')}}">
        </picture>
        <picture class="competitor-icon outlook">
          <source srcset="/media/img/thunderbird/new/competitors/floating-icon-outlook.avif" type="image/avif">
          <source srcset="/media/img/thunderbird/new/competitors/floating-icon-outlook.webp" type="image/webp">
          <img src="/media/img/thunderbird/new/competitors/floating-icon-outlook.png" alt="{{_('competitor icon')}}">
        </picture>
        <picture class="competitor-icon proton">
          <source srcset="/media/img/thunderbird/new/competitors/floating-icon-proton.avif" type="image/avif">
          <source srcset="/media/img/thunderbird/new/competitors/floating-icon-proton.webp" type="image/webp">
          <img src="/media/img/thunderbird/new/competitors/floating-icon-proton.png" alt="{{_('competitor icon')}}">
        </picture>
        <picture class="competitor-icon yahoo">
          <source srcset="/media/img/thunderbird/new/competitors/floating-icon-yahoo.avif" type="image/avif">
          <source srcset="/media/img/thunderbird/new/competitors/floating-icon-yahoo.webp" type="image/webp">
          <img src="/media/img/thunderbird/new/competitors/floating-icon-yahoo.png" alt="{{_('competitor icon')}}">
        </picture>
        <div class="blank-icon box-1"></div>
        <div class="blank-icon box-2"></div>
        <div class="blank-icon box-3"></div>
        <div class="blank-icon box-4"></div>
        <div class="blank-icon box-5"></div>
        <div class="blank-icon box-6"></div>
        <div class="blank-icon box-7"></div>
        <div class="blank-icon box-8"></div>
      </div>
      <div class="section-text">
        <h2 class="section-heading">{{_('<span class="txt-gradient">Freedom</span> from Chaos')}}</h2>
        <h4>{{_('Waste less time finding browser tabs.')}}</h4>
        <p>
          {% trans %}
          Access all your messages, calendars, and contacts in one fast app. Filter and organize
          the way you like. Manage all accounts separately or in a unified inbox. Thunderbird
          simply makes your life simpler.
          {% endtrans %}
        </p>
      </div>
      <div class="devices-container">
      <div class="graphic" aria-hidden="true">
        <picture>
          <source srcset="/media/img/thunderbird/new/screens/laptop-bg.avif" type="image/avif">
          <source srcset="/media/img/thunderbird/new/screens/laptop-bg.webp" type="image/webp">
          <img src="/media/img/thunderbird/new/screens/laptop-bg.png" alt="">
        </picture>
        <div class="carousel">
          <picture>
            <source srcset="/media/img/thunderbird/new/screens/mail-screen.avif" type="image/avif">
            <source srcset="/media/img/thunderbird/new/screens/mail-screen.webp" type="image/webp">
            <img src="/media/img/thunderbird/new/screens/mail-screen.png" alt="">
          </picture>
          <picture>
            <source srcset="/media/img/thunderbird/new/screens/calendar-screen.avif" type="image/avif">
            <source srcset="/media/img/thunderbird/new/screens/calendar-screen.webp" type="image/webp">
            <img src="/media/img/thunderbird/new/screens/calendar-screen.png" alt="">
          </picture>
        </div>
      </div>
      <div class="TfA-overlay">
        {{ high_res_img('thunderbird/base/home/flat-phone.png', {'alt': _('A phone displaying Thunderbird for Android\'s interface.')}, alt_formats=('avif', 'webp')) }}
      </div>
      </div>
      <div class="cta">
        <!-- <a href="#" class="cta-ln">{{_('See Compatibility')}}</a> -->
      </div>
    </div>
    <div class="mask" aria-hidden="true">
      {{ svg('mask') }}
    </div>
  </section>

  <section id="free-from-manipulation">
    <div class="container">
      <div class="section-text">
        <h2 class="section-heading">{{_('<span class="txt-gradient">Freedom</span> from Manipulation')}}</h2>
        <h4>{{_('Our agenda isn’t hidden. It’s to make the world better.')}}</h4>
        <p>
          {% trans open_source='https://en.wikipedia.org/wiki/Open-source_software', mozilla=url('mozorg.home') %}
          Thunderbird is funded by user donations. We don’t collect personal data, sell ads in your inbox, or secretly
          train AI with your private conversations. Thunderbird is <a href="{{ open_source }}">open source</a>. As part of the <a
            href="{{ mozilla }}">Mozilla</a> family you can be confident we
          always put your privacy and security first.
          {% endtrans %}
        </p>
        <div class="cta">
          <a href="{{ url('thunderbird.about') }}" class="strong">{{_('Learn Who We Are')}}</a>
        </div>
      </div>
    </div>
    <div class="planets" aria-hidden="true">
          <div class="planet-firefox">
            <picture>
              <source srcset="/media/img/thunderbird/new/planets/planets-firefox.avif" type="image/avif">
              <source srcset="/media/img/thunderbird/new/planets/planets-firefox.webp" type="image/webp">
              <img src="/media/img/thunderbird/new/planets/planets-firefox.png" alt="{{_('Firefox planet')}}">
            </picture>
          </div>
          <div class="planet-thunderbird">
            <picture>
              <source srcset="/media/img/thunderbird/new/planets/planets-thunderbird.avif" type="image/avif">
              <source srcset="/media/img/thunderbird/new/planets/planets-thunderbird.webp" type="image/webp">
              <img src="/media/img/thunderbird/new/planets/planets-thunderbird.png" alt="{{_('Thunderbird planet')}}">
            </picture>
          </div>
        </div>
    <div class="mask" aria-hidden="true">
      {{ svg('mask') }}
    </div>
  </section>

  <section id="free-to-geek">
    <div class="container">
      <div class="section-text">
        <h2 class="section-heading">{{_('<span class="txt-gradient">Freedom</span> to Geek Out')}}</h2>
            <h4>{{_('Thunderbird is yours.')}}</h4>
            <p>
              {% trans %}
              Thunderbird is clean and elegant by default, but easily customizable to match your workflow and visual
              preferences. It is loaded with unique and powerful features. Here are just a few that people love:
              {% endtrans %}
            </p>
      </div>

      <div class="testimonials">
        <div class="testimonial-card card-lg">
          <div class="quote">
            <q>
              {% trans %}
              Its <strong>unified inbox</strong> enables me to stay sane even in the busiest of times. I am never
              switching e-mail clients again!
              {% endtrans %}
            </q>
            <div class="attrib">
              <div class="profile-pic" aria-hidden="true">
                <picture>
                  <source srcset="/media/img/thunderbird/new/testimonials/testimonial-portrait-max.avif"
                    type="image/avif">
                  <source srcset="/media/img/thunderbird/new/testimonials/testimonial-portrait-max.webp"
                    type="image/webp">
                  <img src="/media/img/thunderbird/new/testimonials/testimonial-portrait-max.jpg" alt="{{_('profile image')}}">
                </picture>
              </div>
              <div class="name">Max</div>
              <div class="title">{{_('Software Developer, Austria')}}</div>
            </div>
          </div>
          <div class="visual unified-inbox" aria-hidden="true">
            <picture>
              <source srcset="/media/img/thunderbird/new/testimonials/unified-inbox.avif" type="image/avif">
              <source srcset="/media/img/thunderbird/new/testimonials/unified-inbox.webp" type="image/webp">
              <img src="/media/img/thunderbird/new/testimonials/unified-inbox.png" alt="{{_('unified inbox')}}">
            </picture>
          </div>
        </div>
        <div class="testimonial-card">
          <div class="quote">
            <q>
              {% trans %}
              I love the <strong>tag feature</strong>. I tag something important and find it quickly.
              {% endtrans %}
            </q>
            <div class="attrib">
              <div class="profile-pic" aria-hidden="true">
                <picture>
                  <source srcset="/media/img/thunderbird/new/testimonials/testimonial-portrait-juan.avif"
                    type="image/avif">
                  <source srcset="/media/img/thunderbird/new/testimonials/testimonial-portrait-juan.webp"
                    type="image/webp">
                  <img src="/media/img/thunderbird/new/testimonials/testimonial-portrait-juan.jpg" alt="{{_('profile image')}}">
                </picture>
              </div>
              <div class="name">Juan</div>
              <div class="title">{{_('Computer Scientist, USA')}}</div>
            </div>
          </div>
        </div>
        <div class="testimonial-card">
          <div class="quote">
            <q>
              {% trans %}
              It is the first program I install on any PC I use / own... I use it on
              <strong>Windows</strong> / <strong>Mac</strong> and <strong>Linux</strong>.
              {% endtrans %}
            </q>
            <div class="attrib">
              <div class="profile-pic" aria-hidden="true">
                <picture>
                  <source srcset="/media/img/thunderbird/new/testimonials/testimonial-portrait-ernie.avif"
                    type="image/avif">
                  <source srcset="/media/img/thunderbird/new/testimonials/testimonial-portrait-ernie.webp"
                    type="image/webp">
                  <img src="/media/img/thunderbird/new/testimonials/testimonial-portrait-ernie.jpg" alt="{{_('profile image')}}">
                </picture>
              </div>
              <div class="name">Ernie</div>
              <div class="title">{{_('I.T. Manager, UK')}}</div>
            </div>
          </div>
        </div>
        <div class="testimonial-card">
          <div class="quote">
            <q>
              {% trans %}
              Having an open source alternative [for] receiving and managing email... is great for <strong>privacy</strong>.
              {% endtrans %}
            </q>
            <div class="attrib">
              <div class="profile-pic" aria-hidden="true">
                <picture>
                  <source srcset="/media/img/thunderbird/new/testimonials/testimonial-portrait-rolando.avif"
                    type="image/avif">
                  <source srcset="/media/img/thunderbird/new/testimonials/testimonial-portrait-rolando.webp"
                    type="image/webp">
                  <img src="/media/img/thunderbird/new/testimonials/testimonial-portrait-rolando.jpg" alt="{{_('profile image')}}">
                </picture>
              </div>
              <div class="name">Rolando</div>
              <div class="title">{{_('Web Developer, Costa Rica')}}</div>
            </div>
          </div>
        </div>
        <div class="testimonial-card">
          <div class="quote">
            <q>
              {% trans %}
              [Thunderbird] empowers me to maintain <strong>ownership</strong> of my emails.
              {% endtrans %}
            </q>
            <div class="attrib">
              <div class="profile-pic" aria-hidden="true">
                <picture>
                  <source srcset="/media/img/thunderbird/new/testimonials/testimonial-portrait-beegy.avif"
                    type="image/avif">
                  <source srcset="/media/img/thunderbird/new/testimonials/testimonial-portrait-beegy.webp"
                    type="image/webp">
                  <img src="/media/img/thunderbird/new/testimonials/testimonial-portrait-beegy.jpg" alt="{{_('profile image')}}">
                </picture>
              </div>
              <div class="name">Beegy</div>
              <div class="title">{{_('Engineer, USA')}}</div>
            </div>
          </div>
        </div>
        <div class="testimonial-card card-lg">
          <div class="quote">
            <q>
              {% trans %}
              You'd be hard pressed to find a client more <strong>extensible</strong> than Thunderbird!
              {% endtrans %}
            </q>
            <div class="attrib">
              <div class="profile-pic" aria-hidden="true">
                <picture>
                  <source srcset="/media/img/thunderbird/new/testimonials/testimonial-portrait-dom.avif"
                    type="image/avif">
                  <source srcset="/media/img/thunderbird/new/testimonials/testimonial-portrait-dom.webp"
                    type="image/webp">
                  <img src="/media/img/thunderbird/new/testimonials/testimonial-portrait-dom.jpg" alt="{{_('profile image')}}">
                </picture>
              </div>
              <div class="name">Dom</div>
              <div class="title">{{_('Student, UK')}}</div>
            </div>
          </div>
          <div class="visual extensions" aria-hidden="true">
            <picture>
              <source srcset="/media/img/thunderbird/new/testimonials/hex.avif" type="image/avif">
              <source srcset="/media/img/thunderbird/new/testimonials/hex.webp" type="image/webp">
              <img src="/media/img/thunderbird/new/testimonials/hex.png" alt="{{_('extensions')}}">
            </picture>
          </div>
        </div>
      </div>
    </div>
    <div class="mask" aria-hidden="true">
      {{ svg('mask') }}
    </div>
  </section>

  <section id="freedom-to-go-anywhere">
    <div class="container">
      <div class="section-text">
        <h2 class="section-heading">{{_('<span class="txt-gradient">Freedom</span> to Go Anywhere')}}</h2>
        <h4>{{_('Introducing Thunderbird Mobile')}}</h4>
        <p>
          {% trans trimmed -%}
            The freedom and joy of Thunderbird are now available to you anywhere you go.
            With Thunderbird Mobile your most important messages are sent and received by an open-source,
            secure app that respects your privacy
          {%- endtrans %}
        </p>
      <div class="cta">
        <a href="{{ url('thunderbird.android.announcement') }}" class="strong">{{_('Read the announcement')}}</a>
      </div>
      </div>
    </div>
    <div class="mobile-render" aria-hidden="true">
      {{ high_res_img('/media/img/thunderbird/base/home/exploding-phone.png', {'alt': _('A rendering of a mobile phone.')}, alt_formats=('avif', 'webp')) }}
    </div>
    <div class="mask" aria-hidden="true">
      {{ svg('mask') }}
    </div>
  </section>
  {{ download_block() }}
  {% with page_desc = self.page_desc() %}
    {% include "includes/product-metadata.html" %}
  {% endwith %}
{% endblock %}

