// Base
@import "variables.less";
@import "breakpoints.less";
@import "../common/images.less";
@import "variables.less";
@import "nav.less";

@import "../common/fonts.less";
@import "../common/space.less";

@import "colours.less";
@import "buttons.less";

@import "../common/tab-navigation-bar.less";
@import "../common/shared-footer.less";

// ------------------------------------------------------------
// border-box, everywhere
// ------------------------------------------------------------
*, *::before, *::after { box-sizing: border-box; }

:root {
    --font-content: 'Inter', sans-serif;
    --font-titles: 'Metropolis', sans-serif;
    --text-icon-base: #EEEEF0;
}

body {
    color: var(--color-text-base);
    font-family: var(--font-content);
}

// ------------------------------------------------------------
// Set whitespace and widths for overall layout.
// ------------------------------------------------------------
.top-level {
    padding-inline: @gutter;
    @media (min-width: @md) {
        padding-inline: calc(@space-144 - @gutter);
    }
}

// Constrains to the largest breakpoint.
.primary-block {
    margin-inline: auto;
    max-width: @lg;
}

// ------------------------------------------------------------
// Header (nav bar)
// ------------------------------------------------------------

#site-header {
    margin-block: 0 @space-36;
    padding-top: @space-16;

    @media (min-width: @lg) {
        padding-top: 1.25rem;
    }

    #site-header-nav {
        align-items: center;
        background:
            linear-gradient(to bottom,
                            #262d3c 0%,
                            #232a37 25%,
                            #202633 50%,
                            #1c222e 75%,
                            #181d26 100%) padding-box,
            linear-gradient(to bottom, #313845, #1c2633) border-box;
        border: 1px solid transparent;
        border-radius: 1rem;
        box-shadow: 0 @space-9 @space-24 0 rgba(0, 0, 0, 0.1);
        display: flex;
        height: 3rem;
        justify-content: space-between;
        padding-inline: @space-18 0.875rem;
        position: relative;

        @media (min-width: @lg) {
            display: grid;
            height: 4rem;
            grid-template-columns: auto auto auto;
            grid-template-rows: 1fr;

            #nav-link-home {
                grid-column-start: 1;
                grid-row-start: 1;
                margin-top: 1rem;
                z-index: 9;

                svg {
                    height: 36px;
                    width: 208px;
                }
            }
        }


        #nav-menu {
            // These are the same colors as #site-header-nav,
            // but with the direction reversed.
            background: linear-gradient(to top,
                            #262d3c 0%,
                            #232a37 25%,
                            #202633 50%,
                            #1c222e 75%,
                            #181d26 100%);

            border-radius: 0 0 @space-9 @space-9;
            display: grid;
            grid-template-rows: 0fr;

            position: absolute;
            right: @space-18;
            top: @space-48;
            transition: grid-template-rows 0.1s ease-out;

            @media (min-width: @lg) {
                background: unset;
                display: contents;
                grid-template-columns: 1fr auto auto auto 1fr;
                grid-column: 1 / -1;
                grid-row-start: 1;

                position: relative;
                right: unset;
                top: unset;
            }


            ul {
                list-style: none;
                margin: 0;
                overflow: hidden;
                padding: 0;

                li:first-child {
                    // This is a dummy element that will occupy a grid column.
                    // It should be hidden for narrow viewports.
                    display: none;
                }

                @media (min-width: @lg) {
                    align-items: center;
                    display: grid;

                    // Take up the entire width.
                    grid-column: 1 / -1;

                    // Use auto for the middle three columns so that they
                    // are only as wide as their content.
                    // They'll be moved to the center because the leftmost and rightmost
                    // columns are empty.
                    grid-template-columns: 1fr auto auto auto 1fr;
                    margin-top: -3rem;

                    li:first-child {
                        // On wider viewports, display the dummy element so that
                        // it takes up a grid column.
                        display: block;
                    }

                    li:last-child {
                        margin-block: @gutter;
                        margin-left: unset;
                        justify-self: end;  // Pushes last item to the right

                    }

                }
            }

            li {
                display: flex;
                margin-block: calc(@gutter - 11.5px);
                width: 100%;

                @media (min-width: @lg) {
                    width: unset;
                }

                a {
                    .nav-item-desktop();
                    color: var(--text-icon-base);
                    text-decoration: none;
                    text-transform: uppercase;

                    border-radius: 0.5rem;
                    margin-inline: @gutter;
                    padding: 11.5px 1.25rem;
                    width: 100%;

                    &:visited {
                        color: var(--text-icon-base);
                    }

                    @media (min-width: @lg) {
                        align-self: center;
                        margin-inline: unset;
                        width: unset;
                    }
                }

                a:hover, a:active {
                    .mixin-active-nav-link();
                }

                button {
                    color: var(--text-icon-base);
                    &:hover {
                        color: var(--colour-ti-base);
                    }
                }
            }
            li.nav-item-cta-button {
                align-self: flex-end;
                margin-left: 1.5rem;
                margin-block: 0.5rem;
                @media (min-width: @lg) {
                    margin-block: unset;
                    margin-left: unset;
                }
            }

        }

        .hamburger-btn {
            background-color: transparent;
            border: 0;
            cursor: pointer;
            height: 2rem;
            margin: 0;
            padding: 0;
            width: 2rem;
            @media (min-width: @lg) {
                display: none;
            }
        }

        .hamburger-icon {
            content: '';
            display: flex;
            flex-direction: column;
            gap: 0.2rem;

            span {
                border-bottom: 2px solid #fff;
                height: 100%;
                margin: auto;
                min-height: 1px;
                width: 50%;
            }
        }

        #mobile-hamburger-button[aria-expanded="true"] ~ #nav-menu {
            grid-template-rows: 1fr;

        }

    }
}





.top-gradient {
    .mixin-background-image('/media/img/tbpro/top-gradient-background');
    background-color: #18181b;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.lower-gradient {
    background-color: #222D3C;
}
