// Base
@import "variables.less";
@import "../common/breakpoints.less";
@import "../common/images.less";
@import "nav.less";

@import "../common/fonts.less";
@import "../common/space.less";

@import "../common/colours.less";
@import "../common/buttons.less";

@import "../common/tab-navigation-bar.less";
@import "../common/common-footer.less";

// ------------------------------------------------------------
// border-box, everywhere
// ------------------------------------------------------------
*, *::before, *::after { box-sizing: border-box; }

:root {
    --font-content: 'Inter', sans-serif;
    --font-titles: 'Metropolis', sans-serif;
    --text-icon-base: #EEEEF0;
}

body {
    color: var(--color-text-base);
    font-family: var(--font-content);
}

// ------------------------------------------------------------
// Utils
// ------------------------------------------------------------
.hidden {
    display: none;
}


.dbg(@color: red) {
    outline: 1px solid @color;
}



// ------------------------------------------------------------
// Set whitespace and widths for overall layout.
// ------------------------------------------------------------
.top-level {
    padding-inline: @gutter;
    @media (min-width: @md) {
        padding-inline: calc(@space-144 - @gutter);
    }
}

// Constrains to the largest breakpoint.
.primary-block {
    margin-inline: auto;
    max-width: @lg;
}

.top-gradient {
    .mixin-background-image('/media/img/tbpro/top-gradient-background');
    background-color: #18181b;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.lower-gradient {
    background-color: #222D3C;
}
