// Base
@import "variables.less";
@import "fonts.less";
@import "colours.less";
@import "buttons.less";

// ------------------------------------------------------------
// border-box, everywhere
// ------------------------------------------------------------
*, *::before, *::after { box-sizing: border-box; }


:root {
    --font-content: 'Inter', sans-serif;
    --font-titles: 'Metropolis', sans-serif;
    --text-icon-base: #EEEEF0;
}

body {
    color: var(--color-text-base);
    font-family: var(--font-content);
}


// Breakpoints (assumes 16px root)
@xs:     23.4375rem;   // 375px
@sm:     37.5rem;      // 600px
@md:     56.25rem;     // 900px;
@lg:     80rem;        // 1280px

// Global spacing
@gutter: 16px;

@space-3: 0.1875rem;
@space-6: 0.375rem;
@space-9: 0.5625rem;
@space-12: 0.75rem;
@space-16: @gutter;
@space-18: 1.125rem;
@space-24: 1.5rem;
@space-36: 2rem;
@space-48: 2.75rem;
@space-72: 4rem;
@space-96: 6rem;
@space-128: 8rem;
@space-144: 9rem;
@space-192: 12rem;
@space-max: 18rem;

// mixins
.mixin-background-image(@base-path) {
    // Fallback for older browsers.
    background-image: url('@{base-path}.png');

    // For browsers that support modern formats.
    background-image: -webkit-image-set(
        url('@{base-path}.avif') type('image/avif'),
        url('@{base-path}.webp') type('image/webp'),
        url('@{base-path}.png')
    );
    background-image: image-set(
        url('@{base-path}.avif') type('image/avif'),
        url('@{base-path}.webp') type('image/webp'),
        url('@{base-path}.png')
    );
}

// Constrain the common containers to the largest breakpoint.
#site-header,
#site-nav,
#moz-nav {
    margin-inline: auto;
    max-width: @lg;
}




// ------------------------------------------------------------
// Footer
// ------------------------------------------------------------
footer#tb-footer {
    background-image: linear-gradient(168deg, #1b2128 1%, #171b24 45%);
    display: grid;
    padding-block: @space-36;
    padding-inline: @gutter;

    @media (min-width: @md) {
        padding-inline: @space-144;
    }

    a {
        // Disabling for now, as the designs do not differentiate dark/light mode.
        // But the colours.less file defines dark/light.
        // color: var(--color-on-primary);

        color: var(--text-icon-base);
        text-decoration: none;
        &:visited {
            color: var(--text-icon-base);
        }
    }

    #nav-link-home, #nav-link-home svg { width: 208px;  height: 36px; }
    #moz-link-home svg { width: 150px; height: 36px;}

    #site-nav {
        align-items: start;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        display: grid;
        gap: @gutter;
        grid-template: 1fr auto / auto;
        padding-bottom: @space-24;
        width: 100%;

        .site-nav-links {
            display: flex;
            flex-wrap: wrap;
            gap: @space-24;

            a {
                font-size: 0.75rem;
                text-transform: uppercase;
            }
        }

        @media (min-width: @md) {
            align-items: center;
            grid-template: 1fr / 1fr auto;
        }
    }

    #moz-nav {
        display: grid;
        gap: @gutter;
        padding-bottom: @space-9;
        padding-top: @space-24;

        .moz-nav-links {
            display: grid;
            gap: @space-9;
            grid-auto-flow: column;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3, auto);
            margin-top: @space-6;

            a {
                font-size: .75rem;
            }
        }

        @media (min-width: @lg) {
            grid-template-columns: auto 1fr;
            align-items: start;
            column-gap: @space-96;

            #moz-link-home {
                grid-column: 1;
                grid-row: 1 / span 2;
            }

            .moz-nav-links {
                grid-column: 2;
                grid-row: 1;

                display: flex;
                gap: @space-36;
            }

            #tb-legal {
                grid-column: 2;
                grid-row: 2;
            }
        }
    }

    #tb-legal {
        font-size: .75rem;
        a {
            text-decoration: underline;
        }
    }
}



// ------------------------------------------------------------
// Header (nav bar)
// ------------------------------------------------------------
#site-header {
    margin-block: @gutter @space-36;
    padding-top: @space-16;

    @media (min-width: @lg) {
        padding-top: @space-24;
    }

    #site-header-nav {
        align-items: center;
        background:
            linear-gradient(to bottom,
                            #262d3c 0%,
                            #232a37 25%,
                            #202633 50%,
                            #1c222e 75%,
                            #181d26 100%) padding-box,
            linear-gradient(to bottom, #313845, #1c2633) border-box;
        border: 1px solid transparent;
        border-radius: 1rem;
        box-shadow: 0 @space-9 @space-24 0 rgba(0, 0, 0, 0.1);
        display: flex;
        height: 3rem;
        justify-content: space-between;
        padding-inline: @space-18 0.875rem;
        position: relative;

        @media (min-width: @lg) {
            display: grid;
            height: 4rem;
            grid-template-columns: auto auto auto;
            grid-template-rows: 1fr;

            #nav-link-home {
                grid-column-start: 1;
                grid-row-start: 1;
                z-index: 9;
            }
        }


        #nav-menu {
            // These are the same colors as #site-header-nav,
            // but with the direction reversed.
            background: linear-gradient(to top,
                            #262d3c 0%,
                            #232a37 25%,
                            #202633 50%,
                            #1c222e 75%,
                            #181d26 100%);

            border-radius: 0 0 @space-9 @space-9;
            display: grid;
            grid-template-rows: 0fr;

            position: absolute;
            right: @space-18;
            top: @space-48;
            transition: grid-template-rows 0.1s ease-out;

            @media (min-width: @lg) {
                background: unset;
                display: grid;

                // Force overlap so that we can center the nav links
                grid-template-columns: subgrid;
                grid-template-rows: subgrid;
                grid-column: 1 / -1;
                grid-row-start: 1;


                position: relative;
                right: unset;
                top: unset;

                .nav-item-join-button {
                    align-self: flex-end;
                }
            }


            ul {
                list-style: none;
                margin: 0;
                overflow: hidden;
                padding: 0;
                li:first-child {
                    // This is a dummy element that will occupy a grid column.
                    // It should be hidden for narrow viewports.
                    display: none;
                }

                @media (min-width: @lg) {
                    // Use subgrid so that we can overlap with the parent grid row.
                    display: grid;

                    // Take up the entire width.
                    grid-column: 1 / -1;

                    grid-template-rows: subgrid;

                    // Use auto for the middle three columns so that they
                    // are only as wide as their content.
                    // They'll be moved to the center because the leftmost and rightmost
                    // columns are empty.
                    grid-template-columns: 1fr auto auto auto 1fr;

                    li:first-child {
                        // On wider viewports, display the dummy element so that
                        // it takes up a grid column.
                        display: block;
                    }

                    li:last-child {
                        justify-self: end;  // Pushes last item to the right
                    }

                }
            }

            li {
                display: flex;
                margin-block: @gutter;
                padding-inline: @gutter;

                a {
                    .nav-item-desktop();
                    color: var(--text-icon-base);
                    text-decoration: none;
                    text-transform: uppercase;

                    &:visited {
                        color: var(--text-icon-base);
                    }

                    @media (min-width: @lg) {
                        align-self: center;
                    }
                }

                button {
                    color: var(--text-icon-base);
                    &:hover {
                        color: var(--colour-ti-base);
                    }
                }
            }
        }

        .hamburger-btn {
            background-color: transparent;
            border: 0;
            cursor: pointer;
            height: 2rem;
            margin: 0;
            padding: 0;
            width: 2rem;
            @media (min-width: @lg) {
                display: none;
            }
        }

        .hamburger-icon {
            content: '';
            display: flex;
            flex-direction: column;
            gap: 0.2rem;

            span {
                border-bottom: 2px solid #fff;
                height: 100%;
                margin: auto;
                min-height: 1px;
                width: 50%;
            }
        }

        #mobile-hamburger-button[aria-expanded="true"] ~ #nav-menu {
            grid-template-rows: 1fr;

        }

    }
}


// ------------------------------------------------------------
//
// ------------------------------------------------------------
#main-content {
    // background-color: #18181b;
    // this should probably be a gradient, since it covers #masthead and #features.
    // It might continue as if the white background isn't there

    &>* {
        padding-inline: @gutter;
        @media (min-width: @md) {
            padding-inline: calc(@space-144 - @gutter);
        }
    }
}


.top-gradient {
    .mixin-background-image('/media/img/thunderbird/tbpro/top-gradient-background');
    background-color: #18181b;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.lower-gradient {
    background-image: linear-gradient(355deg, #1A202C 123%, #262d3b -202%);
}
