// https://github.com/thunderbird/services-ui/blob/main/src/assets/styles/colours.css
html {
  /*
   * Bolt Colours
   * Reference: https://bolt.thunderbird.net/8b179dbfd/p/61e4c7-color
   */
  --colour-user-red: #E53935;
  --colour-user-orange: #FF8C00;
  --colour-user-yellow: #F4C430;
  --colour-user-graphite: #B0B0B0;
  --colour-user-green: #34C759;
  --colour-user-blue: #0A84FF;
  --colour-user-purple: #7753CC;
  --colour-user-pink: #E91E63;

  /*
   * Reference:  https://www.figma.com/design/3pWlMatoNdA2BT3BPVziFL/
   */

  /*
   * Generic Colours
   * Prefer the named colours over these!
   */
  --colour-neutral-900: #26272a;

  /*
   * Neutral
   * Applied frequently for backgrounds, surfaces, dividers, and outlines.
   */
  --colour-neutral-base: #feffff;
  --colour-neutral-lower: #f7f7f7;
  --colour-neutral-raised: var(--colour-neutral-base);
  --colour-neutral-subtle: var(--colour-neutral-lower);
  --colour-neutral-border: #e4e4e7;
  --colour-neutral-border-intense: #777580;

  /*
   * Primary
   * Applied frequently to surfaces highlight actions & information.
   */
  --colour-primary-soft: #f0f8ff;
  --colour-primary-default: #1373d9;
  --colour-primary-default-light: #1373d9; /* No override */
  --colour-primary-default-dark: #58c9ff; /* No override */
  --colour-primary-hover: #175fb6;
  --colour-primary-hover-light: #175fb6; /* No override */
  --colour-primary-pressed: #19518f;

  /*
   * Secondary
   * Applied sparingly to highlight information.
   */
  --colour-secondary-soft: #faf5ff;
  --colour-secondary-default: #6b21a8;
  --colour-secondary-hover: #571c87;
  --colour-secondary-pressed: #3a0764;

  /*
   * Success
   * Applied sparingly to show positive feedback/status.
   */
  --colour-success-soft: #f4f9f4;
  --colour-success-default: #1d783b;
  --colour-success-hover: #1c5f32;
  --colour-success-pressed: #194e2c;

  /*
   * Warning
   * Applied sparingly to show warning feedback/status.
   * Notifications/messaging
   */
  --colour-warning-soft: #fefae8;
  --colour-warning-default: #facc15;
  --colour-warning-hover: #eabd08;
  --colour-warning-pressed: #caa204;

  /*
   * Danger
   * Applied sparingly to show negative feedback/status or dangerous actions.
   * Errors
   */
  --colour-danger-soft: #fef2f2;
  --colour-danger-default: #991b1b;
  --colour-danger-hover: #7f1d1d;
  --colour-danger-pressed: #450a0a;

  /*
   * Text+Icon
   * Applied frequently for text and icons.
   */
  --colour-ti-base: #1a202c;
  --colour-ti-base-light: #1a202c; /* No override */
  --colour-ti-base-dark: #eeeef0; /* No override */
  --colour-ti-secondary: #4c4d58;
  --colour-ti-muted: #737584;
  --colour-ti-highlight: #1373d9;
  --colour-ti-warning: #713f12;
  --colour-ti-critical: #dc2626;
  --colour-ti-success: #1d783b;

  /*
   * Accent Colours
   * Used for accents, gradients, highlights.
   * *Do not use with text
   */
  --colour-accent-teal: #25a6a0;
  --colour-accent-blue: #37ADF9;
  --colour-accent-purple: #ae55f7;
  --colour-accent-orange: #ea7308;
  --colour-accent-pink: #e247c4;
  --colour-accent-gray: #6e6f9b;

  /*
   * Brand Colours
   * Appointment
   */
  --colour-apmt-soft: #f3f9fc;
  --colour-apmt-primary: #008080;
  --colour-apmt-primary-hover: #066769;
  --colour-apmt-primary-pressed: #0a5757;
  --colour-apmt-secondary: #81d4b5;
  --colour-apmt-accent-1: #a3ece3;
  --colour-apmt-accent-2: #03afd7;

  /*
   * Brand Colours
   * Send
   */
  --colour-send-soft: #fef7ec;
  --colour-send-primary: #f09d38;
  --colour-send-primary-hover: #f09d38;
  --colour-send-primary-pressed: #f09d38;
  --colour-send-primary-secondary: #aa6000;
  --colour-send-primary-accent-1: #1f8ddb;
  --colour-send-primary-accent-2: #1f8ddb;

  &.dark {
    /*
     * Neutral
     * Applied frequently for backgrounds, surfaces, dividers, and outlines.
     */
    --colour-neutral-base: #1a202c;
    --colour-neutral-lower: #18181b;
    --colour-neutral-raised: #262d3b;
    --colour-neutral-subtle: var(--colour-neutral-raised);
    --colour-neutral-border: #303a4a;
    --colour-neutral-border-intense: #3d4d67;

    /*
     * Primary
     * Applied frequently to surfaces highlight actions & information.
     */
    --colour-primary-soft: #262c40;
    --colour-primary-default: #58c9ff;
    --colour-primary-hover: #32aeff;
    --colour-primary-pressed: #1b90f5;
    /*--primary-text: #1A202C; // No matching light-mode variable! */

    /*
     * Secondary
     * Applied sparingly to highlight information.
     */
    --colour-secondary-soft: #3a0764;
    --colour-secondary-default: #f5e8ff;
    --colour-secondary-hover: #ecd5ff;
    --colour-secondary-pressed: #ddb4fe;

    /*
     * Success
     * Applied sparingly to show positive feedback/status.
     */
    --colour-success-soft: #082b16;
    --colour-success-default: #defae7;
    --colour-success-hover: #c0f2cf;
    --colour-success-pressed: #8ee7aa;

    /*
     * Warning
     * Applied sparingly to show warning feedback/status.
     * Notifications/messaging
     */
    --colour-warning-soft: #423606;
    --colour-warning-default: #fef2c3;
    --colour-warning-hover: #fee78a;
    --colour-warning-pressed: #fdd847;

    /*
     * Danger
     * Applied sparingly to show negative feedback/status or dangerous actions.
     * Errors
     */
    --colour-danger-soft: #7f1d1d;
    --colour-danger-default: #fee2e2;
    --colour-danger-hover: #fecaca;
    --colour-danger-pressed: #fca5a5;

    /*
     * Text+Icon
     * Applied frequently for text and icons.
     */
    --colour-ti-base: #eeeef0;
    --colour-ti-secondary: #d9d9de;
    --colour-ti-muted: #7f94ac;
    --colour-ti-highlight: #58c9ff;
    --colour-ti-warning: #fee78a;
    --colour-ti-critical: #ef4444;
    --colour-ti-success: #55d37e;

    /*
     * Accent Colours
     * Used for accents, gradients, highlights.
     * *Do not use with text
     */
    --colour-accent-teal: #a3ece3;
    --colour-accent-blue: #58c9ff;
    --colour-accent-purple: #8022ce;
    --colour-accent-orange: #fec18a;
    --colour-accent-pink: #fbd3f6;
    --colour-accent-gray: #c3cade;

    /*
     * Brand Colours
     * Appointment
     */
    --colour-apmt-soft: #152f3c;
    --colour-apmt-primary: #a3ece3;
    --colour-apmt-primary-hover: #6ddbd1;
    --colour-apmt-primary-pressed: #3ec3ba;
    --colour-apmt-secondary: #25a6a0;
    --colour-apmt-accent-1: #a3ece3;
    --colour-apmt-accent-2: #58c9ff;

    /*
     * Brand Colours
     * Send
     */
    --colour-send-soft: #411107;
    --colour-send-primary: #f09d38;
    --colour-send-primary-hover: #f09d38;
    --colour-send-primary-pressed: #f09d38;
    --colour-send-primary-secondary: #aa6000;
    --colour-send-primary-accent-1: #1f8ddb;
    --colour-send-primary-accent-2: #1f8ddb;
  }

  /*
  * Brand Colours
  * Thunderbird
  * The fallback if no service is set.
  */
  --colour-service-soft: var(--colour-primary-soft);
  --colour-service-primary: var(--colour-primary-default);
  --colour-service-primary-hover: var(--colour-primary-hover);
  --colour-service-primary-pressed: var(--colour-primary-pressed);
  --colour-service-secondary: var(--colour-secondary-default);
  --colour-service-accent-1: var(--colour-accent-purple);
  --colour-service-accent-2: var(--colour-accent-teal);

  &[data-tbpro-service='apmt'] {
    --colour-service-soft: var(--colour-apmt-soft);
    --colour-service-primary: var(--colour-apmt-primary);
    --colour-service-primary-hover: var(--colour-apmt-primary-hover);
    --colour-service-primary-pressed: var(--colour-apmt-primary-pressed);
    --colour-service-secondary: var(--colour-apmt-secondary);
    --colour-service-accent-1: var(--colour-apmt-accent-1);
    --colour-service-accent-2: var(--colour-apmt-accent-2);
  }
  &[data-tbpro-service='send'] {
    --colour-service-soft: var(--colour-primary-soft);
    --colour-service-primary: var(--colour-primary-default);
    --colour-service-primary-hover: var(--colour-primary-hover);
    --colour-service-primary-pressed: var(--colour-primary-pressed);
    --colour-service-secondary: var(--colour-neutral-subtle);
    --colour-service-accent-1: var(--colour-send-primary-accent-1);
    --colour-service-accent-2: var(--colour-send-primary-accent-2);
  }
  /*
  &[data-tbpro-service='send'] {
    --colour-service-soft: var(--colour-send-soft);
    --colour-service-primary: var(--colour-send-primary);
    --colour-service-primary-hover: var(--colour-send-primary-hover);
    --colour-service-primary-pressed: var(--colour-send-primary-pressed);
    --colour-service-secondary: var(--colour-send-primary-secondary);
    --colour-service-accent-1: var(--colour-send-primary-accent-1);
    --colour-service-accent-2: var(--colour-send-primary-accent-2);
  }
  */
}
