:root {
    // Surface
    --color-surface-base: #feffff;
    --color-surface-raised: #feffff;
    --color-surface-lower: #f7f7f7;
    --color-surface-subtle: #f7f7f7;
    --color-surface-deep: #d9d9de;
    --color-surface-border: #d9d9de;
    --color-surface-border-intense: #91939f;

    // Primary
    --color-primary-soft: #f0f8ff;
    --color-primary-default: #1373d9;
    --color-primary-hover: #175fb6;
    --color-primary-pressed: #19518f;

    // Secondary
    --color-secondary-soft: #faf5ff;
    --color-secondary-default: #6b21a8;
    --color-secondary-hover: #571c87;
    --color-secondary-pressed: #3a0764;

    // Success
    --color-success-soft: #f4f9f4;
    --color-success-default: #1d783b;
    --color-success-hover: #1c5f32;
    --color-success-pressed: #194e2c;

    // Warning
    --color-warning-soft: #fefae8;
    --color-warning-default: #facc15;
    --color-warning-hover: #eabd08;
    --color-warning-pressed: #caa204;

    // Critical
    --color-critical-soft: #fef2f2;
    --color-critical-default: #991b1b;
    --color-critical-hover: #7f1d1d;
    --color-critical-pressed: #450a0a;

    // Text + Icon
    --color-text-base: #1a202c;
    --color-text-secondary: #4c4d58;
    --color-text-muted: #737584;
    --color-text-highlight: #1373d9;
    --color-text-warning: #713f12;
    --color-text-critical: #dc2626;
    --color-text-sucess: #1d783b;

    --color-icon-base: #1a202c;
    --color-icon-secondary: #4c4d58;
    --color-icon-muted: #737584;
    --color-icon-highlight: #1373d9;
    --color-icon-warning: #713f12;
    --color-icon-critical: #dc2626;
    --color-icon-sucess: #1d783b;

    // Accent
    --color-teal: #25a6a0;
    --color-blue: #58c9ff;
    --color-purple: #ae55f7;
    --color-orange: #ea7308;
    --color-pink: #e247c4;
    --color-ink: #6e6f9b;
}


@media (prefers-color-scheme: dark) {
  :root {
    // Surface
    --color-surface-base: #1a202c;
    --color-surface-raised: #262d3b;
    --color-surface-lower: #18181b;
    --color-surface-subtle: #262d3b;
    --color-surface-deep: #3d4d67;
    --color-surface-border: #3d4d67;
    --color-surface-border-intense: #5e7799;

    // Primary
    --color-primary-soft: #262c40;
    --color-primary-default: #58c9ff;
    --color-primary-hover: #32aeff;
    --color-primary-pressed: #1b90f5;

    // Secondary
    --color-secondary-soft: #3a0764;
    --color-secondary-default: #f5e8ff;
    --color-secondary-hover: #ecd5ff;
    --color-secondary-pressed: #ddb4fe;

    // Success
    --color-success-soft: #082b16;
    --color-success-default: #defae7;
    --color-success-hover: #c0f2cf;
    --color-success-pressed: #81d4b5;

    // Warning
    --color-warning-soft: #423606;
    --color-warning-default: #fef2c3;
    --color-warning-hover: #fee78a;
    --color-warning-pressed: #fdd847;

    // Critical
    --color-critical-soft: #7f1d1d;
    --color-critical-default: #fca5a5;
    --color-critical-hover: #f87171;
    --color-critical-pressed: #ef4444;

    // Text + Icon
    --color-text-base: #eeeef0;
    --color-text-secondary: #e4e4e7;
    --color-text-muted: #7f94ac;
    --color-text-highlight: #58c9ff;
    --color-text-warning: #fee78a;
    --color-text-critical: #ef4444;
    --color-text-sucess: #55d37e;

    --color-icon-base: #eeeef0;
    --color-icon-secondary: #e4e4e7;
    --color-icon-muted: #7f94ac;
    --color-icon-highlight: #58c9ff;
    --color-icon-warning: #fee78a;
    --color-icon-critical: #ef4444;
    --color-icon-sucess: #55d37e;


    // Accent
    --color-teal: #a3ece3;
    --color-blue: #58c9ff;
    --color-purple: #8022ce;
    --color-orange: #fec18a;
    --color-pink: #fbd3f6;
    --color-ink: #c3cade;
  }
}
