// mixins for images.
@import "../common/images.less";

// Bases
@import "../new-style.less";
// @import "./new/animations.less";
// @import "./new/shadows.less";
// @import "./new/sizing.less";
// @import "./new/layout.less";
// @import "./new/variables.less";

// Components
// @import "./new/components/accordion.less";
// @import "./new/components/buttons.less";
// @import "./new/components/forms.less";
// @import "./new/components/site-nav.less";
// @import "./new/components/testimonial.less";
// @import "./new/components/pre-footer.less";
// @import "./new/components/announcement.less";
@import "../new/components/donate-cta.less";
@import "../new/components/donate-cta-overrides.less";
@import "../new/components/heart-lines.less";

// @import "./new/components/dialog.less";
// @import "../new/components/updates-footer.less";

@import "../common/fonts.less";


:root {
    --color-appeal-main-bg: var(--color-white);
    --color-footer-txt: #105BBC;
    --color-appeal-txt: #18181B;
    --color-appeal-bg-border: #1373D9;

    --txt: var(--color-appeal-txt);
    --shadow: 0 4px 16px rgba(0, 0, 0, 0.1);

    --font-content: Open Sans, system-ui, sans-serif;
    --min-small-screen: 23.438rem;

}

// Ensure the footer is contained at the bottom and by default the page extends to at least a full page.
html, body {
    min-height: 100%;
}

main {
  // height: 100%;
}


// Scope to just the appeal page
.page-appeal-nov25 {
    --background-illustration-height: 1048px;
    background-color: black;
    main {
        .mixin-background-image('/media/img/thunderbird/appeal/nov25/2025-nov-appeal-xs-bkg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        margin: auto;
        max-width: 100rem;
        min-height: var(--background-illustration-height);
        min-width: 23.438rem;

        @media (min-width: @md) {
        }

        @media (min-width: @lg) {
            .mixin-background-image('/media/img/thunderbird/appeal/nov25/2025-nov-appeal-xl-bkg');
            background-position: center top;
            min-height: var(--background-illustration-height);
        }
    }

    #main-content {
        --width-left-column: 53%;
        display: flex;
        flex-direction: column;

        @media (min-width: @lg) {
            flex-direction: row;

            // Column of white space.
            &::before {
                content: '';
                flex: 0 0 var(--width-left-column);
            }
        }
    }


    #appeal-body {
        --appeal-content-width: 34rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: @lg) {
            align-items: flex-start;
            flex: 0 0 calc((100% - var(--width-left-column)) - 2rem);

        }

        // Placing inside #appeal-body for Nov25
        #appeal-heading {
            .mixin-font-styles(
                @family-metropolis,
                600,
                3rem,
                1.1
            );
            color: black;
            margin-block: 4rem;
            width: 100%;
            @media (min-width: @sm) {
                max-width: var(--appeal-content-width);
            }

            @media (min-width: @xl) {
                font-size: 4rem;
            }

            span {
                display: block;
            }

        }

        .letter-container {
            background: var(--color-appeal-main-bg);

            @media (min-width: @sm) {
                border: 0.063rem solid var(--color-appeal-bg-border);
                border-radius: 0.75rem;
                box-shadow: var(--shadow);
                max-width: var(--appeal-content-width);
            }

            #donate-button-container {
                max-width: 22.188rem;
                margin: 0 auto;
                margin-top: -4rem;

                @media (min-width: @md) {
                    max-width: 29.375rem;
                }
            }


            p {
                width: 100%;
                font-size: 1.125rem;
                // margin: 0 0 1.5rem;
                @media (min-width: @md) {
                    font-size: 1.5rem;
                }
            }

            /* Declaring this style here, as it has more precedence. */
            .closing-text {
                font-size: 1rem;
            }
        }

    }

    #footer {
        background: black;
    }



}
